<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customJs">
		<script>
			$(function(){
				$('#idCheck').click(function(){
					//console.log('클릭이벤트 확인');
					var memberId = $("[name = memberId ]").val();
					console.log(memberId);
					
					$.ajax({
						url: "/idCheck",
						type: "POST",
						dataType: "json",
						data: {memberId:memberId},

						success: function(data){
							if(data){
								alert('사용가능한 아이디입니다.');
								$('[name = memberId ]').attr('disabled',"disabled")
								
								$('#addMemberForm input').prop('disabled',false);
								$('#addMemberForm select').prop('disabled',false);
								$('#addMemberForm button').prop('disabled',false);
							}else if(data == false){
								
								alert('중복아이디입니다 다른아이디를 사용해주세요');
								$('[name = memberId ]').focus();
							}
							
							console.log(data);
						},
						error: function (request, status, error){
							console.log(error);
						}
					});
				});
				
				$('#addMemberBtn').click(function(){
					console.log('addMemberBtn 클릭이벤트 실행');
					
					var regexPw = /^.*(?=^.{2,8}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
					var regexEmail= /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
					var submitFlag = true;
					var inputObj = $('#addMemberForm').find('input'); 
					//console.log(inputObj);
					$.each(inputObj,function(e){

						var inputName = $(this).attr('name');
						var inputValue = $(this).val();
						var inputLabel = $(this).parents('tr').children().eq(0).text().trim();
						//console.log('inputLabel:'+ inputLabel);
						
						if(inputName == 'memberPw'){
							if( !regexPw.test(inputValue)){
								console.log(!regexPw.test(inputValue));
								alert(inputLabel +'을 다시 입력하세요. 비밀번호 조건은 최소2자에서 최대8자 특수문자 1개이상 포함 영어 대문자 1개이상 포함해주세요 ');
								$(this).focus();
								submitFlag = false;
								return submitFlag;
							}
						}else if(inputName == 'memberEmail'){
							if(!regexEmail.test(inputValue)){
								alert(inputLabel + ' 을 다시 입력해주세요.');
								$(this).focus();
								submitFlag = false;
								return submitFlag;
							}
						}else{
							if(inputValue == '' || inputValue == undefined || inputValue == null){
								alert(inputLabel + ' 을 입력해주세요.');
								$(this).focus();
								submitFlag = false;
								return submitFlag;
							}
						}
					});
					
					if(submitFlag) memberForm.submit();
				});
			});
		
		
		</script>
	</th:block>
		
	
	</th:block>
	
	<th:block layout:fragment="customContents">
		🙌🙌 회원가입 화면입니다 🙌🙌
		
			<form th:action="@{/addMember}" method="post" id="addMemberForm">
				<table border="1">
					<tr>
						<td>
							아이디
						</td>
						<td>
							<input type="text" name="memberId" placeholder="아이디를 입력해주세요" >
						</td>
						<td>
							<button type="button" id="idCheck">중복체크</button>
						</td>
					</tr>
					<tr>
						<td>
							비번
						</td>
						<td>
							<input type="text" name="memberPw" placeholder="비번 입력해주세요" disabled="disabled">
						</td>
					</tr>	
					<tr>
						<td>
							이름
						</td>
						<td>
							<input type="text" name="memberName" placeholder="이름 입력해주세요" disabled="disabled">
						</td>
					</tr>
					<tr>
						<td>
							권한
						</td>
						<td>
							<select name="memberLevel"  disabled="disabled">
								<option value="1">관리자</option>
								<option value="2">판매자</option>
								<option value="3">구매자</option>
							</select>
						</td>
					</tr>
						
					<tr>	
						<td>
							이메일
						</td>
						<td>
							<input type="text" name="memberEmail" placeholder="이메일 입력해주세요" disabled="disabled">
						</td>
					</tr>
					<tr>
						<td>
							주소
						</td>
						<td>
							<input type="text" name="memberAddr" placeholder="주소입력해주세요" disabled="disabled">
						</td>
					</tr>
					
				</table>
				<button id="addMemberBtn" type="button" disabled="disabled">회원가입</button>
			</form>
		
	</th:block>
	
	
	
</html>