<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
	
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customContents">
		🙌🙌 회원삭제 화면입니다 🙌🙌
		
			<form th:action="@{/removeMember}" method="post">
				<table border="1">
					<tr>
						<td>
							아이디
						</td>
						<td>
							<input type="text" name="memberId" th:value="${memberId}">
						</td>
					</tr>
					<tr>
						<td>
							비번
						</td>
						<td>
							<input type="text" name="memberPw" >
						</td>
					</tr>
					
					
				</table>
				<button type="submit">회원삭제</button>
			</form>
		
	</th:block>
	
	
	
</html>