<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="myChallengeSearchForm" class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">나의 챌린지 조회</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                
			                
                             <div class="col-md-10 offset-md-1">
			                        <div class="row">
                                 <div class="col-3">
			                                <div class="form-group">
			                                    <label>카테고리</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>학력</option>
							                          <option>프로젝트</option>
							                          <option>자격증</option>
							                          <option>공인어학(외국어능력)</option>
							                          <option>기술스택</option>
							                          <option>직종전문교육과정</option>
							                          <option>인턴십</option>
							                          <option>공모전</option>
							                          <option>경력</option>
                                   				 </select>
			                                </div>
			                            </div>
                                 	
			                            <div class="col-3">
                                         <div class="form-group">
                                             <label>챌린지 기간선택</label>
                                             <input type="date" id="adminChallengeStartDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>&emsp;</label>
                                             <input type="date" id="adminChallengeEndDate" class="form-control" placeholder="챌린지 종료일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
			                                <div class="form-group">
			                                    <label>챌린지 기간</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>1주</option>
							                          <option>2주</option>
							                          <option>3주</option>
							                          <option>1개월</option>
							                          <option>2개월</option>
							                          <option>3개월</option>
							                          <option>6개월</option>
                                   				 </select>
			                                </div>
			                            </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>기간별 정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>시작일 기준</option>
			                                        <option>종료일 기준</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>최신순</option>
			                                        <option>오래된순</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
			                                <div class="form-group">
			                                    <label>인증빈도</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>월~일 매일 인증하기</option>
							                          <option>월~금 매일 인증하기</option>
							                          <option>토~일 매일 인증하기</option>
							                          <option>주 6일 인증하기</option>
							                          <option>주 5일 인증하기</option>
							                          <option>주 4일 인증하기</option>
							                          <option>주 3일 인증하기</option>
							                          <option>주 2일 인증하기</option>
							                          <option>주 1일 인증하기</option>
                                   				 </select>
			                                </div>
			                            </div>
                                     </div>
			                        
			                        
			                        <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <div class="col-3">
			                                <div class="form-group">
			                                    <label>검색옵션</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>챌린지명</option>
			  										<option>인증내용</option>
			  										<option>챌린지명+인증내용</option>
			  										<option>태그</option>
												</select>
			                                </div>
			                            </div>
			                            
			                            	<input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="검색어를 입력해주세요" value="">
			                                <div class="input-group-append">
			                                    <button type="button" class="btn btn-lg btn-default btn-sm certificationPossibleBtn" id="certificationPossibleBtn" style="height : 49px;margin-top : 25px;">
			                                        <i class="fa fa-search"></i>
			                                    </button>
			                                </div>
                                     </div>
                                 </div>
			                    </div>
                         </div>
                     </form>
                 </div>
             </section>
            </div>
       </div>
       <!-- /검색-->


<script type="text/javascript">
</script>
</html>