<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="modal-planEducationalHistoryDetail">

<!-- Modal -->
<div class="modal fade" id="modal-planEducationalHistoryDetail" tabindex="-1" role="dialog" aria-labelledby="modal-detailtitle1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-detailTitle1">학력 상세 계획 내용</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" > <!--th:text="${p.detailContents}값을 받아오는 방법?      plan_educational_detail_contents -->
        1학년 학점 4.0이상 <br/>
        2학년 학점 4.0이상<br/>
        1학년 성적 all A <br/>
		대학원전공 성적 all A <br/>
		인터넷응용보안공학과 전공성적 all A <br/>
       	졸업학점 채우기 <br/>
        3,4,5단계 시험 통과 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>














                



                
</th:block>

</html>






