<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="modal-planContestDetail">

<!-- Modal -->
<div class="modal fade" id="modal-planContestDetail" tabindex="-1" role="dialog" aria-labelledby="modal-detailtitle8" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-detailTitle8">공모전 상세 계획 내용</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" > <!--th:text="${p.detailContents}값을 받아오는 방법?      plan_contest_detail_contents -->
		빅데이터 분석  자료조사 <br> 
		아이디어 윤곽잡기
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>














                



                
</th:block>

</html>






