<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="modal-planTechnologyStackDetail">

<!-- Modal -->
<div class="modal fade" id="modal-planTechnologyStackDetail" tabindex="-1" role="dialog" aria-labelledby="modal-detailtitle5" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-detailTitle5">기술스택 상세 계획 내용</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" > <!--th:text="${p.detailContents}값을 받아오는 방법?      plan_technology_stack_detail_contents -->
		그림으로 배우는 java programming 한 권 완독하기<br>
		Do it 자바스크립트 + 제이쿼리 입문 한 권 완독하기<br>
		생활코딩 정주행
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>














                



                
</th:block>

</html>






