<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="modal-planJobTrainingDetail">

<!-- Modal -->
<div class="modal fade" id="modal-planJobTrainingDetail" tabindex="-1" role="dialog" aria-labelledby="modal-detailtitle6" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-detailTitle6">직종전문교육과정 상세 계획 내용</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" > <!--th:text="${p.detailContents}값을 받아오는 방법?      plan_job_training_detail_contents -->
	        학원 팀프로젝트 주제 고민해보자<br> 
	        과정에 필요한 예습 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>














                



                
</th:block>

</html>






