<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<input type="text" th:value="${mainCdp}" id="mainCdp" hidden />
	<div class="col-sm-4">
		<h1 class="m-0">나의 계획 한눈에보기</h1>
	</div><!-- /.col -->
	<!-- 우측 상단 경로바 -->
	<th:block th:replace="/fragments/plan/planTopSelect :: planTopSelect"></th:block>
</th:block>
<th:block layout:fragment="container">
	<section class="content">
		<div class="container-fluid" th:align="center">
			<!-- Default box -->
			<div class="card col-md-8">
				<div class="card-header" style="color: gray; text-align: right;">
					<span style="vertical-align : middle;">* 통합계획을 선택하면 계획을, 계획을 선택하면 상세 계획을 보여줍니다.</span>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-hover text-nowrap">
						<thead style="text-align: center;">
							<tr>
								<th style="text-align: center;" class="col-3">
									<h3>통합계획선택</h3>
								</th>
								<th class="col-9">
									<select class="form-control select2 select2-hidden-accessible" id="totalPlanSelect"
										style="vertical-align : middle; width: 100%;" aria-hidden="true">
										<option selected disabled>통합계획제목을 선택해주세요.</option>
										<option class="totalPlanTitle" th:each="tpl :${totalPlanList}"
											th:text="${tpl.planTitle}"></option>
									</select>

									<!-- 통합계획 제목과 일치하는 코드를 찾기위해 조회한 통합계획코드 hidden type의 input -->
									<input type="hidden" class="totalPlanCode" th:each="tpl :${totalPlanList}"
										th:value="${tpl.planCode}">
				</div>
				<!-- selected된 통합계획 코드를 담아두는 hidden type의 input -->
				<input type="hidden" class="selectTotalPlanCode">
			</div>
			</th>
			<th></th>
			</tr>
			<tr>
				<th>
					<select class="form-control select2 select2-hidden-accessible" id="planCateSelect"
						style="vertical-align : middle; width: 100%;" aria-hidden="true" disabled>
						<option value="" selected disabled>계획 카테고리선택</option>
						<option value="getEducationalHistoryPlan">학력 계획</option>
						<option value="getProjectPlan">프로젝트 계획</option>
						<option value="getCertificatePlan">자격증 계획</option>
						<option value="getCertifiedLanguagePlan">공인어학 계획</option>
						<option value="getTechnologyStackPlan">기술스택 계획</option>
						<option value="getJobTrainingPlan">직종전문교육과정 계획</option>
						<option value="getInternshipPlan">인턴십 계획</option>
						<option value="getContestPlan">공모전 계획</option>
						<option value="getCareerPlan">경력 계획</option>
					</select>
				</th>
				<th>
					<select class="form-control select2 select2-hidden-accessible" id="planTitleSelect"
						style="vertical-align : middle; width: 100%;" aria-hidden="true" disabled>
						<option value="" selected disabled>계획카테고리를 선택하세요.</option>
					</select>
				</th>
				<th></th>
			</tr>
			</thead>
			<tbody class="col-9 tableBody">
				<tr id="getEducationalHistoryPlan" hidden>
					<th>학력 계획</th>
					<td>
						<ul id="getEducationalHistoryPlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getEducationalHistoryPlanStatus">

						</ul>
					</td>
				</tr>
				<tr id="getProjectPlan" hidden>
					<th>프로젝트 계획</th>
					<td>
						<ul id="getProjectPlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getProjectPlanStatus">
						</ul>
					</td>
				</tr>
				<tr id="getCertificatePlan" hidden>
					<th>자격증 계획</th>
					<td>
						<ul id="getCertificatePlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getCertificatePlanStatus">
						</ul>
					</td>
				</tr>
				<tr id="getCertifiedLanguagePlan" hidden>
					<th>공인어학 계획</th>
					<td>
						<ul id="getCertifiedLanguagePlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getCertifiedLanguagePlanStatus">
						</ul>
					</td>
				</tr>
				<tr id="getTechnologyStackPlan" hidden>
					<th>기술스택 계획</th>
					<td>
						<ul id="getTechnologyStackPlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getTechnologyStackPlanStatus">
						</ul>
					</td>
				</tr>
				<tr id="getJobTrainingPlan" hidden>
					<th>직종전문교육과정 계획</th>
					<td>
						<ul id="getJobTrainingPlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getJobTrainingPlanStatus">
						</ul>
					</td>
				</tr>
				<tr id="getInternshipPlan" hidden>
					<th>인턴십 계획</th>
					<td>
						<ul id="getInternshipPlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getInternshipPlanStatus">
						</ul>
					</td>
				</tr>
				<tr id="getContestPlan" hidden>
					<th>공모전 계획</th>
					<td>
						<ul id="getContestPlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getContestPlanStatus">
						</ul>
					</td>
				</tr>
				<tr id="getCareerPlan" hidden>
					<th>경력 계획</th>
					<td>
						<ul id="getCareerPlanTitle">
						</ul>
					</td>
					<td>
						<ul id="getCareerPlanStatus">
						</ul>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- /.card-body -->
		</div>
		<!-- /.card -->
		</div>
	</section>



</th:block>
<th:block layout:fragment="pageJavascript">
	<script type="text/javascript">
		$(function () {
			var mainCdp = $('#mainCdp').val();
			if (mainCdp == "mainCdp") {
				alert("경로가 mainCdp로 되어있습니다. 경로수정 하세요.");
			};
			$('table').find('li').css({
				'list-style': 'none'
				, 'text-align': 'center'
				, 'padding-left': '0px'
			})
			$('table').find('ul').css({
				'padding-left': '0px'
			})
			$('table').find('th').css({
				'vertical-align': 'middle'
			})
			var selectIndex = '';
			var totalPlanCodeValue = '';

			// 통합계획 change시 선택한 통합계획의 모든 하위 계획 카테고리 전체 계획 한 눈에 보여주는 메서드
			$(document).on('change', '#totalPlanSelect', function () {
				$('.tableBody').children().removeAttr('hidden');
				$('#planCateSelect').prop('disabled', false);

				// 통합계획 변경 시 계획 카테고리 및 계획 선택 초기화 작업
				$('#planCateSelect').children().remove();
				$('#planCateSelect').html('<option value="" selected disabled>계획 카테고리선택</option>'
					+ '<option value="getEducationalHistoryPlan">학력 계획</option>'
					+ '<option value="getProjectPlan">프로젝트 계획</option>'
					+ '<option value="getCertificatePlan">자격증 계획</option>'
					+ '<option value="getCertifiedLanguagePlan">공인어학 계획</option>'
					+ '<option value="getTechnologyStackPlan">기술스택 계획</option>'
					+ '<option value="getJobTrainingPlan">직종전문교육과정 계획</option>'
					+ '<option value="getInternshipPlan">인턴십 계획</option>'
					+ '<option value="getContestPlan">공모전 계획</option>'
					+ '<option value="getCareerPlan">경력 계획</option>');
				$('#planTitleSelect').children().remove();
				$('#planTitleSelect').html('<option value="" selected disabled>계획카테고리를 선택하세요.</option>');
				$('#planTitleSelect').attr('disabled', true);

				// select에서 선택한 option의 인덱스를 추출하여 변수에 담는다.(select에서 선택한 option의 인덱스와 input의 인덱스를 맞추기 위해 -1을 해주었다)
				selectIndex = $(this).children('option:selected').index() - 1;

				// 해당 option의 부모로 이동하여 자식중에 code를 담고있는 input을 찾아 같은 인덱스를 가진 input의 코드값을 추출하여 변수에 담는다.
				totalPlanCodeValue = $(this).parent().find('.totalPlanCode').eq(selectIndex).val();
				$('.selectTotalPlanCode').val(totalPlanCodeValue);

				// 잘 받아오는지 체크
				console.log('선택한 통합계획 제목 : ', $('#totalPlanSelect').val());
				console.log('선택한 select option의 index 번호 : ', selectIndex);
				console.log('선택한 통합계획의 totalPlanCode : ', totalPlanCodeValue);
				console.log('선택하여 담아둔 totalPlanCode : ', $('.selectTotalPlanCode').val());

				/* totalPlanSelectn AJAX */
				var request = $.ajax({
					url: "/totalPlanSelect",
					method: "POST",
					data: {totalPlanCodeValue: totalPlanCodeValue},
					dataType: "json"
				});

				// 선택에 따라 변경 된 html 삽입을 위한 사전 remove 처리
				$('#planEducationalHistory').children().remove();
				$('#planProject').children().remove();

				// Ajax 요청하여 응답받은 리스트 객체 이름과 화면에 뿌려줄 각 계획 카테고리를 맞추기 위해 배열에 일치하는 문자열을 담아 반복문을 사용하여 각 카테고리 영역에 해당하는 계획을 조회한 리스트를 뿌려줌
				var planCate = ['getEducationalHistoryPlan', 'getProjectPlan', 'getCertificatePlan', 'getCertifiedLanguagePlan', 'getTechnologyStackPlan', 'getJobTrainingPlan', 'getInternshipPlan', 'getContestPlan', 'getCareerPlan'];

				// 서버 요청 후 정상적으로 응답받은 데이터 활용하는 메서드
				request.done(function (resultPlan) {
					var titleLi = '';
					var statusLi = '';
					var planTitleHtml = '';
					var planStatusHtml = '';
					$.each(planCate, function (index, planItem) {
						if (resultPlan['getEducationalHistoryPlan'] != null && resultPlan['getEducationalHistoryPlan'] != undefined && resultPlan['getEducationalHistoryPlan'] != '' && resultPlan['getEducationalHistoryPlan'].length > 0) {
							$.each(resultPlan[planItem], function (index, item) {
								//console.log('item',item);
								titleLi += '<a href="/planEducationalHistory">';
								titleLi += '<li style="list-style: none; text-align: center; padding-left: 0px;">';
								titleLi += item.planTitle;
								titleLi += '</li>';
								titleLi += '</a>';
								statusLi += '<li style="list-style: none; text-align: center; padding-left: 0px;">';
								statusLi += item.planStatus;
								statusLi += '</li>';
							});
							planTitleHtml = '#' + planItem + 'Title';
							planStatusHtml = '#' + planItem + 'Status';
							$(planTitleHtml).html(titleLi);
							$(planStatusHtml).html(statusLi);
							titleLi = '';
							statusLi = '';
							planTitleHtml = '';
							planStatusHtml = '';

						} else {
							titleLi += '<li style="list-style: none; text-align: center; padding-left: 0px;">';
							titleLi += '등록된 계획이 없습니다.';
							titleLi += '</li>';
							planTitleHtml = '#' + planItem + 'Title';
							planStatusHtml = '#' + planItem + 'Status';
							$(planTitleHtml).html(titleLi);
							$(planStatusHtml).html(statusLi);
							titleLi = '';
							statusLi = '';
							planTitleHtml = '';
							planStatusHtml = '';
						};
					});
				});

				// 서버 요청 후 응답이 정상적이지 않았을 경우 실행되는 메서드
				request.fail(function (jqXHR, textStatus) {
					alert("Request failed: " + textStatus);
				});
			});


			// 계획 카테고리 change시 선택한 통합계획 하위의 해당 카테고리 계획 타이틀 노출
			$(document).on('change', '#planCateSelect', function () {
				var planCateSelect = $('#planCateSelect').val();
				var selectTotalPlanCode = $('.selectTotalPlanCode').val();
				$('#planTitleSelect').prop('disabled', false);

				var request = $.ajax({
					url: "/planCateSelect",
					method: "POST",
					data: {totalPlanCodeValue: selectTotalPlanCode, planCateSelect: planCateSelect},
					dataType: "json"
				});

				// 선택에 따라 변경 된 html 삽입을 위한 사전 remove 처리
				$('#planTitleSelect').children().remove();

				// 서버 요청 후 정상적으로 응답받은 데이터 활용하는 메서드 (선택된 통합계획 하위 계획 카테고리 선택시 응답받은 계획리스트객체)
				request.done(function (resultPlan) {
					var cateHtml = '<option selected disabled>계획을 선택하세요.</option>';
					if (resultPlan[0].planTitle != null && resultPlan[0].planTitle != undefined && resultPlan[0].planTitle != '' && resultPlan[0].planTitle.length > 0) {
						$.each(resultPlan, function (index, item) {
							cateHtml += '<option>';
							cateHtml += item.planTitle;
							cateHtml += '</option>';
							console.log('cateHtml : -> ', cateHtml);
						});
					} else {
						$('#planTitleSelect').children().remove();
						cateHtml += '<option selected>선택한 계획 카테고리에 등록된 계획이 없습니다.</option>';
					};
					$('#planTitleSelect').html(cateHtml);

				});

				// 서버 요청 후 응답이 정상적이지 않았을 경우 실행되는 메서드
				request.fail(function (jqXHR, textStatus) {
					alert("Request failed: " + textStatus);
				});
			});

			$(document).on('change', '#planCateSelect', function () {
				$('.tableBody').children().attr('hidden', 'hidden');
				console.log($(this).val());
			});
		});

	</script>
</th:block>

</html>