<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devcdper.user_admin.dao.AdminUserMapper">

	<resultMap type="AdminUser" id="AdminUserResultMap">
		<result property="adminEmail"				column="admin_email"/>
		<result property="adminPassword"			column="admin_password"/>
		<result property="adminName"				column="admin_name"/>
		<result property="adminLevel"				column="admin_level"/>
		<result property="adminMobile"				column="admin_mobile"/>
		<result property="adminJoinDate"			column="admin_join_date"/>
	</resultMap>
	
	<select id="FindAdminEmail" parameterType="String" resultMap="AdminUserResultMap">
		SELECT 
			admin_email
		FROM 
			admin
		WHERE 
			admin_name = #{adminName} 
		AND 
			admin_mobile = #{adminMobile}
		
	</select>
	
	<update id="modifyAdminUser" parameterType="AdminUser">
		UPDATE
			admin
		SET
			admin_email = #{adminEmail}
			,admin_password=#{adminPassword}
			,admin_name=#{adminName}
			,admin_level=#{adminLevel}
			,admin_mobile=#{adminMobile}
		WHERE 
			admin_email=#{adminEmail};
	</update>
	
	<select id="getAdminInfoById" parameterType="String" resultMap="AdminUserResultMap">
			SELECT 
			admin_email
			, admin_password
			, admin_name
			, admin_level
			, admin_mobile
			, admin_join_date
		FROM 
			admin 
		WHERE 
			admin_email = #{adminEmail};
	</select>
	
	<insert id="addAdminUser" parameterType="AdminUser">
		INSERT INTO admin
			(admin_email
			, admin_password
			, admin_name
			, admin_level
			, admin_mobile
			, admin_join_date
			)VALUES(
			#{adminEmail}
			, #{adminPassword}
			, #{adminName}
			, #{adminLevel}
			, #{adminMobile}
			, CURDATE());
	</insert>
	
	<select id="getAdminUserList" resultType="AdminUser">
		SELECT 
			admin_email				AS adminEmail
			, admin_password		AS adminPassword
			, admin_name			AS adminName
			, admin_level			AS adminLevel
			, admin_mobile			AS adminMobile
			, admin_join_date		AS adminJoinDate
		FROM 
			admin;					
	</select>

</mapper>
