<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.devcdper.coaching.dao.CoachingMapper">

<!-- coachingClient Mypage -->
	<resultMap type="com.devcdper.coaching.domain.CoachingRFQ" id="CoachingListMap">
		<result property="coachingRFQCode"						column="coaching_RFQ_code"/>
		<result property="coachingCategoryCode"					column="coaching_category_code"/>
		<result property="totalPlanCode"						column="total_plan_code"/>
		<result property="planDetailCode"						column="plan_detail_code"/>
		<result property="coachUserEmail"						column="coach_user_email"/>
		<result property="userEmail"							column="user_email"/>
		<result property="coachClassification"					column="coach_classification"/>
		<result property="coachingRFQStartDate"					column="coaching_RFQ_start_date"/>
		<result property="coachingRFQEndDate"					column="coaching_RFQ_end_date"/>
		<result property="coachingRFQDay"						column="coaching_RFQ_day"/>
		<result property="coachingRFQWishfulThinking"			column="coaching_RFQ_wishful_thinking"/>
		<result property="coachingRFQRequestDate"				column="coaching_RFQ_request_date"/>
		<association property="coachingRFQResult" 			javaType="com.devcdper.coaching.domain.CoachingRFQResult">
			<id property="coachingRFQResultCode"  					column="coaching_RFQ_result_code" />
			<result property="coachingCategoryCode"					column="coaching_category_code"/>
			<result property="coachingRFQCode"						column="coaching_RFQ_code"/>
			<result property="totalPlanCode"						column="total_plan_code"/>
			<result property="planDetailCode"						column="plan_detail_code"/>
			<result property="coachUserEmail"						column="coach_user_email"/>
			<result property="userEmail"							column="user_email"/>
			<result property="coachingRFQResultCost"				column="coaching_RFQ_result_cost"/>
			<result property="coachingRFQResultDay"					column="coaching_RFQ_result_day"/>
			<result property="coachingRFQResultCostPerHour"			column="coaching_RFQ_result_costPerHour"/>
			<result property="coachingRFQResultTime"				column="coaching_RFQ_result_time"/>
			<result property="coachingRFQResultMethod"				column="coaching_RFQ_result_method"/>
			<result property="coachingRFQResultArea"				column="coaching_RFQ_result_area"/>
			<result property="coachingRFQResultAgreement"			column="coaching_RFQ_result_agreement"/>
			<result property="coachingRFQResultServiceStartDate"	column="coaching_RFQ_result_service_start_date"/>
			<result property="coachingRFQResultServiceEndDate"		column="coaching_RFQ_result_service_end_date"/>
			<result property="coachingRFQResultRegisterDate"		column="coaching_RFQ_result_register_date"/>
		</association>
		<association property="coachingApplyAndPayment" 		javaType="com.devcdper.coaching.domain.CoachingApplyAndPayment">
			<id property="coachingApplyAndPaymentCode"  				column="coaching_apply_and_payment_code" />
			<result property="coachingCategoryCode"						column="coaching_category_code"/>
			<result property="coachingRFQCode"							column="coaching_RFQ_code"/>
			<result property="coachingRFQResultCode"					column="coaching_RFQ_result_cost"/>
			<result property="coachUserEmail"							column="coach_user_email"/>
			<result property="totalPlanCode"							column="total_plan_code"/>
			<result property="planDetailCode"							column="plan_detail_code"/>
			<result property="userEmail"								column="user_email"/>
			<result property="allPaymentConnectGroupCode"				column="all_payment_connect_group_code"/>
			<result property="coachingApplyAndPaymentServiceStartDate"	column="coaching_apply_and_payment_service_start_date"/>
			<result property="coachingApplyAndPaymentServiceEndDate"	column="coaching_apply_and_payment_service_end_date"/>
			<result property="coachingApplyCost"						column="coaching_apply_cost"/>
			<result property="coachingProgressStatus"					column="coaching_progress_status"/>
			<result property="coachingApplyAndPaymentRegisterDate"		column="coaching_apply_and_payment_register_date"/>
			<result property="paymentCode"								column="payment_code"/>
		</association>
		<association property="coachingUser" 		javaType="com.devcdper.coaching.domain.CoachingUser">
			<id property="coachEmail" 							column="coach_user_email"/>
			<result property="coachPassword"				 		column="coach_password"/>
			<result property="coachName" 							column="coach_name"/>
			<result property="coachBirth" 							column="coach_birth"/>
			<result property="coachAddr"					 		column="coach_addr"/>
			<result property="coachAddrDetail" 						column="coach_addr_detail"/>
			<result property="coachGender" 							column="coach_gender"/>
			<result property="coachMobile" 							column="coach_mobile"/>
			<result property="coachAuthority" 						column="coach_authority"/>
			<result property="coachJob" 							column="coach_job"/>
			<result property="coachProfileCareer" 					column="coach_profile_career"/>
			<result property="coachProfileTechStack" 				column="coach_profile_tech_stack"/>
			<result property="coachCertificate" 					column="coach_certificate"/>
			<result property="coachCareerDocumentaryEvidence" 		column="coach_career_documentary_evidence"/>
			<result property="coachCertificateDocumentaryEvidence" 	column="coach_certificate_documentary_evidence"/>
			<result property="coachJoinApproval" 					column="coach_join_approval"/>
			<result property="coachApproverEmail" 					column="coach_approver_email"/>
			<result property="coachIsReceiveMarketing" 				column="coach_is_receive_marketing"/>
			<result property="coachJoinMotivation" 					column="coach_join_motivation"/>
			<result property="coachJoinPath" 						column="coach_join_path"/>
			<result property="coachRecommendEmail" 					column="coach_recommend_email"/>
			<result property="coachJoinDate" 						column="coach_join_date"/>
			<result property="coachWithdrawStatus" 					column="coach_withdraw_status"/>
		</association>
		<association property="normalUser" 		javaType="com.devcdper.user_admin.domain.NormalUser">
			<id property="userEmail" 					column="user_email"/>
			<result property="userPassword" 			column="user_password"/>
			<result property="userName" 				column="user_name"/>
			<result property="userBirth" 				column="user_birth"/>
			<result property="userAddr" 				column="user_addr"/>
			<result property="userAddrDetail" 			column="user_addr_detail"/>
			<result property="userGender" 				column="user_gender"/>
			<result property="userMoblie" 				column="user_mobile"/>
			<result property="userJob" 		 			column="user_job"/>
			<result property="userIsReceiveMarketing" 	column="user_is_receive_marketing"/>
			<result property="userJoinMotivation" 		column="user_join_motivation"/>
			<result property="userJoinPath" 		 	column="user_join_path"/>
			<result property="userRecommendEmail" 		column="user_recommend_email"/>
			<result property="userJoinDate" 			column="user_join_date"/>
			<result property="userWithdrawStatus" 		column="user_withdraw_status"/>
		</association>
	</resultMap>
	
	<insert id="insertCoachingRFQResult" parameterType="Map">
		INSERT INTO coaching_RFQ_result
			(coaching_RFQ_result_code
			, coaching_category_code
			, coaching_RFQ_code
			, total_plan_code
			, plan_detail_code
			, coach_user_email
			, user_email
			, coaching_RFQ_result_cost
			, coaching_RFQ_result_day
			, coaching_RFQ_result_costPerHour
			, coaching_RFQ_result_time
			, coaching_RFQ_result_method
			, coaching_RFQ_result_area
			, coaching_RFQ_result_agreement
			, coaching_RFQ_result_service_start_date
			, coaching_RFQ_result_service_end_date
			, coaching_RFQ_result_register_date)
		VALUES (
					#{coachingRFQResultCode}
					, #{coachingCategoryCode}
					, #{coachingRFQCode}
					, null
					, null
					, #{coachUserEmail}
					, #{userEmail}
					, 0
					, #{coachingRFQResultDay}
					, #{coachingRFQResultCostPerHour}
					, #{coachingRFQResultTime}
					, #{coachingRFQResultMethod}
					, NULL
					, #{coachingRFQResultAgreement}			
					, #{coachingRFQResultServiceStartDate}
					, #{coachingRFQResultServiceEndDate}
					, (SELECT DATE_FORMAT(CURDATE(),'%Y-%m-%d'))
				)
			
	
	
	
	</insert>
	
	
	
	<update id="updateCoachingRFQ" parameterType="Map">
		UPDATE coaching_RFQ
		SET
			coaching_category_code= #{coachingCategoryCode},
			total_plan_code = #{totalPlanCode},
			plan_detail_code = null,
			coaching_RFQ_day = #{coachingRFQDay},
			coaching_RFQ_start_date= #{coachingRFQStartDate},
			coaching_RFQ_end_date= #{coachingRFQEndDate},
			coaching_RFQ_wishful_thinking= #{coachingRFQWishfulThinking}
		WHERE 
			coaching_RFQ_code = #{coachingRFQCode};	
	
	</update>

	 <insert id="insertCoachingRFQ" parameterType="Map">
		INSERT 
		INTO coaching_RFQ 
			(coaching_RFQ_code
			,coaching_category_code
			,total_plan_code
			,plan_detail_code
			,coach_user_email
			,user_email
			,coach_classification
			,coaching_RFQ_start_date
			,coaching_RFQ_end_date
			,coaching_RFQ_day
			,coaching_RFQ_wishful_thinking
			,coaching_RFQ_request_date	
			)
			VALUES(
			sf_createCode(),
			#{coachingCategoryCode},
			#{totalPlanCode},
			null,
			#{coachUserEmail},
			#{userEmail},
			#{coachClassification},
			#{coachingRFQStartDate},
			#{coachingRFQEndDate},
			#{coachingRFQDay},
			#{coachingRFQWishfulThinking},
			CURDATE()
			);
		
	
	</insert> 




<!-- 마이코칭페이지 client 화면 -->
	<select id="getMyCoachingList" parameterType="String" resultMap="CoachingListMap">
		SELECT
		*
		FROM coaching_RFQ AS q
			LEFT JOIN coaching_RFQ_result AS r
			ON q.coaching_RFQ_code = r.coaching_RFQ_code
		
			LEFT JOIN coaching_apply_and_payment AS a
			ON q.coaching_RFQ_code = a.coaching_RFQ_code
			INNER JOIN coach_user AS c
			ON q.coach_user_email = c.coach_user_email
			INNER JOIN user AS u
			ON q.user_email = u.user_email
			
		<if test="coachUserEmail != null and coachUserEmail != ''.toString()">	
			WHERE q.coach_user_email = #{coachUserEmail};
		</if>
		<if test="userEmail != null and userEmail != ''.toString()">
			WHERE q.user_email = #{userEmail};
		</if>
		<if test="coachUserEmail == null and userEmail == null">	
			;
		</if>		
	</select>


	<select id="getCoachingRFQTotalListById" resultMap="CoachingListMap">	
		#견적요청 내역 전체 
		SELECT
			*
		FROM coaching_RFQ
		WHERE coaching_RFQ.user_email = #{sessionEmail};
	</select>
	
	
	
	<select id="getCoachingRFQListById" resultType="com.devcdper.coaching.domain.CoachingRFQ">
		
		#진행상태가 견적요청상태 단계인 내역 조회
		SELECT 
			coaching_RFQ.coaching_RFQ_code					as coachingRFQCode
			,coaching_RFQ.coaching_category_code			as coachingCategoryCode
			,coaching_RFQ.total_plan_code					as totalPlanCode
			,coaching_RFQ.plan_detail_code					as planDetailCode
			,coaching_RFQ.coach_user_email					as coachUserEmail
			,coaching_RFQ.user_email						as userEmail
			,coaching_RFQ.coach_classification				as coachClassification
			,coaching_RFQ.coaching_RFQ_start_date			as coachingRFQStartDate
			,coaching_RFQ.coaching_RFQ_end_date				as coachingRFQEndDate
			,coaching_RFQ.coaching_RFQ_day					as coachingRFQDay
			,coaching_RFQ.coaching_RFQ_wishful_thinking		as coachingRFQWishfulThinking
			,coaching_RFQ.coaching_RFQ_request_date			as coachingRFQRequestDate
		FROM  coaching_RFQ   
		LEFt JOIN  coaching_RFQ_result
		ON coaching_RFQ.coaching_RFQ_code = coaching_RFQ_result.coaching_RFQ_code 
		WHERE coaching_RFQ.user_email = #{sessionEmail} AND coaching_RFQ_result.coaching_RFQ_code IS null;
	</select>


	<select id="getCoachingRFQResultListById" resultMap="CoachingListMap">	
		#진행상태가 견적결과 단계인 내역 조회
		SELECT 
			coaching_RFQ_result.coaching_RFQ_result_code
			,coaching_RFQ_result.coaching_category_code
			,coaching_RFQ_result.coaching_RFQ_code
			,coaching_RFQ_result.total_plan_code
			,coaching_RFQ_result.plan_detail_code
			,coaching_RFQ_result.coach_user_email
			,coaching_RFQ_result.user_email
			,coaching_RFQ_result_cost
			,coaching_RFQ_result_day
			,coaching_RFQ_result_costPerHour
			,coaching_RFQ_result_time
			,coaching_RFQ_result_method
			,coaching_RFQ_result_area
			,coaching_RFQ_result_agreement
			,coaching_RFQ_result_service_start_date
			,coaching_RFQ_result_service_end_date
			,coaching_RFQ_result_register_date
		from coaching_RFQ_result 
			LEFt JOIN  coaching_apply_and_payment
			ON coaching_apply_and_payment.coaching_RFQ_result_code = coaching_RFQ_result.coaching_RFQ_result_code 
		WHERE coaching_RFQ_result.user_email = #{sessionEmail} AND coaching_apply_and_payment.coaching_RFQ_result_code IS NULL;
	</select>
	
	
	
	<select id="getCoachingApplyAndPaymentListById" resultMap="CoachingListMap">
	
		#진행상태가 신청 및 결제 단계인 내역 조회
		SELECT 
			coaching_apply_and_payment.coaching_apply_and_payment_code
			,coaching_apply_and_payment.coaching_category_code
			,coaching_apply_and_payment.coaching_RFQ_code
			,coaching_apply_and_payment.coaching_RFQ_result_code
			,coaching_apply_and_payment.coach_user_email
			,coaching_apply_and_payment.total_plan_code
			,coaching_apply_and_payment.plan_detail_code
			,coaching_apply_and_payment.user_email
			,coaching_apply_and_payment.all_payment_connect_group_code
			,coaching_apply_and_payment.coaching_apply_and_payment_service_start_date
			,coaching_apply_and_payment.coaching_apply_and_payment_service_end_date
			,coaching_apply_and_payment.coaching_apply_cost
			,coaching_apply_and_payment.coaching_progress_status
			,coaching_apply_and_payment_register_date
			,payment_code
		from coaching_RFQ_result 
			inner JOIN  coaching_apply_and_payment
			ON coaching_apply_and_payment.coaching_RFQ_result_code = coaching_RFQ_result.coaching_RFQ_result_code 
			WHERE coaching_RFQ_result.user_email = #{sessionEmail};
		
	</select>


	<!-- 코치 리스트  (mentoring page) -->
	<resultMap type="com.devcdper.coaching.domain.CoachingUser" id="CoachUserResultMap">
		<result property="coachEmail" 							column="coach_user_email"/>
		<result property="coachPassword"				 		column="coach_password"/>
		<result property="coachName" 							column="coach_name"/>
		<result property="coachBirth" 							column="coach_birth"/>
		<result property="coachAddr"					 		column="coach_addr"/>
		<result property="coachAddrDetail" 						column="coach_addr_detail"/>
		<result property="coachGender" 							column="coach_gender"/>
		<result property="coachMobile" 							column="coach_mobile"/>
		<result property="coachAuthority" 						column="coach_authority"/>
		<result property="coachJob" 							column="coach_job"/>
		<result property="coachProfileCareer" 					column="coach_profile_career"/>
		<result property="coachProfileTechStack" 				column="coach_profile_tech_stack"/>
		<result property="coachCertificate" 					column="coach_certificate"/>
		<result property="coachCareerDocumentaryEvidence" 		column="coach_career_documentary_evidence"/>
		<result property="coachCertificateDocumentaryEvidence" 	column="coach_certificate_documentary_evidence"/>
		<result property="coachJoinApproval" 					column="coach_join_approval"/>
		<result property="coachApproverEmail" 					column="coach_approver_email"/>
		<result property="coachIsReceiveMarketing" 				column="coach_is_receive_marketing"/>
		<result property="coachJoinMotivation" 					column="coach_join_motivation"/>
		<result property="coachJoinPath" 						column="coach_join_path"/>
		<result property="coachRecommendEmail" 					column="coach_recommend_email"/>
		<result property="coachJoinDate" 						column="coach_join_date"/>
		<result property="coachWithdrawStatus" 					column="coach_withdraw_status"/>
		<association property="coachManagement" javaType="com.devcdper.coaching.domain.CoachManagement">
			<id property="coachManagementCode"  						column="coach_management_code" />
			<result property="coachUserEmail"							column="coach_user_email"/>
			<result property="coachingIntroduceSubject"				column="coaching_introduce_subject"/>
			<result property="coachingIntroduceContents"				column="coaching_introduce_contents"/>
			<result property="coachManagementCount"					column="coach_management_count"/>
			<result property="coachManagementReview"					column="coach_management_review"/>
			<result property="coachManagementRate"					column="coach_management_rate"/>
			<result property="coachManagementHourlyAveragePrice"	column="coach_management_hourly_average_price"/>
			<result property="coachRegisterDate"						column="coach_register_date"/>
			<result property="coachBlogGithubAdress"					column="coach_blog_github_adress"/>
		</association>
	</resultMap>
	
	
	<!-- 코치 프로필 수정 -->
	<update id="coachProfileUpdateProcess" parameterType="Map" > 
		UPDATE coach_management
		SET
			coaching_introduce_subject=#{profileTitle},
			coaching_introduce_contents=#{profileContents},
			coach_blog_github_adress=#{coachBlogGithubAdress}
		WHERE coach_user_email = #{coachUserEmail};
		
	</update> 



	<select id="getCoachList" parameterType="String" resultMap="CoachUserResultMap">
			SELECT
				u.coach_user_email
				,u.coach_password
				,u.coach_name
				,u.coach_birth
				,u.coach_addr
				,u.coach_addr_detail
				,u.coach_gender
				,u.coach_mobile
				,u.coach_authority
				,u.coach_job
				,u.coach_profile_career
				,u.coach_profile_tech_stack
				,u.coach_certificate
				,u.coach_career_documentary_evidence
				,u.coach_certificate_documentary_evidence
				,u.coach_join_approval
				,u.coach_approver_email
				,u.coach_is_receive_marketing
				,u.coach_join_motivation
				,u.coach_join_path
				,u.coach_recommend_email
				,u.coach_join_date
				,u.coach_withdraw_status
				
				,m.coach_management_code
				,m.coach_user_email
				,m.coaching_introduce_subject
				,m.coaching_introduce_contents
				,m.coach_management_count
				,m.coach_management_review
				,m.coach_management_rate
				,m.coach_management_hourly_average_price
				,m.coach_register_date
				,m.coach_blog_github_adress
			FROM
			coach_user AS u
			left JOIN 
				coach_management AS m
				ON u.coach_user_email = m.coach_user_email
			<if test="coachAuthority != null and coachAuthority != ''.toString()">	
				WHERE coach_authority = #{coachAuthority}
			</if>
			<if test="coachUserEmail != null and coachUserEmail != ''.toString()">	
				WHERE u.coach_user_email = #{coachUserEmail}
			</if>
		</select>


</mapper>