<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcdper.plan.dao.DetailPlanMapper">
	<resultMap type="com.devcdper.plan.domain.DetailPlanDto" id="detailPlanResultMap"><!--com.devcdper.plan.domain. 붙여줘야하는 이유는 porperties에... User도메인이 이미  -->
		<result property="planCertificateDetailType" 			column="plan_certificate_detail_type"/>
		<result property="planCertificateDetailTestDate" 		column="plan_certificate_detail_test_date"/>
	</resultMap>
	
	
	
	
	
	<!-- 학력 상세 계획 조회  -->
	<select  id="getEducationalHistoryDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 			 
				
				plan_educational_history_detail_code						AS planDetailCode
				,total_plan_code											AS totalPlanCode
				,plan_educational_history_code								AS planCode
				,user_email													AS userEmail
				,plan_educational_history_detail_title		  				AS planDetailTitle
				,plan_educational_history_detail_contents	  				AS planDetailContents 
				,plan_educational_history_start_date			  			AS planDetailStartDate 
				,plan_educational_history_end_date				  			AS planDetailEndDate
				,plan_educational_history_detail_status		  				AS planDetailStatus
				,plan_educational_history_detail_created_date				AS planDetailCreatedDate
				,plan_educational_history_detail_degree		 			 	AS planDetailDegree
				,plan_educational_history_detail_degree_change_reason		AS planDetailDegreeChangeReason
		FROM 
			ypr821.plan_educational_history_detail 
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_educational_history_code=#{planCode};
	</select>
	<!--'total_plan_code_01' 'plan_educational_history_code_01' -->
	<!-- #{totalPlanCode} #{planCode}-->
	
	
	<!-- 프로젝트 상세 계획 -->
	<select  id="getProjectDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 	
				plan_project_detail_code						AS planDetailCode
				, total_plan_code								AS totalPlanCode
				, plan_project_code								AS planCode
				, user_email									AS userEmail
				, plan_project_detail_title						AS planDetailTitle
				, plan_project_detail_contents					AS planDetailContents 
				, plan_project_start_date						AS planDetailStartDate
				, plan_project_end_date							AS planDetailEndDate
				, plan_project_detail_status					AS planDetailStatus
				, plan_project_detail_created_date				AS planDetailCreatedDate
				, plan_project_detail_degree					AS planDetailDegree
				, plan_project_detail_degree_change_reason		AS planDetailDegreeChangeReason

		FROM 
			ypr821.plan_project_detail 
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_project_code=#{planCode};
	</select>
	<!-- 'total_plan_code_01' 'plan_project_code_01'-->
	
	<!--자격증 상세 계획  -->
	<select  id="getCertificateDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" resultMap ="detailPlanResultMap" fetchSize="1000">
		SELECT 	
				plan_certificate_detail_code					AS planDetailCode
				,total_plan_code								AS totalPlanCode
				,plan_certificate_code							AS planCode
				,user_email										AS userEmail
				,plan_certificate_detail_title					AS planDetailTitle
				,plan_certificate_detail_type
				,plan_certificate_detail_test_date
				,plan_certificate_detail_start_date				AS planDetailStartDate
				,plan_certificate_detail_end_date				AS planDetailEndDate
				,plan_certificate_detail_contents				AS planDetailContents
				,plan_certificate_detail_status					AS planDetailStatus
				,plan_certificate_detail_created_date			AS planDetailCreatedDate
				,plan_certificate_detail_degree					AS planDetailDegree
				,plan_certificate_detail_degree_change_reason	AS planDetailDegreeChangeReason

		FROM 
			ypr821.plan_certificate_detail
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_certificate_code=#{planCode};
	</select>
	
	<!--공인어학 상세 계획  -->
	<select  id="getCertifiedLanguageDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 	
				plan_certified_language_detail_code						AS planDetailCode
				,total_plan_code										AS totalPlanCode
				,plan_certified_language_code							AS planCode
				,user_email												AS userEmail
				,plan_certified_language_detail_title					AS planDetailTitle
				,plan_certified_language_detail_contents				AS planDetailContents 
				,plan_certified_language_detail_start_date				AS planDetailStartDate
				,plan_certified_language_detail_end_date				AS planDetailEndDate
				,plan_certified_language_detail_status					AS planDetailStatus
				,plan_certified_language_detail_degree					AS planDetailDegree
				,plan_certified_language_detail_degree_change_reason	AS planDetailDegreeChangeReason
				,plan_certified_language_detail_created_date			AS planDetailCreatedDate

		FROM 
			ypr821.plan_certified_language_detail
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_certified_language_code=#{planCode};
	</select>
	
	<!--기술스택 상세 계획  -->
	<select  id="getTechnologyStackDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 			 
				plan_technology_stack_detail_code						AS planDetailCode
				,total_plan_code										AS totalPlanCode
				,plan_technology_stack_code								AS planCode
				,user_email												AS userEmail
				,plan_technology_stack_detail_title						AS planDetailTitle
				,plan_technology_stack_detail_contents					AS planDetailContents 
				,plan_technology_stack_start_date						AS planDetailStartDate
				,plan_technology_stack_end_date							AS planDetailEndDate
				,plan_technology_stack_detail_status					AS planDetailStatus
				,plan_technology_stack_detail_degree					AS planDetailDegree
				,plan_technology_stack_detail_degree_change_reason		AS planDetailDegreeChangeReason
				,plan_technology_stack_detail_created_date				AS planDetailCreatedDate
												
		FROM 
			ypr821.plan_technology_stack_detail 
		WHERE
			total_plan_code=#{totalPlanCode} AND plan_technology_stack_code=#{planCode};
	</select>
			 
	<!--직종전문교육과정 상세 계획  -->
	<select  id="getJobTrainingDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 	
				plan_job_training_detail_code							AS planDetailCode
				,total_plan_code										AS totalPlanCode
				,plan_job_training_code									AS planCode
				,user_email												AS userEmail
				,plan_job_training_detail_title							AS planDetailTitle
				,plan_job_training_detail_contents						AS planDetailContents 
				,plan_job_training_detail_start_date					AS planDetailStartDate
				,plan_job_training_detail_end_date						AS planDetailEndDate
				,plan_job_training_detail_status						AS planDetailStatus
				,plan_job_training_detail_degree						AS planDetailDegree
				,plan_job_training_detail_degree_change_reason			AS planDetailDegreeChangeReason
				,plan_job_training_detail_created_date					AS planDetailCreatedDate
				
		FROM 
			ypr821.plan_job_training_detail 
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_job_training_code=#{planCode};
	</select>
			 
	<!--인턴십 상세 계획  -->
	<select  id="getInternshipDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 	
		
				plan_internship_detail_code								AS planDetailCode
				,total_plan_code										AS totalPlanCode
				,plan_internship_code									AS planCode
				,user_email												AS userEmail
				,plan_internship_detail_title							AS planDetailTitle
				,plan_internship_detail_contents						AS planDetailContents 
				,plan_internship_detail_start_date						AS planDetailStartDate
				,plan_internship_detail_end_date						AS planDetailEndDate
				,plan_internship_detail_status							AS planDetailStatus
				,plan_internship_detail_degree							AS planDetailDegree
				,plan_internship_detail_degree_change_reason			AS planDetailDegreeChangeReason
				,plan_internship_detail_created_date					AS planDetailCreatedDate
				
		FROM 
			ypr821.plan_internship_detail
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_internship_code='plan_internship_code_01';
	</select>
			 
	<!--공모전 상세 계획  -->
	<select  id="getContestDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 
				plan_contest_detail_code								AS planDetailCode
				,total_plan_code										AS totalPlanCode
				,plan_contest_code										AS planCode
				,user_email												AS userEmail
				,plan_contest_detail_title								AS planDetailTitle
				,plan_contest_detail_contents							AS planDetailContents 
				,plan_contest_detail_start_date							AS planDetailStartDate
				,plan_contest_detail_end_date							AS planDetailEndDate
				,plan_contest_detail_status								AS planDetailStatus
				,plan_contest_detail_degree								AS planDetailDegree
				,plan_contest_detail_degree_change_reason				AS planDetailDegreeChangeReason
				,plan_contest_detail_created_date						AS planDetailCreatedDate
				
		FROM 
			ypr821.plan_contest_detail 
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_contest_code=#{planCode};
	</select>
			 
	<!--경력 상세 계획  -->
	<select  id="getCareerDetailPlanList" parameterType="String" resultType="com.devcdper.plan.domain.DetailPlanDto" fetchSize="1000">
		SELECT 	
				plan_career_detail_code									AS planDetailCode
				,total_plan_code										AS totalPlanCode
				,plan_career_code										AS planCode
				,user_email												AS userEmail
				,plan_career_detail_title								AS planDetailTitle
				,plan_career_detail_contents							AS planDetailContents 
				,plan_career_detail_start_date							AS planDetailStartDate
				,plan_career_detail_end_date							AS planDetailEndDate
				,plan_career_detail_status								AS planDetailStatus
				,plan_career_detail_degree								AS planDetailDegree
				,plan_career_detail_degree_change_reason				AS planDetailDegreeChangeReason
				,plan_career_detail_created_date						AS planDetailCreatedDate
				
		FROM 
			ypr821.plan_career_detail
		WHERE
			 total_plan_code=#{totalPlanCode} AND plan_career_code=#{planCode};
	</select>
	<!--한명 회원의 상세 계획 조회 끝  -->
	
	
	
	
	
	<!--각 상세 계획의 통합계획 선택 AJAX  -->
	<!--학력  -->
	<select id="getEducationalHistoryTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_educational_history_code			AS planCode							
				  ,plan_educational_title				AS planTitle
		FROM
				ypr821.plan_educational_history
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	<!--프로젝트  -->
	<select id="getProjectTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_project_code			AS planCode							
				  ,plan_project_title		AS planTitle
		FROM
				ypr821.plan_project
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	
	<!--자격증  -->
	<select id="getCertificateTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_certificate_code			AS planCode							
				  ,plan_certificate_title		AS planTitle
		FROM
				ypr821.plan_certificate
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	<!--공인어학  -->
	<select id="getCertifiedLanguageTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_certified_language_code			AS planCode							
				  ,plan_certified_language_title		AS planTitle
		FROM
				ypr821.plan_certified_language
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	
	<!--기술스택  -->
	<select id="getTechnologyStackTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_technology_stack_code			AS planCode							
				  ,plan_technology_stack_title			AS planTitle
		FROM
				ypr821.plan_technology_stack
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	
	
	<!--직종전문교육과정  -->
	<select id="getJobTrainingTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_job_training_code			AS planCode							
				  ,plan_job_training_title			AS planTitle
		FROM
				ypr821.plan_job_training
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	<!--인턴십  -->
	
	<select id="getInternshipTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_internship_code			AS planCode							
				  ,plan_internship_title		AS planTitle
		FROM
				ypr821.plan_internship
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	<!--공모전  -->
	
	<select id="getContestTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_contest_code			AS planCode							
				  ,plan_contest_title		AS planTitle
		FROM
				ypr821.plan_contest
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	<!--경력  -->
	
	<select id="getCareerTotalTitleSearch" parameterType="String" resultType="com.devcdper.plan.domain.PlanDto">
		SELECT
				  plan_career_code			AS planCode							
				  ,plan_career_title		AS planTitle
		FROM
				ypr821.plan_career
		WHERE
				total_plan_code=#{stotalPlanCode};	
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>
