<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<!-- 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
	
<th:block th:fragment="modal-coaching-totalPlan">
	
	
	<div class="modal fade" id="modal-coaching-totalPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 100%">
			<div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">통합계획 선택하기</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	            	
					<br>
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">
								통합계획
							</h3>
							
							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="card-body p-0" style="overflow: scroll; white-space: nowrap;">
							<table class="table table-striped planTable">
								<thead>
									<tr>
										<th>
											순번
										</th>
										<th>
											통합계획제목
										</th>
										<th>
											통합계획내용
										</th>
										<th>
											시작일자
										</th>
										<th>
											종료일자
										</th>
										<th>
											진행상태
										</th>
										<th>
											구분
										</th>
										<th>
											차수
										</th>
										<th>
											차수변경사유
										</th>
										<th>
										
										</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
					<!-- /.card-body -->
					</div>
					<!-- /.card -->
					
					<!-- Paging 영역 시작 -->
					<ul class="pagination justify-content-center m-0">
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">6</a></li>
						<li class="page-item"><a class="page-link" href="#">7</a></li>
						<li class="page-item"><a class="page-link" href="#">8</a></li>
					</ul>
	            </div>
	            <div class="modal-footer justify-content-between">
	              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	             
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	</div>
	<!-- planModalContents -->
	<th:block th:replace="/fragments/planModal/planModalContents :: planModalContents"></th:block>
	<!-- planModalDegree -->
	<th:block th:replace="/fragments/planModal/planModalDegree :: planModalDegree"></th:block>

</th:block>
<!-- /코치님과 내 계획 짜기 통합계획 선택  Modal --> 
</html>