<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



	<!-- 후기 상세보기  Modal  -->
	<th:block th:fragment="modal-Review">
		<div class="modal fade" id="modal-Review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 100%">
		  <div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">후기</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">
		          	<div class="form-group">
		              	<b>코칭구분</b>&emsp;
		              	<label id="coachingType">
		              		<input type="radio" name="coachingType" value="mentoring">
		              		멘토링
		              	</label>&nbsp; &nbsp; 
		              	<label id="coachingType">
		              		<input type="radio" name="coachingType" value="consulting">
		              		컨설팅
		              	</label>
		              	<br>
		                <label for="coachingCategory">달점 선택</label>
		                <select id="coachingCategory" class="form-control custom-select">
		                  <option selected="">달점 선택</option>
		                  <option >🌕🌕🌕🌕🌕5.0/5.0</option>
		                  <option>🌕🌕🌕🌕🌑4.0/5.0</option>
		                  <option>🌕🌕🌕🌑🌑3.0/5.0</option>
		                  <option>🌕🌕🌑🌑🌑2.0/5.0</option>
		                  <option>🌕🌑🌑🌑🌑1.0/5.0</option>
		                  <option>🌑🌑🌑🌑🌑0.0/5.0</option>
		                </select>
		             </div>
		            

		             <div class="form-group">
		                <label for="coachingTitle"> 코칭명 </label>
		                <input type="text" id="coachingTitle" class="form-control" value="코칭제목">
		             </div>
			         <div class="form-group">
		                <label for="coachingReviewTitle"> 후기 제목 </label>
		                <input type="text" id="coachingReviewTitle" class="form-control" value="후기 제목을 작성해주세요">
		             </div>
		             <div class="form-group">
		                <label for="coachingReviewContents" >후기내용</label>
		                <textarea id="coachingReviewContents" class="form-control" rows="4" placeholder="후기 내용을 입력해주세요"></textarea>
		             </div>
		             <div class="form-group" >
			                <a th:href="@{/myCoachingClient}" class="btn btn-block bg-gradient-primary btn-sm">등록(일반전용)</a>
			                <a th:href="@{/myCoachingClient}" class="btn btn-block bg-gradient-primary btn-sm">수정(일반전용)</a>
			                <a th:href="@{/coachingAdminPage}" class="btn btn-block bg-gradient-primary btn-sm">삭제(관리자전용)</a>
		            </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /후기 상세보기  Modal -->
	</th:block>
	
	
	
	
	

</html>