<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- 견적요청 Modal -->
	<th:block th:fragment="modal-RFQ">
		<div class="modal fade" id="modal-RFQ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 100%">
		  <div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">견적요청 내역</h4>
		        <button type="button" class="close ModalClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">
		      	  <!-- 코칭구분, 카테고리  -->
				  <div class="form-group">
	              	<b>코칭구분 :</b>&emsp;
	              	<label id="coachingType">
	              		<span type="text" id="coachingTypeSpan" name="coachingType" ></span>
	              	</label>
	              	<br>
	              	
	              	<!-- 코칭 카테고리  -->
	                <label for="coachingCategory">카테고리 선택</label>
	                <select id="coachingCategory" class="form-control custom-select">
	                  <option value="">카테고리선택</option>
	                  <!-- 멘토링카테고리 -->
	                  <option value="coaching_category_01">학력</option>
	                  <option value="coaching_category_02">프로젝트</option>
	                  <option value="coaching_category_03">자격증</option>
	                  <option value="coaching_category_04">공인어학(외국어능력)</option>
	                  <option value="coaching_category_05">기술스택</option>
	                  <option value="coaching_category_06">직종전문교육과정</option>
	                  <option value="coaching_category_07" >인턴쉽</option>
	                  <option value="coaching_category_08">공모전</option>
	                  
	                  <!-- 컨설팅카테고리 -->
	                  <option value="coaching_category_09">진로설정·취업전략</option>
	                  <option value="coaching_category_10">취업준비 스펙(자격증, 포트폴리오)</option>
	                  <option value="coaching_category_11">기업·직무 분석</option>
	                  <option value="coaching_category_12">자기소개서 + 이력서</option>
	                  <option value="coaching_category_13">면접</option>
	                  <option value="coaching_category_14">인적성검사 대비</option>
	                  <option value="coaching_category_15">대기업 취업준비</option>
	                  <option value="coaching_category_16">공기업 취업준비·NCS</option>
	                  <option value="coaching_category_17">경력관리</option>
	                  <option value="coaching_category_18">경력기술서</option>
	                  <option value="coaching_category_19">경력분석·이전직</option>
	                </select>
	              </div>
	              <!--/ 코칭구분, 카테고리  -->

	     
	              <div class="form-group">
	                <label for="coachingStartDate">시작가능일자</label>
	                <input type="date" id="coachingStartDate" class="form-control" value="">
	              </div>
	              
	              <div class="form-group">
	                <label for="coachingEndDate">종료 일자</label>
	                <input type="date" id="coachingEndDate" class="form-control" value="">
	              </div>
	              
	             <div class="form-group checkDay">
	                <label>
	                	진행 요일 선택
	                </label>
	                <br>
	 				<label>
	                	<input type="checkbox" class="checkbox" value="월"/> 월        &nbsp; &nbsp;      	
	                </label>
	                <label>
	                	<input type="checkbox" class="checkbox" value="화"/> 화        &nbsp; &nbsp;  
	                </label>
	                <label>
	                	<input type="checkbox" class="checkbox" value="수"/> 수        &nbsp; &nbsp;  
	                </label>	
	                <label>
	                	<input type="checkbox" class="checkbox" value="목"/> 목        &nbsp; &nbsp;    
	                </label>
	                <label>
	                	<input type="checkbox" class="checkbox" value="금"/> 금        &nbsp;  &nbsp;     
	                </label>	
	                <label>
	                	<input type="checkbox" class="checkbox" value="토"/> 토        &nbsp;  &nbsp;  
	                </label>	
	                <label>
	                	<input type="checkbox" class="checkbox" value="일"/> 일       
	                </label>         	
	              </div>

	              
	              <!-- 계획 함께 짜기, 함께 짤 통합 계획 선택  -->
		          <div class="form-group">
		          		<label for="totalPlanCoaching"> 코치님과 내 계획짜기 </label>
		              	 &nbsp; &nbsp;
		              	 <div class="row">
						 	<button type="button" id="coachingTotalPlanBtn" class="btn btn-block btn-secondary btn-sm col-2" data-toggle="modal" data-target="#modal-coaching-totalPlan">계획 선택</button>            
		             	    &nbsp; &nbsp;
		            		 <input type="text" id="coachingTotalPlan" class="form-control col-9" value="선택한 통합계획">
		              	 </div>
		          </div>
		          <!-- /계획 함께 짜기, 함께 짤 통합 계획 선택  -->
		          
		          <!-- 내 계획과 연결 하기 -->
		          <div class="form-group">
		                <label for="planCoaching">내 계획과 연결 하기 </label>
		            	<div class="row">
						 	<button type="button" id="coachingPlanBtn" class="btn btn-block btn-secondary btn-sm col-2">계획 선택</button>             
		             	    &nbsp; &nbsp;
		            		 <input type="text" id="coachingPlan" class="form-control col-9" value="선택한 내 계획">
		              	 </div>
		          </div>
		          <!-- /내 계획과 연결 하기 -->
		          
		          	              
	              <div class="form-group">
	                <label for="RFQRequestContents">희망 요청 사항</label>
	                <textarea id="RFQRequestContents" class="form-control" rows="4" placeholder="희망요청사항을 입력해주세요. 현 상황 및 필요한 부분을 상세하게 작성해주시면 좋습니다"></textarea>
	              </div>

	              
	              <button type="button" id="coachingRFQUpdate" class="btn btn-block bg-gradient-primary btn-sm">요청 수정</button>
	              
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default ModalClose" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>
	<!-- /견적요청 Modal -->
	<script type="text/javascript">
	
	</script>
</html>





















