<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!--  코치 프로필  Modal  -->
	<th:block th:fragment="modal-coachProfile">
		<div class="modal fade" id="modal-coachProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 100%">
		  <div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel" >코치 프로필</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">
		          	     
		          	 <div class="tab-content">
	                 <!-- 소개 -->
	                  <div class="tab-pane active" id="activity">
	                  	
	                  	 <div class="post clearfix">
	                      
	                    	<!-- post 1 -->
		                      <p>
		                      	저는 10년차 백엔드 개발자로 근무중입니다.<br>
		                        Lorem ipsum represents a long-held tradition for designers,
		                        typographers and the like. Some people hate it and argue for
		                        its demise, but others ignore the hate as they create awesome
		                        tools to help create filler text for everyone from bacon lovers
		                        to Charlie Sheen fans.
		                      </p>
		

		                 </div>
	                    
	                    <!-- /.post 1 -->
	
	                    <!-- Post 2-->
		                   <div class="post">
					              <div class="card-body">
	
					                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
					
					                <p class="text-muted">
					                  <span class="tag tag-danger">UI Design</span>
					                  <span class="tag tag-success">,Coding</span>
					                  <span class="tag tag-info">,Javascript</span>
					                  <span class="tag tag-warning">,PHP</span>
					                  <span class="tag tag-primary">,Node.js</span>
					                </p>
					                <hr>
					                <strong><ion-icon name="document-text-outline" ></ion-icon> Blog and <ion-icon name="logo-github" ></ion-icon>Github Adress</strong>
					                <p class="text-muted">
					                	- Blog: https://ksamrt.tistory.com<br>
										- GitHub: https://github.com/ksmart
					                </p>
					              </div>
					              <!-- /.card-body -->
					            <!-- /.card -->
		                  </div>
						 <!-- / Post 2-->
	                  </div>
	                  <!-- /소개 -->
	                  
	                  <div class="tab-pane" id="timeline">
	                    <!-- The timeline -->
	                    <div class="timeline timeline-inverse">
	                      <!-- timeline time label -->
	                      <div class="time-label">
	                        <span class="">
	                          10 Feb. 2021
	                        </span>
	                      </div>
	                      <!-- /.timeline-label -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 12:05 </span>
	
	                          <h3 class="timeline-header"> 글쓴이: 최성구 / 강의명: 실무자가 알려주는 Git - 입문편/평점 ⭐⭐⭐⭐⭐</h3>
	
	                          <div class="timeline-body">
								 <small> 정말  배운점이 많았고 좋았습니다. 멘토링동안 수업방식도 너무 좋았습니다.</small>
	                          </div>
	                      
	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>
	
	                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request  평점 ⭐⭐⭐⭐
	                          </h3>
	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 3days ago</span>
	
	                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post 평점 ⭐⭐⭐</h3>
	
	                          <div class="timeline-body">
	                          	 <small> 
		                            Take me to your leader!
		                            Switzerland is small and neutral!
		                            We are more like Germany, ambitious and misunderstood!

								</small>
	                          </div>
	                     
	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <!-- timeline time label -->
	                      <div class="time-label">
	                        <span class="">
	                          3 Jan. 2020
	                        </span>
	                      </div>
	                      <!-- /.timeline-label -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 1year ago</span>
	
	                          <h3 class="timeline-header"> 글쓴이: 최성구    강의명: 실무자가 알려주는 Git - 입문편</h3>
	
	                          <div class="timeline-body">
								 정말  배운점이 많았고 좋았습니다. 멘토링동안 수업방식도 너무 좋았습니다.
	                          </div>

	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <div>
	                        <i class="far fa-clock bg-gray"></i>
	                      </div>
	                    </div>
	                  </div>
	                  <!-- /.tab-pane -->
	
	                  <div class="tab-pane" id="settings">
	                    <form class="form-horizontal">
	                      <div class="form-group row">
	                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
	                        <div class="col-sm-10">
	                          <input type="email" class="form-control" id="inputName" placeholder="Name">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
	                        <div class="col-sm-10">
	                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
	                        <div class="col-sm-10">
	                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <div class="offset-sm-2 col-sm-10">
	                          <div class="checkbox">
	                            <label>
	                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
	                            </label>
	                          </div>
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <div class="offset-sm-2 col-sm-10">
	                          <button type="submit" class="btn btn-danger">Submit</button>
	                        </div>
	                      </div>
	                    </form>
	                  </div>
	                  <!-- /.tab-pane -->
	                </div>
	                <!-- /.tab-content -->
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>	
	<!-- /코치 프로필  Modal -->
	


</html>