<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- 중단  Modal  -->
	<th:block th:fragment="modal-coachingStop">
		<div class="modal fade" id="modal-coachingStop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 100%">
		  <div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel" >중단</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">
		          	<div class="form-group">
		              	<b>코치 / 일반회원 구분</b>&emsp;
		              	<label id="coachingType">
		              		<input type="radio" name="coachingType" value="mentoring">
		              		코치
		              	</label>&nbsp; &nbsp; 
		              	<label id="coachingType">
		              		<input type="radio" name="coachingType" value="consulting">
		              		일반회원
		              	</label>
		              	<br>
		             </div>
		          	<div class="form-group">
		              	<b>코칭구분</b>&emsp;
		              	<label id="coachingType">
		              		<input type="radio" name="coachingType" value="mentoring">
		              		멘토링
		              	</label>&nbsp; &nbsp; 
		              	<label id="coachingType">
		              		<input type="radio" name="coachingType" value="consulting">
		              		컨설팅
		              	</label>
		              	<br>
		             </div>

		             <div class="form-group">
		                <label for="coachingTitleStop"> 코칭명 </label>
		                <input type="text" id="coachingTitleStop" class="form-control" value="코칭제목">
		             </div>
		             <div class="form-group">
		                <label for="coachingCategory">중단사유 선택</label>
		                <select id="coachingCategory" class="form-control custom-select">
		                  <option selected="selected">직접 입력</option>
		                  <option>코치선생님의 수업방식이 맞지 않습니다.</option>
		                  <option>코칭 내용 불만족합니다.</option>
		                  <option>수업을 따라가지 못하겠습니다.</option>
		                  <option>금전적 부담이 됩니다.</option>
		                  <option>더 좋은 코칭 발견했습니다.</option>
		                  
		                  <option>건강,스케줄 등 개인적인 문제</option>
		                  
		                  <option>수강생의 태도문제</option>
		                  <option>코칭 진행에 대한 부담</option>
		                </select>
		             </div>
					 <div class="form-group">
		                <label for="coachingStopReason" >중단사유</label>
		                <textarea id="coachingReviewContents" class="form-control" rows="4" placeholder="상세한  중단 사유 작성은 시스템 발전에 도움이됩니다. 감사합니다."></textarea>
		             </div>

		             <div class="form-group">
		                <label for="coachingPaymentHistory"> 결제 이력 </label>
		                <input type="text" id="coachingPaymentHistory" class="form-control" value="결제이력 / 결제금액 , 결제방법, 결제일자">
		             </div>
		             <div class="form-group">
		                <label for="coachingCount"> 남은 코칭 횟수 </label>
		                <input type="text" id="coachingCount" class="form-control" value="남은 코칭 횟수/ 전체 횟수">
		             </div>	
		             <div class="form-group">
		                <label for="coachingRefundAmounte"> 환불 금액 </label>
		                &emsp;&emsp;&emsp;<small>환불수수료&nbsp;: 환불금액의 5%입니다.</small> 
		                
		                <input type="text" id="coachingRefundAmounte" class="form-control" value="환불 금액 ">
		             </div>		             	             	            
		             <div class="form-group">
		                <label for="coachingProcessingStatus"> 처리상태</label>
		                &emsp;&emsp;&emsp;<small> 환불접수 완료&nbsp; =>&nbsp; 환불처리 완료</small>
		                <input type="text" id="coachingProcessingStatus" class="form-control" value="처리상태">
		             </div>	
		             		             
		             <div class="form-group" >
			                <a th:if= "${radioCheck == 'myCoachingClient'}" th:href="@{/myCoachingClient}" class="btn btn-block bg-gradient-primary btn-sm" id="coaching-stopModalBtn">등록</a>
			                <a th:if= "${radioCheck == 'myCoachingCoach'}" th:href="@{/myCoachingCoach}" class="btn btn-block bg-gradient-primary btn-sm" id="coaching-stopModalBtn">등록</a>
			                <a th:if= "${radioCheck == 'coachingAdminPage'}" th:href="@{/coachingAdminPage}" class="btn btn-block bg-gradient-primary btn-sm" id="coaching-stopModalBtn">등록</a>
		            </div>	             	             	            
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>	
	<!-- /중단 상세보기  Modal -->
	


</html>