<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<!-- 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
	
<th:block th:fragment="modal-coaching-totalPlan">
	
	
	<div class="modal fade" id="modal-coaching-totalPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 100%">
			<div class="modal-dialog modal-xl">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h4 class="modal-title">통합계획 선택하기</h4>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">×</span>
	              </button>
	            </div>
	            <div class="modal-body">
	            	
					<br>
					<form action="enhanced-results.html" data-select2-id="15">
			                <div class="row" data-select2-id="14">
			                    <div class="col-md-10" data-select2-id="13">
			                        <div class="row" data-select2-id="12">
			
			                            <div class="col-3" data-select2-id="19">
			                                <div class="form-group" data-select2-id="18">
			                                    <label>구분</label>
			                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="3" tabindex="-1" aria-hidden="true">
			                                        <option selected="" data-select2-id="5">멘토링</option>
			                                        <option data-select2-id="20">컨설팅</option>
			                                    </select>
			                                </div>
			                            </div>
			                            <div class="col-3" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>상태</label>
			                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
			                                        <option selected="" data-select2-id="8">견적요청</option>
			                                        <option data-select2-id="16">견적결과</option>
			                                        <option data-select2-id="16">신청완료</option>
			                                        <option data-select2-id="16">이용완료</option>
			                                        <option data-select2-id="16">서비스기간만료</option>
			                                        <option data-select2-id="16">취소환불</option>
			                                    </select>
			                                </div>
			                            </div>
			                            <div class="col-3" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>기간선택</label>
			                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
			                                        <option selected="" data-select2-id="8">모든날짜</option>
			                                        <option data-select2-id="16">지난 1일</option>
			                                        <option data-select2-id="16">지난 1주</option>
			                                        <option data-select2-id="16">지난 1개월</option>
			                                        <option data-select2-id="16">지난 1년</option>
			                                        <option data-select2-id="16">기간 설정</option>
			                                    </select>
			                                </div>
			                            </div>
			                             <div class="col-3" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>정렬</label>
			                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
			                                        <option selected="" data-select2-id="8">최신순</option>
			                                        <option data-select2-id="16">오래된순</option>
			                                    </select>
			                                </div>
			                            </div>
			                            
			                        </div>
			                        <div class="form-group row">
			                            <div class="col-3">
			                                    <label>검색옵션</label>
			                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
			                                        <option selected="" data-select2-id="8">검색옵션</option>
			                                        <option data-select2-id="16">아이디</option>
			                                        <option data-select2-id="16">등록일자</option>
			                                        <option data-select2-id="16">내용</option>
			                                        <option data-select2-id="16">제목</option>
			                                        <option data-select2-id="16">제목+내용</option>
			                                    </select>
			                            </div>
			                            <div class="input-group input-group-lg col-8" style="padding-top: 5px">
			                                <input type="search" class="form-control form-control-lg" style="height: 40px"  placeholder="Type your keywords here" value="Lorem ipsum">
			                                <div class="input-group-append">
			                                    <button type="submit" style="height: 40px" ; class="btn btn-lg btn-default">
			                                        <i class="fa fa-search"></i>
			                                    </button>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
					</form>
	            	<table class="table table-striped projects">
						<thead>
							<tr style="text-align: center;">
								<th>
									순번
								</th>
								<th>
									통합계획명
								</th>
								<th>
									계획내용
								</th>
								<th>
									시작일자
								</th>
								<th>
									종료일자
								</th>
								<th>
									진행율
								</th>
								<th>
									상태
								</th>
								<th>
									차수
								</th>
								<th>
									
								</th>
							</tr>
						</thead>
						<tbody>
							<tr style="text-align: center;">
								<td>
									1
								</td>
								<td>
									<a>
									통합계획 팀프로젝트구현하기
									</a>
									<br/>
									<small>
										Created 2021.06.19
									</small>
								</td>
								<td>
									<textarea class="form-control" cols="30" rows="3" style="resize: none;" readonly>팀프로젝트 구현을 성공적으로 하기위한 계획</textarea>
								</td>
								<td> 
									<a>2021.06.20</a>
								</td>
								<td>
									<a>2021.08.06</a>
								</td>
								<td class="project_progress">
									<div class="progress progress-sm">
										<div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
										</div>
									</div>
									<small>
										57% Complete
									</small>
								</td>
								<td class="project-state">
									<span class="badge badge-danger">
										중단됨
									</span>
								</td>
								<td>
									<a>
										1차
									</a>
								</td>
		  						<td class="project-actions text-center">
									<a class="btn btn-primary btn-sm autoScroll" th:href="@{#}">
										<ion-icon name="checkbox-outline"></ion-icon>
										선택
									</a>
								</td>
							</tr>
							<tr style="text-align: center;">
								<td>
									2
								</td>
								<td>
									<a>
										통합계획 팀프로젝트구현하기
									</a>	
									<br/>
									<small>
										Created 2021.06.20
									</small>
								</td>
								<td>
									<textarea class="form-control" cols="30" rows="3" style="resize: none;" readonly>팀프로젝트 구현을 성공적으로 하기위한 계획</textarea>
								</td>
								<td>
									<a>2021.06.20</a>
								</td>
								<td>
									<a>2021.08.06</a>
								</td>
								<td class="project_progress">
									<div class="progress progress-sm">
										<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
										</div>
									</div>
									<small>
										70% Complete
									</small>
								</td>
								<td class="project-state">
									<span class="badge badge-primary">
										진행중
									</span>
								</td>
								<td>
									<a>
										2차
									</a>
									<br/>
									<small>
										멘토링계약으로 인한차수변경
									</small>
								</td>
		  						<td class="project-actions text-center">
									<a class="btn btn-primary btn-sm" th:href="@{#}">
										<ion-icon name="checkbox-outline"></ion-icon>
										선택
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					
					<!-- 페이지번호 -->
					<ul class="pagination justify-content-center m-0">
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">6</a></li>
						<li class="page-item"><a class="page-link" href="#">7</a></li>
						<li class="page-item"><a class="page-link" href="#">8</a></li>
					</ul>
					      	  


	            </div>
	            <div class="modal-footer justify-content-between">
	              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	              <button type="button" class="btn btn-primary">선택완료</button>
	            </div>
	          </div>
	          <!-- /.modal-content -->
	        </div>
	</div>

</th:block>
<!-- /코치님과 내 계획 짜기 통합계획 선택  Modal --> 
</html>