<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-6">
		<h1 class="m-0">학력 상세 계획 등록</h1>
	</div><!-- /.col -->
	
</th:block>

<th:block layout:fragment="container" >
	<div class="col-12 col-sm-12">
		<form th:action="@{/addPlanEducationalHistoryDetail}" method="POST">
			<div class="container-fluid" th:align="center">
				<div class="col-md-6" style="text-align: left;">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">학력 상세 계획정보입력</h3>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="planEducationalHistoryContent">학력 계획 내용</label>
								<textarea id="planEducationalHistoryContent" class="form-control" rows="6"></textarea>
							</div>
							<div class="form-group">
								<label for="planEducationalHistoryDetailContent">학력 상세 계획 내용</label>
								<textarea id="planEducationalHistoryDetailContent" class="form-control" rows="6"></textarea>
							</div>
							<div class="form-group">
								<label for="planEducationalHistoryDetailStartDate">시작일자</label>
								<input type="date" id="planEducationalHistoryDetailStartDate" class="form-control">
							</div>
							<div class="form-group">
								<label for="planEducationalHistoryDetailEndDate">종료일자</label>
								<input type="date" id="planEducationalHistoryDetailEndDate" class="form-control">
							</div>
							
							<div class="form-group">
								<label for="planEducationalHistoryDetailStatus">상태</label>
								<select id="planEducationalHistoryDetailStatus" class="form-control custom-select">
									<option selected disabled>상태 선택</option>
									<option>진행예정</option>
									<option>진행중</option>
									<option>중단됨</option>
									<option>완료</option>
								</select>
							</div>
							<div>
								<label for="planEducationalHistoryDetailDegree">차수</label>
								<input type="number" id="planEducationalHistoryDetailDegree" value="1" class="form-control">
							</div>
							
						
							
							
							
						</div>
						<!-- /.card-body -->
						<div class="card-footer">
							<a th:href="@{/planEducationalHistoryDetail}" class="btn btn-danger">취소</a>
							<button type="submit" class="btn btn-primary float-right">학력 상세 계획 생성하기</button>
						</div>
						
						
					</div>
					<!-- /.card -->
				</div>
			</div>
			
		</form>
		<!-- /.content -->
	</div>
	
</th:block>

<th:bolck layout:fragment="pageJavascript">
	
</th:bolck>

</html>