<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-6">
		<h1 class="m-0">상세계획</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/totalPlan}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'totalPlan'}"> 통합계획
					</a>
					<a th:href="@{/mainPlan}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a2" autocomplete="off" th:checked="${radioCheck == 'plan'}"> 계획
					</a>
					<a th:href="@{/detailPlan}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'detailPlan'}"> 상세계획
					</a>
					<a th:href="@{/actionPlan}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'actionPlan'}"> 실천계획
					</a>
				</div>
			</div>
		</ol>
	</div><!-- /.col -->
</th:block>	  
	  
<th:block layout:fragment="container">
	<div class="col-12 col-sm-12">
		<h1>상세계획 대비 실천율로 바뀔 예정 </h1><!--Chart로 보여주는게 더 좋다.  -->
</th:block>

<th:block layout:fragment="pageJavascript">
	
	
</th:block>

</html>
