<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-6">
		<h1 class="m-0">인턴십 상세 계획</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="min-width: max-content;word-break: nowrap; white-space: nowrap;">
					<a th:href="@{/planEducationalHistoryDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'planEducationalHistoryDetail'}" >학력 상세계획
					</a>
					<a th:href="@{/planProjectDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a2" autocomplete="off" th:checked="${radioCheck == 'planProjectDetail'}">프로젝트 상세계획
					</a>
					<a th:href="@{/planCertificateDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planCertificateDetail'}">자격증 상세계획
					</a>
					<a th:href="@{/planCertifiedLanguageDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a4" autocomplete="off" th:checked="${radioCheck == 'planCertifiedLanguageDetail'}">공인어학 상세계획
					</a>
					<a th:href="@{/planTechnologyStackDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a5" autocomplete="off" th:checked="${radioCheck == 'planTechnologyStackDetail'}">기술스택 상세계획
					</a>
					<a th:href="@{/planJobTrainingDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a6" autocomplete="off" th:checked="${radioCheck == 'planJobTrainingDetail'}">직종전문교육과정 상세계획
					</a>
					<a th:href="@{/planInternshipDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a7" autocomplete="off" th:checked="${radioCheck == 'planInternshipDetail'}">인턴십 상세계획
					</a>
					<a th:href="@{/planContestDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a8" autocomplete="off" th:checked="${radioCheck == 'planContestDetail'}">공모전 상세계획
					</a>
					<a th:href="@{/planCareerDetail}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a9" autocomplete="off" th:checked="${radioCheck == 'planCareerDetail'}">경력 상세계획
					</a>
				</div>
			</div>
		</ol>
	</div><!-- /.col -->
</th:block>

<th:block layout:fragment="container" >
	<div class="col-12 col-sm-12">
		<div class="card" >
              <div class="card-header" style="min-width: max-content;">
                <h3 class="card-title">인턴십 상세 계획</h3>
					
					<div class="card-tools">
					
						<div class="input-group input-group-sm" style="width: 300px;float:left; margin-right:10px; padding: 6px 12px;">
	                    	<input type="text" name="table_search" class="form-control " placeholder="인턴십 상세 계획 검색">
	
		                    <div class="input-group-append">
		                      <button type="submit" class="btn btn-default">
		                        <i class="fas fa-search"></i>
		                      </button>
		                    </div>
						</div>

						<a th:href="@{/addPlanInternshipDetail}">
							<button type="button" class="btn btn-outline-primary">
								등록하기
							</button>
						</a> 	
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>

					</div>
                
                
              </div>
              <!-- /.card-header -->
              <div class="card-body  table-responsive p-0" style="overflow: scroll; white-space: nowrap;">
              	
                <table class="table table-striped text-nowrap">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>인턴십 계획내용</th>
                      <th>인턴십 상세 계획 내용</th>
                      <th>상세 계획 시작일</th>
                      <th>상세 계획 종료일</th>
                      <th>진행율</th>
                      <th>상태</th>
                      <th>차수</th>
                      <th>차수 변경 사유</th>
                      <th style="text-align: center;">작성일자</th>
                      
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>계획 내용 모달 가져오기</td>
                      <td>
                      <!-- Button trigger modal -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-planInternshipDetail">
						  공인어학 상세 계획 내용보기
						</button>
                      </td>
                      
                      <td>2020년 10월 15일</td>
		              <td>2020년 10월 24일</td>
                      <td>
					   <div class="progress progress-sm" >
					     <div class="progress-bar progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					   </div>
					   <small>
							100% Complete
					   </small>
					  </td>
                      <td><span class="badge bg-success">완료</span></td>
                      <td>1차</td>
                      <td>모달</td>
                      <td>2021년 4월 23일</td>
                      <td class="project-actions text-center">
						<a th:href="@{/modifyPlanInternshipDetail}">
							<button type="button" class="btn btn-default btn-xs" id="completeModifyPlanInternshipDetail" >
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</button>
						</a>
						<a  th:href="@{/deletePlanInternshipDetail}"  >
							<button type="button" class="btn btn-default btn-xs" >
								<i class="fas fa-trash">
								</i>
								삭제
							</button>
						</a>
					</td>
                    </tr>
                    
                    
                    <tr>
                      <td>2.</td>
                      <td>계획 내용 모달 가져오기</td>
                      <td>
                      	<!-- Button trigger modal -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-planInternshipDetail">
						  공인어학 상세 계획 내용보기
						</button>
                      </td>
                      
                      <td>2021년 3월 20일</td>
                      <td>2021년 4월 30일</td>
                      <td>
                        <div class="progress progress-sm progress-striped active">
                          <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                        </div>
                        <small>
							50% Complete
						</small>
                      </td>
                      <td><span class="badge bg-primary">진행중</span></td>
                      <td>1차</td>
                      <td>모달</td>
                      <td>2021년 3월 10일</td>
                      <td class="project-actions text-center">
						<a th:href="@{/modifyPlanInternshipDetail}">
							<button type="button" class="btn btn-default btn-xs" id="progressingModifyPlanInternshipDetail" >
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</button>
						</a>
						<a  th:href="@{/deletePlanInternshipDetail}">
							<button type="button" class="btn btn-default btn-xs" >
								<i class="fas fa-trash">
								</i>
								삭제
							</button>	
						</a>
					</td>
                    </tr>

             </tbody>
           </table>
         </div>
         <!-- /.card-body -->
       </div>
	
	</div>
	
	
	<!--Modal  -->
	<th:block th:replace="/fragments/detailPlanModal/modal-planInternshipDetail :: modal-planInternshipDetail"> </th:block>
	
	
	
	
</th:block>

<th:bolck layout:fragment="pageJavascript">
	
</th:bolck>

</html>