<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="planDetailTitleSearch">
	<!-- 검색 -->
	<div class="card card-default">
		<div class="card-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="row">
							<div class="form-group col-6" style="text-align: center;">
								<label>통합계획 선택하기</label>
								<select class="js-example-placeholder-single js-states form-control">
									<option selected>통합계획을 선택해 주세요.</option>
									<option>백엔드 개발자 취업준비</option>
									<option>백엔드 취업 후 1~3년차</option>
									<option>배달의 민족 취업하기</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6" style="text-align: center;">
								<label>계획 선택하기</label>
								<select class="js-example-placeholder-single js-states form-control">
									<option selected>통합계획을 선택해 주세요.</option>
									<option>백엔드 개발자 취업준비</option>
									<option>백엔드 취업 후 1~3년차</option>
									<option>배달의 민족 취업하기</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /검색-->
</th:block>
</html>