<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="planTopSelect">
	<div class="col-sm-8">
		<div class="form-group float-sm-right col-5" id="planSelectMenu" style="padding-right: 20px; margin: 0px;min-width:364px;">
			<select class="custom-select planSelect col-5">
				<option>상위메뉴선택</option>
				<option>통합계획</option>
				<option>계획</option>
				<option>상세계획</option>
				<option>실천계획</option>
			</select>&ensp;/&ensp;
			<select class="custom-select planSelect col-6" disabled>
				<option>하위메뉴선택</option>
			</select>
		</div>
	</div><!-- /.col -->
</th:block>
</html>