<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/addDefault}">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}">login title</title>
	<div></div>
	<div class="col-sm-12" th:align="center">
		<h1 class="m-0">🌟일반회원가입🌟</h1>
	</div>
	<div class="col-sm-12" th:align="right">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">addNormal</a></li>
			<li class="breadcrumb-item active">addNormal.html</li>
		</ol>
	</div>
</th:block>

<th:block layout:fragment="container">
	<div class="content">
		<!-- /.container-fluid -->
		<div class="container-fluid">
			<section class="content">
				<div class="row">
					<!-- ChallengeInsertCard1 Start -->
					<div class="col-md">
						<div class="card card-default" id="addNormalForm">
							<div class="card-body">
								<div class="register-box">
									<div class="card card-outline card-primary">
										<div class="card-header text-center">
											<b><font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;"><h2>회원가입</h2></font>
												</font>
											</b>
										</div>
										<div class="card-body">
											<form id="addNormalForm" th:action="@{/addNormal}" method="post">
												<div class="input-group mb-3">
													<input type="email" class="form-control" name="userEmail"
														placeholder="회원이메일을 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-user"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="password" class="form-control"
														name="userPassword" placeholder="비밀번호를 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userName"
														placeholder="회원이름을 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="date" class="form-control" name="userBirth"
														value="xxx" min="yyy" max="zzz">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userAddr" placeholder="주소를 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userAddrDetail" placeholder="상세주소를 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
												성별 : &emsp;
													<label> 
														<input type="radio" name="userGender" value="남" checked="checked">남자
													</label> &emsp;&emsp;
													<label> 
														<input type="radio" name="userGender" value="여">여자
													</label>
												</div>
												<div class="input-group mb-3">
													<input class="form-control" type="tel" name="userMoblie" size="5" /> - 
					 							    <input class="form-control" type="tel" name="userMoblie" size="5" /> -
												    <input class="form-control" type="tel" name="userMoblie" size="5" />
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userJob" placeholder="회원직업 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userJoinMotivation" placeholder="가입동기를 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userJoinPath" placeholder="가입경로를 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userRecommendEmail" placeholder="추천인 이메일을 입력해주세요.">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-8">
														<div class="icheck-primary">
																<input type="checkbox" name="userIsReceiveMarketing" value="Y" checked ="checked"> 
															<label for="userIsReceiveMarketing">
																<font style="vertical-align: inherit;">
																	<font style="vertical-align: inherit;">수신 동의 여부 </font>
																</font>
															</label>
														</div>
													</div>
													<!-- /.col -->
													<div class="col-4">
														<button type="submit" class="btn btn-primary btn-block">
															<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">회원가입</font></font>
														</button>
													</div>
													<!-- /.col -->
												</div>
											</form>
											<a th:href="@{login}" class="text-center"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">이미 회원가입이 되어있습니다.</font></font></a>
										</div>
										<!-- /.form-box -->
									</div>
									<!-- /.card -->
								</div>

							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>

				</div>

			</section>



		</div>
		<!-- /.container-fluid -->
	</div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

