<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">관리자 조회🌟</h1>
	</div>
	<!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">adminList</a></li>
			<li class="breadcrumb-item active">adminList.html</li>
		</ol>
	</div>
	<!-- /.col -->
</th:block>
<th:block layout:fragment="container">

	<!-- 검색 -->
	<div class="card card-default">
		<div class="card-body">
			<section class="content" id="">
				<div class="container-fluid">
					<form action="coachingAdminPage">
						<div class="row">
							<div class="col-md-10 offset-md-1">
								<div class="row">
									<div class="col-3">
										<div class="form-group">
											<label>구분</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option>전체</option>
												<option>전체_관리자</option>
												<option>코치승인_관리자</option>
												<option>회원정보_관리자</option>
											</select>
										</div>
									</div>

									<div class="col-3">
										<div class="form-group">
											<label>기간선택</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="">전체</option>
												<option>지난 1일</option>
												<option>지난 1주</option>
												<option>지난 1개월</option>
												<option>지난 1년</option>
												<!--                                                  <option>기간 설정</option> -->
											</select>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label>정렬기준1 : 날짜</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="" data-select2-id="8">최신순</option>
												<option>오래된순</option>
											</select>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label>정렬기준2 : 문자</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="" data-select2-id="8">오름차순</option>
												<option>내림차순</option>
											</select>
										</div>
									</div>

								</div>
								<div class="form-group">
									<div class="input-group input-group-lg">
										<div class="col-2">
											<div class="form-group">
												<label>검색옵션</label> <select
													class="js-example-placeholder-single js-states form-control">
													<option selected="">전체</option>
													<option>아이디</option>
													<option>등록일자</option>
													<!-- <option>내용</option>
                                                       <option>제목</option>
                                                       <option>제목+내용</option> -->
												</select>
											</div>
										</div>
										<input type="search" class="form-control form-control-lg"
											style="margin-top: 25px;"
											placeholder="Type your keywords here" value="검색어를 입력해주세요">
										<div class="input-group-append">
											<button class="btn btn-lg btn-default btn-sm"
												style="height: 49px; margin-top: 25px;">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
	<!-- /검색-->

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						<ion-icon size="small" name="list-outline" role="img"
							class="md icon-small hydrated" aria-label="list outline"></ion-icon>
						&emsp; 관리자 전체검색
					</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-striped text-nowrap">
						<thead class="adminList-head">
							<tr>
								<th>관리자 이메일</th>
								<th>비밀번호</th>
								<th>이름</th>
								<th>권한</th>
								<th>전화번호</th>
								<th>등록일자</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody class="adminUser-body">
							<tr th:each="l : ${adminList}">
								<td th:text="${l.adminEmail}"></td>
								<td th:text="${l.adminPassword}"></td>
								<td th:text="${l.adminName}"></td>
								<td th:text="${l.adminLevel}"></td>
								<td th:text="${l.adminMobile}"></td>
								<td th:text="${l.adminJoinDate}"></td>
								<td><a th:href="@{/modifyAdmin(adminEmail=${l.adminEmail})}">수정</a>
								<td><a th:href="@{/#}">삭제</a></td>
							</tr>

						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
				<!-- 코치 list 페이지번호  -->
				<div class="card-footer clearfix">
					<ul class="pagination pagination-sm m-0 float-right">
						<li class="page-item"><a class="page-link" href="#">«</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">»</a></li>
					</ul>
				</div>
			</div>
			<!-- /.card -->
		</div>
	</div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>





