<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">관리자 조회🌟</h1>
	</div>
	<!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">adminList</a></li>
			<li class="breadcrumb-item active">adminList.html</li>
		</ol>
	</div>
	<!-- /.col -->
</th:block>
<th:block layout:fragment="container">
	<div class="card card-default">
		<div class="card-body">
			<section class="content" id="normalUser-Search">
				<div class="container-fluid">
					<form th:action="@{normalList}">
						<!--아직  -->
						<div class="row">
							<div class="col-md-10 offset-md-1">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label>검색 타입</label> <select
												class="js-example-placeholder-single js-states form-control"
												control-id="ControlID-1">
												<option>이메일로 검색하기</option>
												<option>이름으로 검색하기</option>
												<option>생년월일로 검색하기</option>
												<option>주소로 검색하기</option>
												<option>성별로 검색하기</option>
												<option>전화번호로 검색하기</option>
												<option>직업으로 검색하기</option>
												<option>수신동의여부로 검색하기</option>
												<option>가입일자로 검색하기</option>
												<option>탈퇴상태로 검색하기</option>
											</select>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label>정렬 순서</label> <select
												class="js-example-placeholder-single js-states form-control"
												control-id="ControlID-2">
												<option selected="" data-select2-id="5">오름차순</option>
												<option>내림차순</option>
											</select>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label>정렬 기준</label> <select
												class="js-example-placeholder-single js-states form-control"
												control-id="ControlID-3">
												<option selected="" data-select2-id="8">제목</option>
												<option>기간</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group input-group-lg">
										<input type="search" class="form-control form-control-lg"
											placeholder="Type your keywords here" value="Lorem ipsum"
											control-id="ControlID-4">
										<div class="input-group-append">
											<button type="submit" class="btn btn-lg btn-default"
												control-id="ControlID-5">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</section>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						<ion-icon size="small" name="list-outline" role="img"
							class="md icon-small hydrated" aria-label="list outline"></ion-icon>
						&emsp; 관리자 전체검색
					</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-striped text-nowrap">
						<thead class="adminList-head">
							<tr>
								<th>관리자 이메일</th>
								<th>비밀번호</th>
								<th>이름</th>
								<th>권한</th>
								<th>전화번호</th>
								<th>등록일자</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody class="adminUser-body">
							<tr th:each="l : ${adminList}">
								<td th:text="${l.adminEmail}"></td>
								<td th:text="${l.adminPassword}"></td>
								<td th:text="${l.adminName}"></td>
								<td th:text="${l.adminLevel}"></td>
								<td th:text="${l.adminMobile}"></td>
								<td th:text="${l.adminJoinDate}"></td>
								<td><a th:href="@{/#}">수정</a></td>
								<td><a th:href="@{/#}">삭제</a></td>
							</tr>

						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
				<!-- 코치 list 페이지번호  -->
				<div class="card-footer clearfix">
					<ul class="pagination pagination-sm m-0 float-right">
						<li class="page-item"><a class="page-link" href="#">«</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">»</a></li>
					</ul>
				</div>
			</div>
			<!-- /.card -->
		</div>
	</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>





