<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">코치회원조회🌟</h1>
	</div>
	<!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">coachList</a></li>
			<li class="breadcrumb-item active">coachList.html</li>
		</ol>
	</div>
	<!-- /.col -->
</th:block>
<th:block layout:fragment="container">
	<!-- 검색 -->
	<div class="card card-default">
		<div class="card-body">
			<section class="content" id="">
				<div class="container-fluid">
					<form action="coachingAdminPage">
						<div class="row">
							<div class="col-md-10 offset-md-1">
								<div class="row">
									<div class="col-2">
										<div class="form-group">
											<label>구분</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option>전체</option>
												<option>멘토링</option>
												<option>컨설팅</option>
											</select>
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<label>상태</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="">전체</option>
												<option>승인 진행중</option>
												<option>승인 반려</option>
												<option>승인 완료</option>
												<option>승인 거절</option>
											</select>
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<label>기간선택</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="">전체</option>
												<option>지난 1일</option>
												<option>지난 1주</option>
												<option>지난 1개월</option>
												<option>지난 1년</option>
												<option>기간 설정</option>
											</select>
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<label>정렬기준1 : 날짜</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="" data-select2-id="8">최신순</option>
												<option>오래된순</option>
											</select>
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<label>정렬기준2 : 문자</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="" data-select2-id="8">오름차순</option>
												<option>내림차순</option>
											</select>
										</div>
									</div>
									<div class="col-2">
										<div class="form-group">
											<label>탈퇴여부</label> <select
												class="js-example-placeholder-single js-states form-control">
												<option selected="" data-select2-id="8">회원</option>
												<option>탈퇴</option>
											</select>
										</div>
									</div>

								</div>
								<div class="form-group">
									<div class="input-group input-group-lg">
										<div class="col-2">
											<div class="form-group">
												<label>검색옵션</label> <select
													class="js-example-placeholder-single js-states form-control">
													<option selected="">전체</option>
													<option>아이디</option>
													<option>등록일자</option>
													<!-- <option>내용</option>
                                                       <option>제목</option>
                                                       <option>제목+내용</option> -->
												</select>
											</div>
										</div>
										<input type="search" class="form-control form-control-lg"
											style="margin-top: 25px;"
											placeholder="Type your keywords here" value="검색어를 입력해주세요">
										<div class="input-group-append">
											<button class="btn btn-lg btn-default btn-sm"
												style="height: 49px; margin-top: 25px;">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
	<!-- /검색-->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						<ion-icon size="small" name="list-outline" role="img"
							class="md icon-small hydrated" aria-label="list outline"></ion-icon>
						<b>코치회원 전체검색</b>
					</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-striped text-nowrap"
						style="overflow: scroll; width: 100%; white-space: nowrap;">
						<thead class="coachlList-head">
							<tr>
								<th>코치이메일</th>
								<th>비밀번호</th>
								<th>이름</th>
								<th>생년월일</th>
								<th>주소</th>
								<th>상세주소</th>
								<th>성별</th>
								<th>전화번호</th>
								<th>권한</th>
								<th>직업</th>
								<th>경력사항</th>
								<th>기술스택</th>
								<th>자격증</th>
								<th>경력증빙서류</th>
								<th>자격증빙서류</th>
								<th>가입승인여부</th>
								<th>승인자이메일</th>
								<th>수신자동의여부</th>
								<th>가입동기</th>
								<th>가입경로</th>
								<th>추천인이메일</th>
								<th>가입일자</th>
								<th>탈퇴상태</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody class="coachlList-body">
							<tr th:each="l : ${coachList}">
								<td th:text="${l.coachEmail}"></td>
								<td th:text="${l.coachPassword}"></td>
								<td th:text="${l.coachName}"></td>
								<td th:text="${l.coachBirth}"></td>
								<td th:text="${l.coachAddr}"></td>
								<td th:text="${l.coachAddrDetail}"></td>
								<td th:text="${l.coachGender}"></td>
								<td th:text="${l.coachMobile}"></td>
								<td th:text="${l.coachAuthority}"></td>
								<td th:text="${l.coachJob}"></td>
								<td th:text="${l.coachProfileCareer}"></td>
								<td th:text="${l.coachProfileTechStack}"></td>
								<td th:text="${l.coachCertificate}"></td>
								<td th:text="${l.coachCareerDocumentaryEvidence}"></td>
								<td th:text="${l.coachCertificateDocumentaryEvidence}"></td>
								<td th:text="${l.coachJoinApproval}"></td>
								<td th:text="${l.coachApproverEmail}"></td>
								<td th:text="${l.coachIsReceiveMarketing}"></td>
								<td th:text="${l.coachJoinMotivation}"></td>
								<td th:text="${l.coachJoinPath}"></td>
								<td th:text="${l.coachRecommendEmail}"></td>
								<td th:text="${l.coachJoinDate}"></td>
								<td th:text="${l.coachWithdrawStatus}"></td>
								<td><a
									th:href="@{/modifyCoach(coachUserEmail=${l.coachEmail})}">수정</a>
								</td>
								<td><a th:href="@{/#}">삭제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
				<!-- 코치 list 페이지번호  -->
				<div class="card-footer clearfix">
					<ul class="pagination pagination-sm m-0 float-right">
						<li class="page-item"><a class="page-link" href="#">«</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">»</a></li>
					</ul>
				</div>
			</div>
			<!-- /.card -->
		</div>
	</div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>



