<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/forgotPasswordDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">login title</title>
	<div></div>
	<div class="col-sm-12" th:align="center">
		<h1 class="m-0">🌟코치회원🌟</h1>
	</div>
	<div class="col-sm-12" th:align="right">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/coachLogin">coachForgotPassword</a></li>
			<li class="breadcrumb-item active">coachForgotPassword.html</li>
		</ol>
	</div>
</th:block>
<th:block layout:fragment="container">
	<section class="content">
		<div class="row">
			<!-- ChallengeInsertCard1 Start -->
			<div class="col-md-06">
				<div class="card card-default" id="loginForm">
					<div class="card-body">
						<!-- 회원 이메일 찾기 -->
						<div class="login-box">
							<!-- /.login-logo -->
							<div class="card-m-2">
								<div class="card-body login-card-body">
									<p class="login-box-msg">
									<h4>코치이메일 찾기</h4>
									</p>
									<br>
									<form th:action="@{/coachForgotEmail}" method="post">
										<div class="input-group mb-3">
											<input type="text" name="userName" class="form-control"
												placeholder="회원 이름을 입력하시오.">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-envelope"></span>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="text" name="userMoblie" class="form-control"
												placeholder="핸드폰 번호를 입력하시오.">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-envelope"></span>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="text" class="form-control"
												placeholder="adminEmail" readonly="readonly"
												th:value="${userEmail}">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-lock"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-8">
												<div class="icheck-primary">
													<p>
														<a th:href="@{login}" class="text-center">로그인하러 가기</a>
													</p>
												</div>
											</div>
											<!-- /.col -->
											<div class="col-4">
												<button type="submit" class="btn btn-primary btn-block">Sign
													in</button>
											</div>
											<!-- /.col -->
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- 회원 패스워드 찾기 -->
						<div class="login-box">
							<!-- /.login-logo -->
							<div class="card-m-2">
								<div class="card-body login-card-body">
									<p class="login-box-msg">
									<h4>코치패스워드 찾기</h4>
									</p>
									<br>
									<form th:action="@{/coachForgotPassword}" method="post">
										<div class="input-group mb-3">
											<select class="form-control" name="passwordQuestion">
												<option value="" selected="selected">::질문::</option>
												<option value="컨설턴트">컨설턴트</option>
												<option value="멘토">멘토</option>
											</select>
											<div class="input-group-text">
												<ion-icon name="chatbubble-ellipses-outline"></ion-icon>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="text" class="form-control"
												placeholder="패스워드 질문을 입력하시오">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-envelope"></span>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="text" class="form-control"
												placeholder="adminPassword" readonly="readonly"
												th:value="${userPassword}">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-lock"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-8">
												<div class="icheck-primary">
													<p>
														<a th:href="@{login}" class="text-center">로그인하러 가기</a>
													</p>
												</div>
											</div>
											<!-- /.col -->
											<div class="col-4">
												<button type="submit" class="btn btn-primary btn-block">Sign
													in</button>
											</div>
											<!-- /.col -->
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>

		</div>

	</section>
</th:block>
</html>