<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">코치회원조회🌟</h1>
	</div>
	<!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">coachList</a></li>
			<li class="breadcrumb-item active">coachList.html</li>
		</ol>
	</div>
	<!-- /.col -->
</th:block>
<th:block layout:fragment="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">일반회원 전체검색</h3>

					<div class="card-tools">
						<div class="input-group input-group-sm" style="width: 200px;">
							<input type="text" name="table_search"
								class="form-control float-right" placeholder="Search">

							<div class="input-group-append">
								<button type="submit" class="btn btn-default">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0" style="height: 500;">
					<table class="table table-head-fixed table-responsive" style="overflow: scroll; width: 100%; white-space: nowrap;">
						<thead class="challenge-head">
							<tr>
								<td>코치이메일</td>
								<td>비밀번호</td>
								<td>이름</td>
								<td>생년월일</td>
								<td>주소</td>
								<td>상세주소</td>
								<td>성별</td>
								<td>전화번호</td>
								<td>권한</td>
								<td>직업</td>
								<td>경력사항</td>
								<td>기술스택</td>
								<td>자격증</td>
								<td>경력증빙서류</td>
								<td>자격증빙서류</td>
								<td>가입승인여부</td>
								<td>승인자이메일</td>
								<td>수신자동의여부</td>
								<td>가입동기</td>
								<td>가입경로</td>
								<td>추천인이메일</td>
								<td>가입일자</td>
								<td>탈퇴상태</td>
								<td>수정</td>
								<td>삭제</td>
							</tr>
						</thead>
						<tbody class="challenge-body">
							<tr th:each="l : ${coachList}">
								<td th:text="${l.coachEmail}"></td>
								<td th:text="${l.coachPassword}"></td>
								<td th:text="${l.coachName}"></td>
								<td th:text="${l.coachBirth}"></td>
								<td th:text="${l.coachAddr}"></td>
								<td th:text="${l.coachAddrDetail}"></td>
								<td th:text="${l.coachGender}"></td>
								<td th:text="${l.coachMobile}"></td>
								<td th:text="${l.coachAuthority}"></td>
								<td th:text="${l.coachJob}"></td>
								<td th:text="${l.coachProfileCareer}"></td>
								<td th:text="${l.coachProfileTechStack}"></td>
								<td th:text="${l.coachCertificate}"></td>
								<td th:text="${l.coachCareerDocumentaryEvidence}"></td>
								<td th:text="${l.coachCertificateDocumentaryEvidence}"></td>
								<td th:text="${l.coachJoinApproval}"></td>
								<td th:text="${l.coachApproverEmail}"></td>
								<td th:text="${l.coachIsReceiveMarketing}"></td>
								<td th:text="${l.coachJoinMotivation}"></td>
								<td th:text="${l.coachJoinPath}"></td>
								<td th:text="${l.coachRecommendEmail}"></td>
								<td th:text="${l.coachJoinDate}"></td>
								<td th:text="${l.coachWithdrawStatus}"></td>
								<td><a
									th:href="@{/modifyCoach(coachUserEmail=${l.coachEmail})}">수정</a>
								</td>
								<td><a th:href="@{/#}">삭제</a></td>
							</tr>
						</tbody>
					</table>
					<div class="card-footer clearfix">
						<ul class="pagination pagination-sm m-0 float-right">
							<li class="page-item"><a class="page-link" href="#">«</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#">»</a></li>
						</ul>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>



