<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/add&ModifyDefault}">
	  
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">DEV-CDPER🌟</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">modifyNormal</a></li>
			<li class="breadcrumb-item active">modifyNormal.html</li>
		</ol>
	</div><!-- /.col -->
</th:block>

<th:block layout:fragment="container">
<div class="content">
		<!-- /.container-fluid -->
		<div class="container-fluid">
			<section class="content">
				<div class="row">
					<!-- ChallengeInsertCard1 Start -->
					<div class="col-md">
						<div class="card card-default" id="addNormalForm">
							<div class="card-body">
								<div class="register-box">
								
									<div class="card card-outline card-primary">
									
										<div class="card-header text-center">
											<b> <font style="vertical-align: inherit;"> 
											<font style="vertical-align: inherit;">
														<h2>일반회원 수정</h2>
												</font>
											</font>
											</b>
										</div>
										
										<div class="card-body">
											<form id="addForm" th:action="@{/modifyNormal}" method="post">
												<div>회원일메일</div>
												<div class="input-group mb-3">
													<input type="text" name="userEmail"  class="form-control" th:value="${normalUser.userEmail}" readonly="readonly"/>
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-user"></span>
														</div>
													</div>
												</div>
												<div>패스워드</div>
												<div class="input-group mb-3">
													<input type="password" name="userPassword" class="form-control" th:value="${normalUser.userPassword}"/>
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div>패스워드 찾기 답변</div>
												<div class="input-group mb-3">
													<input type="text" name="userPasswordAnswer" class="form-control" th:value="${normalUser.userPasswordAnswer}"/>
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div>이름</div>
												<div class="input-group mb-3">
													<input type="text" name="userName" class="form-control" th:value="${normalUser.userName}"/>
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div>생년월일</div>
												<div class="input-group mb-3">
													<input type="date" name="userBirth" class="form-control" th:value="${normalUser.userBirth}">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div>주소</div>
												<div class="input-group mb-3">
													<input type="text" name="userAddr" class="form-control" th:value="${normalUser.userAddr}"/>
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div>상세주소</div>
												<div class="input-group mb-3">
													<input type="text" name="userAddrDetail" class="form-control" th:value="${normalUser.userAddrDetail}"/>
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												<div class="input-group mb-3">
												성별 : &emsp;
													<label> 
														 <input type="radio" name="userGender" value="남" th:checked ="${normalUser.userGender}">남자	
													</label> &emsp;&emsp;
													<label> 
														 <input type="radio" name="userGender" value="여" th:checked ="${normalUser.userGender}">여자	
													</label>
												</div>
												
												<div>연락처</div>
												<div class="input-group mb-3">
													<input type="text" name="userMoblie" class="form-control" maxlength="13" id="Mobile" 
														th:value="${normalUser.userMoblie}" />
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
												
												<div>직업</div>
												<div class="input-group mb-3">
													<input type="text" class="form-control" name="userJob" th:value="${normalUser.userJob}">
													<div class="input-group-append">
														<div class="input-group-text">
															<span class="fas fa-lock"></span>
														</div>
													</div>
												</div>
											<div class="row">
													<div class="col-8">
														<div class="icheck-primary">
															<label for="userIsReceiveMarketing">
																<input type="checkbox" name="userIsReceiveMarketing" value="Y" checked ="checked"> 
																<font style="vertical-align: inherit;">
																	<font style="vertical-align: inherit;">수신 동의 여부 </font>
																</font>
															</label>
														</div>
													</div>
													<!-- /.col -->
													<div class="col-4 butt">
														<button type="submit" class="btn btn-primary btn-block" id="addUserBtn">
															<font style="vertical-align: inherit;"> <font
																style="vertical-align: inherit;">회원정보 수정</font>
															</font>
														</button>
													</div>
													<!-- /.col -->
												</div>
											</form>
												</div>
										</div>
										<!-- /.form-box -->
									</div>
									<!-- /.card -->
								</div>

							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
				</div>

			</section>



		</div>
		<!-- /.container-fluid -->
	</div>
	
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

