<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">DEV-CDPER🌟</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">modifyNormal</a></li>
			<li class="breadcrumb-item active">modifyNormal.html</li>
		</ol>
	</div><!-- /.col -->
</th:block>

<th:block layout:fragment="container">
	<div class="col-sm-12">
		<div class="card-body table-responsive p-0">
			<form id="modifyNormalForm" th:action="@{/modifyNormal}" method="post">
			    <table id="example2" class="table table-bordered table-hover">
					<tr>
						<td>아이디</td>
						<td>
							<input type="text" name="userEmail" th:value="${normalUser.userEmail}" readonly="readonly"/>
						</td>			
					</tr>
					<tr>
						<td>비밀번호</td>
						<td>
							<input type="password" name="userPassword" th:value="${normalUser.userPassword}"/>
						</td>			
					</tr>
					<tr>
						<td>이름</td>
						<td>
							<input type="text" name="userName" th:value="${normalUser.userName}"/>
						</td>			
					</tr>
					<tr>
						<td>생년월일</td>
						<td>
							<input type="date" name="userBirth" th:value="${normalUser.userBirth}">
						</td>			
					</tr>
					<tr>
						<td>주소</td>
						<td>
							<input type="text" name="userAddr" th:value="${normalUser.userAddr}"/>
						</td>			
					</tr>
					<tr>
						<td>상세주소</td>
						<td>
							<input type="text" name="userAddrDetail" th:value="${normalUser.userAddrDetail}"/>
						</td>			
					</tr>
					<tr>
						<td>성별</td>
						<td>
							<label>
								 <input type="radio" name="userGender" value="남" th:checked ="${normalUser.userGender == '남'}">남 
							</label>
							<label>
	                  			 <input type="radio" name="userGender" value="여" th:checked ="${normalUser.userGender == '여'}">여
							</label>
						</td>			
					</tr>
					<tr>
						<td>연락처</td>
						<td>
							 <select name="userMoblie" style="width: 7%; " th:selected = "${normalUser.userMoblie}">
                                <option value="">선택</option>
                                
                                    <option value="010">010</option>
                                
                                    <option value="011">011</option>
                                
                                    <option value="016">016</option>
                                
                                    <option value="017">017</option>
                                
                                    <option value="018">018</option>
                                
                                    <option value="019">019</option>
                                
                            </select>-
						     <input type="text" name="userMoblie" th:value="${normalUser.userMoblie}" size="5" /> - 
						     <input type="text" name="userMoblie" th:value="${normalUser.userMoblie}" size="5" /><br />
						</td>			
					</tr>
					<tr>
						<td>회원직업</td>
						<td>
							<input type="text" name="userJob" th:value="${normalUser.userJob}"/>
						</td>			
					</tr>
					<tr>
						<td>수신동의여부</td>
						<td>
							<label>
								<input type="radio" name="userIsReceiveMarketing" value="Y" th:checked ="${normalUser.userIsReceiveMarketing == 'Y'}">Yes 
							</label>
							<label>
	                  			<input type="radio" name="userIsReceiveMarketing" value="N" th:checked ="${normalUser.userIsReceiveMarketing == 'N'}">NO
							</label>
						</td>			
					</tr>
										
					<tr>
						<td colspan="2" style="text-align: center;">
							<button type="submit" id="modifyNormalBtn">회원가입</button>
						</td>			
					</tr>
			    </table>
		   </form>
		</div>
	</div>	    
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

