<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	  
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">DEV-CDPER🌟</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">myPage</a></li>
			<li class="breadcrumb-item active">myPage.html</li>
		</ol>
	</div><!-- /.col -->
	
</th:block>

		
<th:block layout:fragment="container">
	
	<div th:if="${session.ULEVEL == '일반'}">
		<div>프로필 이미지</div>
		<div class="input-group mb-3">
			<form th:action="@{getNormalProfilePicture}" method="post" enctype="multipart/form-data">
				<input type="file" name="userProfilePicture"/>
				<button type="submit">업로드1</button>
			</form>
		</div>
	</div>
	<div th:if="${session.ULEVEL == '코치'}">
		<div>프로필 이미지</div>
		<div class="input-group mb-3">
			<form th:action="@{getCoachProfilePicture}" method="post" enctype="multipart/form-data">
				<input type="file" name="coachProfilePicture"/>
				<button type="submit">업로드2</button>
			</form>
		</div>
	</div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>

</html>

