<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-6">
		<h1 class="m-0">통합계획등록</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a th:href="@{/totalPlan}">통합계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/mainCdp}">계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/detailPlan}">상세계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/actionPlan}">실천계획</a></li>
		</ol>
	</div><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
	<section class="content">
		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">
					통합계획등록
				</h3>
    		</div>
			
			<!-- card-body -->
			<!-- Content Wrapper. Contains page content -->
			<div class="card-body" style="margin-left: unset; background-color: #F2F2F2;">
				<form th:action="@{/addTotalPlan}" method="POST">
					<div class="container-fluid" th:align="center">
						<div class="col-md-6" style="text-align: left;">
							<div class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">통합계획정보입력</h3>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="totlaPlanName">통합계획 명</label>
										<input type="text" id="totlaPlanName" class="form-control">
									</div>
									<div class="form-group">
										<label for="totlaPlanContent">통합계획 내용</label>
										<textarea id="totlaPlanContent" class="form-control" rows="4"></textarea>
									</div>
									<div class="form-group">
										<label for="totlaPlanStartDate">시작일자</label>
										<input type="date" id="totlaPlanStartdate" class="form-control">
									</div>
									<div class="form-group">
										<label for="totlaPlanEndDate">종료일자</label>
										<input type="date" id="totlaPlanEndDate" class="form-control">
									</div>
									<div class="form-group">
										<label for="totlaPlanStatus">상태</label>
										<select id="totlaPlanStatus" class="form-control custom-select">
											<option selected disabled>상태 선택</option>
											<option>진행중</option>
											<option>중단됨</option>
											<option>완료</option>
										</select>
									</div>
									<div hidden>
										<label for="totalPlanDegree">차수</label>
										<input type="number" id="totalPlanDegree" value="1" class="form-control">
									</div>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<a th:href="@{/totalPlan}" class="btn btn-danger">취소</a>
							<button type="submit" class="btn btn-primary float-right">통합계획 생성하기</button>
						</div>
					</div>
				</form>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</section>
</th:block>
<th:block layout:fragment="pageJavascript">

</th:block>
</html>