<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-4">
		<h1 class="m-0 koreafont">통합계획</h1>
	</div><!-- /.col -->
	<!-- 우측 상단 경로바 -->
	<th:block th:replace="/fragments/plan/planTopSelect :: planTopSelect"></th:block>
</th:block>
<th:block layout:fragment="container">
<!-- Default box -->

	<!--계획 공통검색 기능-->
	<th:block th:replace="/fragments/plan/totalPlanSearch :: totalPlanSearch"></th:block>
	<!-- Default box -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">
				통합계획
			</h3>
			
			<div class="card-tools">
				<a class="btn btn-outline-primary" th:href="@{/addTotalPlan(planName='totalPlan')}">
					등록하기
				</a> 	
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0" style="overflow: scroll; white-space: nowrap;">
			<table class="table table-striped planTable">
				<thead>
					<tr>
						<th>
							순번
						</th>
						<th>
							통합계획제목
						</th>
						<th>
							통합계획내용
						</th>
						<th>
							시작일자
						</th>
						<th>
							종료일자
						</th>
						<th>
							진행율
						</th>
						<th>
							진행상태
						</th>
						<th>
							구분
						</th>
						<th>
							차수
						</th>
						<th>
							차수변경사유
						</th>
						<th>
						
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tpl : ${totalPlanList}">
						<a th:text="${tpl.planCode}" hidden></a>
						<td >
							1
						</td>
						<td>
							<a th:text="${tpl.planTitle}">
								백엔드 개발자 취업 준비
							</a>
							<br/>
							<small th:text="'등록일 : ' + ${tpl.registerDate}">
								등록일 : 2021.04.21
							</small>
						</td>
						<td>
							<a class="planContents" th:text="${tpl.planContents}" hidden></a>
							<button type="button" class="btn btn-default btn-sm planContentsBtn">
								계획내용보기
							</button>
						</td>
						<td> 
							<a th:text="${tpl.startDate}">2021.04.22</a>
						</td>
						<td>
							<a th:text="${tpl.endDate}">2028.02.10</a>
						</td>
						<td class="project_progress">
							<div class="progress progress-sm">
								<div class="progress-bar bg-green" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%">
								</div>
							</div>
							<small>
								13% Complete
							</small>
						</td>
						<td>
							<span class="badge badge-danger planStatus" th:text="${tpl.planStatus}">
								중단됨
							</span>
						</td>
						<td th:text="${tpl.totalPlanDivision}">
							도움받기
						</td>
						<td>
							<a th:text="${tpl.planDegree}">
								1차
							</a>
						</td>
						<td>
							<a class="degreeChangeReason" th:text="${tpl.degreeChangeReason}" hidden></a>
							<button type="button" class="btn btn-default btn-sm degreeChangeReasonBtn">
								<i class="far fa-comment-alt"></i>
							</button>
						</td>
						<td class="project-actions text-center">
							<a class="btn btn-default btn-xs mainPlan" th:href="@{/mainPlan(planCode=${tpl.planCode})}">
								<i class="fas fa-folder">
								</i>
								계획보기
							</a>
							<a class="btn btn-default btn-xs modifyTotalPlan" th:href="@{/modifyTotalPlan(planCode=${tpl.planCode})}">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							<a class="btn btn-default btn-xs" th:href="@{/deleteTotalPlan(planCode=${tpl.planCode})}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<!-- /.card-body -->
	</div>
	<!-- /.card -->
	
	<!-- Paging 영역 시작 -->
	<ul class="pagination justify-content-center m-0">
		<li class="page-item active"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#">4</a></li>
		<li class="page-item"><a class="page-link" href="#">5</a></li>
		<li class="page-item"><a class="page-link" href="#">6</a></li>
		<li class="page-item"><a class="page-link" href="#">7</a></li>
		<li class="page-item"><a class="page-link" href="#">8</a></li>
	</ul>
	<!-- Paging 영역 시작 -->
	
	<!-- Modal 영역 시작-->
	<!-- planModalContents -->
	<th:block th:replace="/fragments/planModal/planModalContents :: planModalContents"></th:block>
	<!-- planModalDegree -->
	<th:block th:replace="/fragments/planModal/planModalDegree :: planModalDegree"></th:block>
	<!-- Modal 영역 끝 -->
</th:block>
<th:block layout:fragment="pageJavascript">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			
			/* parameter 영역 */
			var table = $('.planTable');
			var mainPlan = table.find('.mainPlan');
			var modifyTotalPlan = table.find('.modifyTotalPlan');
			var planContentsBtn = $('.planContentsBtn');
			var degreeChangeReasonBtn = $('.degreeChangeReasonBtn');
			
			/* alert 영역 */
			mainPlan.click(function(){
				if($(this).parent().parent().find('.planStatus').text() == '중단'){
					alert('중단된 계획은 계획보기를 할 수 없습니다.');
					$(this).attr('href','#');
				};
			});
			modifyTotalPlan.click(function(){
				if($(this).parent().parent().find('.planStatus').text() == '중단'){
					alert('중단된 계획은 수정할 수 없습니다.');
					$(this).attr('href','#');
				};
			});
			
			/* Modal 영역 */
			planContentsBtn.click(function(){
				$("#myModal").modal();
				$(".modalContents").text($(this).parent().find($('.planContents')).text());
			});
			degreeChangeReasonBtn.click(function(){
				$("#myModal2").modal();
				$(".degreeChangeReasonModal").text($(this).parent().find($('.degreeChangeReason')).text());
			});
			
			/* 테이블 CSS 영역 */
			table.find('td').css({
				'vertical-align' : 'middle'
				,'text-align' : 'center'
			});
			table.find('th').css({
				'text-align' : 'center'
			});
			table.find('small').css({
				'color' : '#969696'
			});
			
		});
	</script>
</th:block>
</html>