<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="pageTitle">
		<title th:text="${title}">코칭 후기 관리</title>
		<div class="col-sm-6">
			<h1 class="m-0">코칭 후기 관리</h1>
		</div>
		<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block>
	</th:block>
	
	
	<th:block layout:fragment="container">
		
		+ 검색옵션 - 아이디별  
		<br>
		<form action="enhanced-results.html" data-select2-id="15">
                <div class="row" data-select2-id="14">
                    <div class="col-md-10" data-select2-id="13">
                        <div class="row" data-select2-id="12">

                            <div class="col-3" data-select2-id="19">
                                <div class="form-group" data-select2-id="18">
                                    <label>구분</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="3" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="5">멘토링</option>
                                        <option data-select2-id="20">컨설팅</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3" data-select2-id="11">
                                <div class="form-group" data-select2-id="10">
                                    <label>상태</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="8">견적요청</option>
                                        <option data-select2-id="16">견적결과</option>
                                        <option data-select2-id="16">신청완료</option>
                                        <option data-select2-id="16">이용완료</option>
                                        <option data-select2-id="16">서비스기간만료</option>
                                        <option data-select2-id="16">취소환불</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3" data-select2-id="11">
                                <div class="form-group" data-select2-id="10">
                                    <label>기간선택</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="8">모든날짜</option>
                                        <option data-select2-id="16">지난 1일</option>
                                        <option data-select2-id="16">지난 1주</option>
                                        <option data-select2-id="16">지난 1개월</option>
                                        <option data-select2-id="16">지난 1년</option>
                                        <option data-select2-id="16">기간 설정</option>
                                    </select>
                                </div>
                            </div>
                             <div class="col-3" data-select2-id="11">
                                <div class="form-group" data-select2-id="10">
                                    <label>정렬</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="8">최신순</option>
                                        <option data-select2-id="16">오래된순</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-3">
                                    <label>검색옵션</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="8">검색옵션</option>
                                        <option data-select2-id="16">아이디</option>
                                        <option data-select2-id="16">등록일자</option>
                                        <option data-select2-id="16">내용</option>
                                        <option data-select2-id="16">제목</option>
                                        <option data-select2-id="16">제목+내용</option>
                                    </select>
                            </div>
                            <div class="input-group input-group-lg col-8">
                                <input type="search" class="form-control form-control-lg" style="height: 55px"  placeholder="Type your keywords here" value="Lorem ipsum">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		</form>
		
		<!-- 카테고리 관리 card -->
		<div class="card">
	              <div class="card-header">
	                <h3 class="card-title">후기 목록</h3>
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body autoScroll">
	                <table class="table table-striped">
	                  <thead >
	                    <tr>
	                      <th >#</th>
	                      <th>구분</th>
	                      <th>후기 제목</th>
	                      <th>후기 내용</th>
	                      <th>코치아이디</th>
	                      <th>작성자</th>
	                      <th>달점</th>
	                      <th>작성 날짜</th>
	                      <th>상세보기</th>
	                      <th>삭제</th>
	                    
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr>
	                      <td >1</td>
	                      <td>멘토링</td>
	                      <td>좋습니다</td>
	                      <td>멘토님이도와주셔서 목표를 이루는데 가까워....</td>
	                      <td>코치</td>
	                      <td>작성자</td>
	                      <td>달점</td>
	                      <td>2021-06-29</td>
	                      <td>
	    	                  	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width:60px;" >상세보기</button></a>   
		                  </td>
		                  <td>
		                      	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width: 50px;">삭제</button></a>   
		                    
	                      </td>
	                    </tr>
	                    <tr>
	                      <td >2</td>
	                      <td>컨설팅</td>
	                      <td>감사합니다</td>
	                      <td>아쉬움이 조금 있습니다....</td>
	                      <td>코치</td>
	                      <td>작성자</td>
	                      <td>달점</td>
	                      <td>2021-06-29</td>
	                      <td>
	    	                  	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width:60px;" >상세보기</button></a>   
		                  </td>
		                  <td>
		                      	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width: 50px;">삭제</button></a>   
		                    
	                      </td>
	                    </tr>          
	                  </tbody>
	                </table>
	                <div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
	              </div>
	              </div>
	              <!-- /.card-body -->
	    </div>
		<!-- /카테고리 관리 card -->

	
	</th:block>
</html>

