<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="pageTitle">
		<title th:text="${title}">main title</title>
		<div class="col-sm-6">
			<h1 class="m-0">coach profile</h1>
		</div><!-- /.col -->
		<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block>
		
		<!-- /.col -->
	</th:block>
	
	<th:block layout:fragment="container">
		<!-- 정렬 row 클래스 - 코치 프로필 전체시작과 끝에 태그위치시킴 -->
		<div class="row">
	          <div class="col-md-3">
	            <!-- Profile Image -->
	            <div class="card card-primary card-outline">
	              <div class="card-body box-profile">
	                <div class="text-center">
	                  <img class="profile-user-img img-fluid img-circle" src="/AdminLTE3/dist/img/홍길동.jpg" alt="User profile picture">
	                </div>
	
	                <h3 th:text="${coachList.get(0).getCoachName()}" class="profile-username text-center"></h3>
	
	                <p class="text-muted text-center">
	                 <span th:if="${coachList.get(0).getCoachAuthority()=='멘토'}" th:text="멘토"></span>
	                 <span th:if="${coachList.get(0).getCoachAuthority()=='컨설턴트'}" th:text="컨설턴트"></span>
	                </p>
	
	                <ul class="list-group list-group-unbordered mb-3">
	                  <li class="list-group-item">
	                    <b>코칭 진행 횟수 </b> 
	                    <a class="float-right" th:text="${coachList.get(0).getCoachManagement().getCoachManagementCount()} + '회'"> </a>
	                  </li>
	                  <li class="list-group-item">
	                    <b>코칭 평균 평점</b> 
	                    <a class="float-right" th:text="'🌕'+${coachList.get(0).getCoachManagement().getCoachManagementRate()} + '/5.0'"></a>
	                  </li>
	                  <li class="list-group-item">
	                    <b>1시간당 평균 </b> 
	                    <a class="float-right" th:text="${coachList.get(0).getCoachManagement().getCoachManagementHourlyAveragePrice()} + '원'"></a>
	                  </li>               
	                </ul>
	             	<a href="#" >
	             		<button type="button" class="btn btn-sm bg-teal" style="width: 90%">
			                <b><i class="fas fa-comments"></i>&nbsp;#문의</b>
	             		</button>
		            </a>
	                <a th:href="@{/coachingRFQ(coachEmail=${coachList.get(0).getCoachManagement().getCoachUserEmail()})}">
	                	<button type="button"  class="btn btn-primary btn-block" style="width: 90%">
	                		<b><i class="fas fa-user"></i> &nbsp;!견적요청</b>
	                	</button>
	                </a>
	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	          <!-- /.col -->
	          <div class="col-md-9">
	            <div class="card">
	              <!-- card-header -->
	              <div class="card-header p-2">
	                <ul class="nav nav-pills">
	                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">소개</a></li>
	                  <li class="nav-item"><a class="nav-link reviewMenu" href="#timeline" data-toggle="tab">#후기</a></li>
	                </ul>
	              </div>
	              <!-- /.card-header -->
	              
	              <div class="card-body">
	                <div class="tab-content">
	                  <!-- 소개 -->
	                  <div class="tab-pane active" id="activity">
	                  	 <div class="post clearfix">
	                    	<!-- post 1 -->
		                    <b>
		                    	<p th:text="${coachList.get(0).getCoachManagement().getCoachingIntroduceSubject()}"> </p>
							</b> 
							<p th:text="${coachList.get(0).getCoachManagement().getCoachingIntroduceContents()}"> </p>
		                 </div>
	                    <!-- /.post 1 -->
	
	                       <!-- Post 2-->
		                   <div class="post">
					              <div class="card-body">
	
					                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
					
					                <p class="text-muted">
					                  <span class="tag tag-danger" th:if="${coachList.get(0).getCoachProfileTechStack()} != null" th:text="${coachList.get(0).getCoachProfileTechStack()}"></span>
					                </p>
					                <hr>
					                <strong><ion-icon name="document-text-outline" ></ion-icon> Blog and <ion-icon name="logo-github" ></ion-icon>Github Adress</strong>
					                <p class="text-muted">
					                	- Blog: 
					                	<span id="coachBlogAddress"> 
					                		 
					                	</span><br>
										- GitHub: 
										<span id="coachGitHubAddress"> 
											
										</span>
					                </p>
					              </div>
					              <!-- /.card-body -->
		                   </div>
						   <!-- / Post 2-->
	                  </div>
	                  <!-- /소개 -->
	                  
	                  <!-- 후기 -->
	                  <div class="tab-pane" id="timeline">
	                    <!-- The timeline -->
	                    <div class="timeline timeline-inverse">
	                      <!-- timeline time label -->
	                      <div class="time-label">
	                        <span class="today">
	                        </span>
	                        <span class="nonReview">
	                        </span>
	                      </div>
	                      <!-- /.timeline-label -->
	                      
	                      <!-- 후기 내용 timeline item -->
	                      <div th:each="rl,i : ${coachingReviewList}">
	                      
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item" >
	                          <i class="time far fa-clock regDate">
	                         	 <span class="time" th:text="${rl.coachingCompletionReivewRegisterDate}"> </span>
	                          </i> 
	                          <h3 class="timeline-header reviewTitle" th:text="${rl.coachingCompletionReviewTitle}"> </h3>
							  <small > 
								     🌕달점: <span class="coachingRate"  th:text="${rl.coachingCompletionRate}+'/5.0'">평점</span>
		                          <div style="padding-left: 10px;" class="timeline-body reviewContents" th:text="${rl.coachingCompletionReivewContents}"></div>
							  </small>
	                        </div>
	                      </div>
	                     
	                      <!-- END 후기 내용 timeline item -->
	                    </div>
	                  </div>
	                  <!-- / 후기 -->
	
	                </div>
	                <!-- /.tab-content -->
	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	          <!-- /.col -->
	        </div>
		   
	</th:block>
	
	<th:block layout:fragment="pageJavascript">
		<script th:inline="javascript">
			/* /*<![CDATA[*/ 
				var coachBlogGithubAddress = /*[[ ${coachList.get(0).getCoachManagement().getCoachBlogGithubAdress()} ]]*/
				var coachingReviewList = /*[[ ${coachingReviewList} ]]*/
			
			/*]]*/ 
			
			$(function(){
				
				//DB 깃허브블로그주소 화면출력 기준에 맞게 가공
				console.log('coachBlogGithubAddress ==> ' + coachBlogGithubAddress);
				if( '' != coachBlogGithubAddress && coachBlogGithubAddress != null ){
					var coachBlogGithubAddressArray = coachBlogGithubAddress.split(',');
					console.log(coachBlogGithubAddressArray);
					var coachBlogAddress = coachBlogGithubAddressArray[0]
					var coachGithubAddress = coachBlogGithubAddressArray[1]
					console.log('coachBlogAddress : ',coachBlogAddress);
					console.log('coachGithubAddress : ',coachGithubAddress);
				}
			
				$('#coachBlogAddress').html(coachBlogAddress);
				$('#coachGitHubAddress').html(coachGithubAddress);
				
				if(coachingReviewList.length == 0){
					$('.nonReview').text("아직 등록된 후기가 없습니다.");
				}
			}); 
			
			
			$(function(){ 
				$('.reviewMenu').click(function(){
					
					console.log('coachingReviewList ==>' ,coachingReviewList);
					var today = new Date(); 
					today = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
					$('.today').text(today);
				});
			})
			
		</script>
	</th:block>
</html>

