<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="pageTitle">
		<title th:text="${title}">main title</title>
		<div class="col-sm-6">
			<h1 class="m-0">coach profile</h1>
		</div><!-- /.col -->
		<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block>
		
		<!-- /.col -->
	</th:block>
	<th:block layout:fragment="container">
	

		
		<!-- 정렬 row 클래스 - 코치 프로필 전체시작과 끝에 태그위치시킴 -->
		<div class="row">
	          <div class="col-md-3">
	
	            <!-- Profile Image -->
	            <div class="card card-primary card-outline">
	              <div class="card-body box-profile">
	                <div class="text-center">
	                  <img class="profile-user-img img-fluid img-circle" src="/AdminLTE3/dist/img/홍길동.jpg" alt="User profile picture">
	                </div>
	
	                <h3 th:text="${coachList.get(0).getCoachName()}" class="profile-username text-center"></h3>
	
	                <p class="text-muted text-center">
	                 <span th:if="${coachList.get(0).getCoachAuthority()=='멘토'}" th:text="멘토"></span>
	                 <span th:if="${coachList.get(0).getCoachAuthority()=='컨설턴트'}" th:text="컨설턴트"></span>
	                </p>
	
	                <ul class="list-group list-group-unbordered mb-3">
	                  <li class="list-group-item">
	                    <b>코칭 진행 횟수 </b> 
	                    <a class="float-right" th:text="${coachList.get(0).getCoachManagement().getCoachManagementCount()} + '회'"> </a>
	                  </li>
	                  <li class="list-group-item">
	                    <b>코칭 평균 평점</b> 
	                    <a class="float-right" th:text="'🌕'+${coachList.get(0).getCoachManagement().getCoachManagementRate()} + '/5.0'"></a>
	                  </li>
	                  <li class="list-group-item">
	                    <b>1시간당 평균 </b> 
	                    <a class="float-right" th:text="${coachList.get(0).getCoachManagement().getCoachManagementHourlyAveragePrice()} + '원'"></a>
	                  </li>               
	                </ul>
	             	<a href="#" >
	             		<button type="button" class="btn btn-sm bg-teal" style="width: 90%">
			                <b><i class="fas fa-comments"></i>&nbsp;#문의</b>
	             		</button>
		            </a>
	                <a th:href="@{/coachingRFQ(coachEmail=${coachList.get(0).getCoachManagement().getCoachUserEmail()})}">
	                	<button type="button"  class="btn btn-primary btn-block" style="width: 90%">
	                		<b><i class="fas fa-user"></i> &nbsp;!견적요청</b>
	                	</button>
	                </a>
	               
	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	

	          </div>
	          <!-- /.col -->
	          <div class="col-md-9">
	            <div class="card">
	              <!-- card-header -->
	              <div class="card-header p-2">
	                <ul class="nav nav-pills">
	                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">!소개</a></li>
	                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">#후기</a></li>
	                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">?</a></li>
	                </ul>
	              </div>
	              <!-- /.card-header -->
	              
	              <div class="card-body">
	                <div class="tab-content">
	                 
	                 <!-- 소개 -->
	                  <div class="tab-pane active" id="activity">
	                  	
	                  	 <div class="post clearfix">
	                      
	                    	<!-- post 1 -->
		                     <b>
		                     	<p th:text="${coachList.get(0).getCoachManagement().getCoachingIntroduceSubject()}"> </p>
							</b> 
							<p th:text="${coachList.get(0).getCoachManagement().getCoachingIntroduceContents()}"> </p>
		                 </div>
	                    
	                    <!-- /.post 1 -->
	
	                    <!-- Post 2-->
		                   <div class="post">
					              <div class="card-body">
	
					                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
					
					                <p class="text-muted">
					                  <span class="tag tag-danger" th:if="${coachList.get(0).getCoachProfileTechStack()} != null" th:text="${coachList.get(0).getCoachProfileTechStack()}"></span>
					                </p>
					                <hr>
					                <strong><ion-icon name="document-text-outline" ></ion-icon> Blog and <ion-icon name="logo-github" ></ion-icon>Github Adress</strong>
					                <p class="text-muted">
					                	- Blog: 
					                	<span id="coachBlogAddress"> 
					                		 
					                	</span><br>
										- GitHub: 
										<span id="coachGitHubAddress"> 
											
										</span>
										
					                </p>
					              </div>
					              <!-- /.card-body -->
					            <!-- /.card -->
		                  </div>
						 <!-- / Post 2-->
	                  </div>
	                  <!-- /소개 -->
	                  
	                  <div class="tab-pane" id="timeline">
	                    <!-- The timeline -->
	                    <div class="timeline timeline-inverse">
	                      <!-- timeline time label -->
	                      <div class="time-label">
	                        <span class="">
	                          10 Feb. 2021
	                        </span>
	                      </div>
	                      <!-- /.timeline-label -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 12:05 </span>
	
	                          <h3 class="timeline-header"> 글쓴이: 최성구 / 강의명: 실무자가 알려주는 Git - 입문편/평점 ⭐⭐⭐⭐⭐</h3>
	
	                          <div class="timeline-body">
								 <small> 정말  배운점이 많았고 좋았습니다. 멘토링동안 수업방식도 너무 좋았습니다.</small>
	                          </div>
	                      
	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>
	
	                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request  평점 ⭐⭐⭐⭐
	                          </h3>
	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 3days ago</span>
	
	                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post 평점 ⭐⭐⭐</h3>
	
	                          <div class="timeline-body">
	                          	 <small> 
		                            Take me to your leader!
		                            Switzerland is small and neutral!
		                            We are more like Germany, ambitious and misunderstood!

								</small>
	                          </div>
	                     
	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <!-- timeline time label -->
	                      <div class="time-label">
	                        <span class="">
	                          3 Jan. 2020
	                        </span>
	                      </div>
	                      <!-- /.timeline-label -->
	                      <!-- timeline item -->
	                      <div>
	                        <i class="fas fa-comments bg-warning"></i>
	
	                        <div class="timeline-item">
	                          <span class="time"><i class="far fa-clock"></i> 1year ago</span>
	
	                          <h3 class="timeline-header"> 글쓴이: 최성구    강의명: 실무자가 알려주는 Git - 입문편</h3>
	
	                          <div class="timeline-body">
								 정말  배운점이 많았고 좋았습니다. 멘토링동안 수업방식도 너무 좋았습니다.
	                          </div>

	                        </div>
	                      </div>
	                      <!-- END timeline item -->
	                      <div>
	                        <i class="far fa-clock bg-gray"></i>
	                      </div>
	                    </div>
	                  </div>
	                  <!-- /.tab-pane -->
	
	                  <div class="tab-pane" id="settings">
	                    <form class="form-horizontal">
	                      <div class="form-group row">
	                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
	                        <div class="col-sm-10">
	                          <input type="email" class="form-control" id="inputName" placeholder="Name">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
	                        <div class="col-sm-10">
	                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
	                        <div class="col-sm-10">
	                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <div class="offset-sm-2 col-sm-10">
	                          <div class="checkbox">
	                            <label>
	                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
	                            </label>
	                          </div>
	                        </div>
	                      </div>
	                      <div class="form-group row">
	                        <div class="offset-sm-2 col-sm-10">
	                          <button type="submit" class="btn btn-danger">Submit</button>
	                        </div>
	                      </div>
	                    </form>
	                  </div>
	                  <!-- /.tab-pane -->
	                </div>
	                <!-- /.tab-content -->
	              </div><!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	          <!-- /.col -->
	        </div>
		   
	</th:block>
	
	<th:block layout:fragment="pageJavascript">
		<script th:inline="javascript">
			/* /*<![CDATA[*/ 
				var coachBlogGithubAddress = /*[[ ${coachList.get(0).getCoachManagement().getCoachBlogGithubAdress()} ]]*/
			/*]]*/ 
			console.log('coachBlogGithubAddress ==> ' + coachBlogGithubAddress);
			var coachBlogGithubAddressArray = coachBlogGithubAddress.split(',');
			console.log(coachBlogGithubAddressArray);
			var coachBlogAddress = coachBlogGithubAddressArray[0]
			var coachGithubAddress = coachBlogGithubAddressArray[1]
			console.log('coachBlogAddress : ',coachBlogAddress);
			console.log('coachGithubAddress : ',coachGithubAddress);
			
			$(function(){
				$('#coachBlogAddress').html(coachBlogAddress);
				$('#coachGitHubAddress').html(coachGithubAddress);
				
			}); 
			
			
		</script>
	</th:block>
</html>

