<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">견적요청화면</h1>
	</div><!-- /.col -->
	<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
	<!-- 코칭 서비스 이용자의 견적 요청 페이지 -->
	<!-- 해당 멘토아이디 , 사용자 아이디 데이터 넘겨받자 -->
	<div class="col-md-8" style="padding-left: 7%">
	      <!-- .card -->
	      <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" >견척 요청</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- .card-body -->
            <div class="card-body">
              <!-- 코칭구분, 카테고리  -->
              <div class="form-group">
              	<b>코칭구분</b>&emsp;
              	<label id="coachingType">
              		<input type="radio" name="coachingType" value="mentoring">
              		멘토링
              	</label>&nbsp; &nbsp; 
              	<label id="coachingType">
              		<input type="radio" name="coachingType" value="consulting">
              		컨설팅
              	</label>
              	<br>
              	<!-- 코칭 카테고리  -->
                <label for="coachingCategory">카테고리 선택</label>
                <select id="coachingCategory" class="form-control custom-select">
                  <option>카테고리선택</option>
                  <!-- 멘토링카테고리 -->
                  <option>학력</option>
                  <option>프로젝트</option>
                  <option>자격증</option>
                  <option>공인어학(외국어능력)</option>
                  <option>기술스택</option>
                  <option>직종전문교육과정</option>
                  <option>인턴쉽</option>
                  <option>공모전</option>
                  
                  <!-- 컨설팅카테고리 -->
                  <option>진로설정·취업전략</option>
                  <option>취업준비 스펙(자격증, 포트폴리오)</option>
                  <option>기업·직무 분석</option>
                  <option>자기소개서 + 이력서</option>
                  <option>면접</option>
                  <option>인적성검사 대비</option>
                  <option>대기업 취업준비</option>
                  <option>공기업 취업준비·NCS</option>
                  <option>경력관리</option>
                  <option>경력기술서</option>
                  <option>경력분석·이전직</option>
                </select>
                <button type="button" id="addCoachingCategory" class="btn btn-block btn-outline-primary btn-xs"> + 추가 </button>
              	<!-- /코칭 카테고리  -->
              </div>
              <!--/ 코칭구분, 카테고리  -->
              
              <!-- 코칭 시작, 종료일자  -->
              <div class="form-group">
                <label for="coachingStartDate">시작가능일자</label>
                <input type="date" id="coachingStartDate" class="form-control" value="AdminLTE">
              </div>
              
              <div class="form-group">
                <label for="coachingEndDate">종료 일자</label>
                <input type="date" id="coachingEndDate" class="form-control" value="AdminLTE">
              </div>
              <!-- / 코칭 시작, 종료일자  -->
              
              
             <!--  코칭 진행 요일  -->
             <div class="form-group">
                <label>
                	진행 요일 선택
                </label>
                <br>
 				<label>
                	<input type="checkbox"/> 월        &nbsp; &nbsp;      	
                </label>
                <label>
                	<input type="checkbox"/> 화        &nbsp; &nbsp;  
                </label>
                <label>
                	<input type="checkbox"/> 수        &nbsp; &nbsp;  
                </label>	
                <label>
                	<input type="checkbox"/> 목        &nbsp; &nbsp;    
                </label>
                <label>
                	<input type="checkbox"/> 금        &nbsp;  &nbsp;     
                </label>	
                <label>
                	<input type="checkbox"/> 토        &nbsp;  &nbsp;  
                </label>	
                <label>
                	<input type="checkbox"/> 일       
                </label>         	
              </div>
              <!-- / 코칭 진행 요일  -->
              
              <!-- 계획 함께 짜기, 함께 짤 통합 계획 선택  -->
	          <div class="form-group">
	          		<label for="plan-coaching"> 코치님과 내 계획짜기 </label>
	              	 &nbsp; &nbsp;
	              	 <div class="row">
					 	<button type="button" class="btn btn-block btn-secondary btn-sm col-2" data-toggle="modal" data-target="#modal-coaching-totalPlan">계획 선택</button>             
	             	    &nbsp; &nbsp;
	            		 <input type="text" id="pricePerHour" class="form-control col-9" value="선택한 통합계획">
	              	 </div>
	          </div>
	          <!-- /계획 함께 짜기, 함께 짤 통합 계획 선택  -->
	          
	          <!-- 내 계획과 연결 하기 -->
	          <div class="form-group">
	                <label for="plan-coaching">내 계획과 연결 하기 </label>
	            	<div class="row">
					 	<button type="button" id="addCoachingCategory" class="btn btn-block btn-secondary btn-sm col-2">계획 선택</button>             
	             	    &nbsp; &nbsp;
	            		 <input type="text" id="pricePerHour" class="form-control col-9" value="선택한 내 계획">
	              	 </div>
	          </div>
	          <!-- /내 계획과 연결 하기 -->
		          
              
              <!-- 코칭 희망 요청 사항  -->
              <div class="form-group">
                <label for="RFQRequestContents">희망 요청 사항</label>
                <textarea id="RFQRequestContents" class="form-control" rows="4" placeholder="희망요청사항을 입력해주세요. 현 상황 및 필요한 부분을 상세하게 작성해주시면 좋습니다"></textarea>
              </div>
              <!-- / 코칭 희망 요청 사항  -->
              
              
             <a th:href="@{/myCoachingClient}">
           		 <button type="button" class="btn btn-block bg-gradient-primary btn-sm">요청 전송</button>
             </a>            
              

              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
    </div>
      
    <!-- 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
	<th:block th:replace="/coaching/coachingModal/modal-coaching-totalPlan :: modal-coaching-totalPlan"></th:block>
   
   
   
   
</th:block>

<th:block layout:fragment="pageJavascript">
	<script type="text/javascript">
		<!--  코치님과 내 계획 짜기 통합계획 선택  Modal  -->
		$(function(){
			$('#modal-coaching-totalPlan').on('shown.bs.modal', function () {
				  $('#myInput').focus()
				})
		});
		
		<!--  내계획과 연결하기 계획 선택  Modal  -->
		$(function(){
			$('#modal-coaching-totalPlan').on('shown.bs.modal', function () {
				  $('#myInput').focus()
				})
		});
	</script>



</th:block>
</html>

