<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">견적요청화면</h1>
	</div><!-- /.col -->
	<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
	<!-- 코칭 서비스 이용자의 견적 요청 페이지 -->
	<!-- 해당 멘토아이디 , 사용자 아이디 데이터 넘겨받자 -->
	<div class="col-md-8" style="padding-left: 7%">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" >견척 요청</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
             
              <div class="form-group">
              	<b>코칭구분</b>&emsp;
              	<label id="coachingType">
              		<input type="radio" name="coachingType" value="mentoring">
              		멘토링
              	</label>&nbsp; &nbsp; 
              	<label id="coachingType">
              		<input type="radio" name="coachingType" value="consulting">
              		컨설팅
              	</label>
              	<br>
                <label for="coachingCategory">카테고리 선택</label>
                <select id="coachingCategory" class="form-control custom-select">
                  <option disabled="">Select one</option>
                  <option>On Hold</option>
                  <option>Canceled</option>
                  <option selected="">Success</option>
                </select>
                <button type="button" id="addCoachingCategory" class="btn btn-block btn-outline-primary btn-xs"> + 추가 </button>
              </div>
              <div class="form-group">
                <label for="coachingStartDate">시작가능일자</label>
                <input type="date" id="coachingStartDate" class="form-control" value="AdminLTE">
              </div>
              
              <div class="form-group">
                <label for="coachingEndDate">종료 일자</label>
                <input type="date" id="coachingEndDate" class="form-control" value="AdminLTE">
                
              </div>
              
             <div class="form-group">
                <label>
                	진행 요일 선택
                </label>
                <br>
 				<label>
                	<input type="checkbox"/> 월        &nbsp; &nbsp;      	
                </label>
                <label>
                	<input type="checkbox"/> 화        &nbsp; &nbsp;  
                </label>
                <label>
                	<input type="checkbox"/> 수        &nbsp; &nbsp;  
                </label>	
                <label>
                	<input type="checkbox"/> 목        &nbsp; &nbsp;    
                </label>
                <label>
                	<input type="checkbox"/> 금        &nbsp;  &nbsp;     
                </label>	
                <label>
                	<input type="checkbox"/> 토        &nbsp;  &nbsp;  
                </label>	
                <label>
                	<input type="checkbox"/> 일       
                </label>         	
              </div>
              
              <div class="form-group">
                <label for="RFQRequestContents">희망 요청 사항</label>
                <textarea id="RFQRequestContents" class="form-control" rows="4" placeholder="희망요청사항을 입력해주세요. 현상황 및 필요한 부분을 상세하게 작성해주시면 좋습니다"></textarea>
              </div>
              <div class="form-group">
                <label for="plan-coaching"> 연결 계획 선택 </label>
                <input type="text" id="plan-coaching" class="form-control" value="어떻게 연결시킬지 고민중">
                <br>
                <!-- 요청 전송시 코칭서비스 이용자 전용 페이지로 이동 -->
                <a th:href="@{/myCoachingClient}">
                	<button type="button" class="btn btn-block bg-gradient-primary btn-sm">요청 전송</button>
                </a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
   
   
   
   
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

