<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">견적요청화면</h1>
	</div><!-- /.col -->
	<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
	<!-- 코칭 서비스 이용자의 견적 요청 페이지 -->
	<!-- 해당 멘토아이디 , 사용자 아이디 데이터 넘겨받자 -->
	<div class="col-md-8" style="padding-left: 7%">
	      <!-- .card -->
	      <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" >견척 요청</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- .card-body -->
            <div class="card-body">
              <!-- 코칭구분, 카테고리  -->
              <div class="form-group coachingType">
              	<b>코칭구분</b>&emsp;
              	<label id="coachingType">
              		<input type="radio" name="coachingType" value="mentoring">
              		멘토링
              	</label>&nbsp; &nbsp; 
              	<label id="coachingType">
              		<input type="radio" name="coachingType" value="consulting">
              		컨설팅
              	</label>
              </div>
              <div class="form-group">
              	<!-- 코칭 카테고리  -->
                <label for="coachingCategory">카테고리 선택</label>
	              	<!-- 코칭 카테고리  -->
	                <label for="coachingCategory">카테고리 선택</label>
	                <select id="coachingCategory" class="form-control custom-select">
	                  <option value="">카테고리선택</option>
	                  <!-- 멘토링카테고리 -->
	                  <option value="coaching_category_01">학력</option>
	                  <option value="coaching_category_02">프로젝트</option>
	                  <option value="coaching_category_03">자격증</option>
	                  <option value="coaching_category_04">공인어학(외국어능력)</option>
	                  <option value="coaching_category_05">기술스택</option>
	                  <option value="coaching_category_06">직종전문교육과정</option>
	                  <option value="coaching_category_07" >인턴쉽</option>
	                  <option value="coaching_category_08">공모전</option>
	                  
	                  <!-- 컨설팅카테고리 -->
	                  <option value="coaching_category_09">진로설정·취업전략</option>
	                  <option value="coaching_category_10">취업준비 스펙(자격증, 포트폴리오)</option>
	                  <option value="coaching_category_11">기업·직무 분석</option>
	                  <option value="coaching_category_12">자기소개서 + 이력서</option>
	                  <option value="coaching_category_13">면접</option>
	                  <option value="coaching_category_14">인적성검사 대비</option>
	                  <option value="coaching_category_15">대기업 취업준비</option>
	                  <option value="coaching_category_16">공기업 취업준비·NCS</option>
	                  <option value="coaching_category_17">경력관리</option>
	                  <option value="coaching_category_18">경력기술서</option>
	                  <option value="coaching_category_19">경력분석·이전직</option>
	                </select>
              	<!-- /코칭 카테고리  -->
              </div>
              <!--/ 코칭구분, 카테고리  -->
              
              <!-- 코칭 시작, 종료일자  -->
              <div class="form-group">
                <label for="coachingStartDate">시작 
                가능 일자</label>
                <input type="date" id="coachingStartDate" class="form-control" value="">
              </div>
              
              <div class="form-group">
                <label for="coachingEndDate">종료 일자</label>
                <input type="date" id="coachingEndDate" class="form-control" value="">
              </div>
              <!-- / 코칭 시작, 종료일자  -->
              
              
             <!--  코칭 진행 요일  -->
             <div class="form-group checkDay">
                <label>
                	진행 요일 선택
                </label>
                <br>
 				<label>
                	<input type="checkbox" class="checkbox" value="월"/> 월        &nbsp; &nbsp;      	
                </label>
                <label>
                	<input type="checkbox" class="checkbox" value="화"/> 화        &nbsp; &nbsp;  
                </label>
                <label>
                	<input type="checkbox" class="checkbox" value="수"/> 수        &nbsp; &nbsp;  
                </label>	
                <label>
                	<input type="checkbox" class="checkbox" value="목"/> 목        &nbsp; &nbsp;    
                </label>
                <label>
                	<input type="checkbox" class="checkbox" value="금"/> 금        &nbsp;  &nbsp;     
                </label>	
                <label>
                	<input type="checkbox" class="checkbox" value="토"/> 토        &nbsp;  &nbsp;  
                </label>	
                <label>
                	<input type="checkbox" class="checkbox" value="일"/> 일       
                </label>         	
              </div>
              <!-- / 코칭 진행 요일  -->
              
              <!-- 계획 함께 짜기, 함께 짤 통합 계획 선택  -->
	          <div class="form-group">
	          		<label for="plan-coaching"> 코치님과 내 계획짜기 </label>
	              	 &nbsp; &nbsp;
	              	 <div class="row">
					 	<button type="button" class="btn btn-block btn-secondary btn-sm col-2" data-toggle="modal" data-target="#modal-coaching-totalPlan">계획 선택</button>             
	             	    &nbsp; &nbsp;
	            		 <input type="text" id="coachingTotalPlan" class="form-control col-9" value="선택한 통합계획">
	              	 </div>
	          </div>
	          <!-- /계획 함께 짜기, 함께 짤 통합 계획 선택  -->
	          
	          <!-- 내 계획과 연결 하기 -->
	          <div class="form-group">
	                <label for="plan-coaching">내 계획과 연결 하기 </label>
	            	<div class="row">
					 	<button type="button" id="coachingPlanBtn" class="btn btn-block btn-secondary btn-sm col-2">계획 선택</button>             
	             	    &nbsp; &nbsp;
	            		 <input type="text" id="coachingPlan" class="form-control col-9" value="선택한 내 계획">
	              	 </div>
	          </div>
	          <!-- /내 계획과 연결 하기 -->
		          
              
              <!-- 코칭 희망 요청 사항  -->
              <div class="form-group">
                <label for="RFQRequestContents">희망 요청 사항</label>
                <textarea id="RFQRequestContents" class="form-control" rows="4" placeholder="희망요청사항을 입력해주세요. 현 상황 및 필요한 부분을 상세하게 작성해주시면 좋습니다"></textarea>
              </div>
              <!-- / 코칭 희망 요청 사항  -->
              
              
           
           	  <button type="button" id="RFQSubmitBtn" class="btn btn-block bg-gradient-primary btn-sm">요청 전송</button>
                         
     	   </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
    </div>
    <!-- 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
	<th:block th:replace="/coaching/coachingModal/modal-coaching-totalPlan :: modal-coaching-totalPlan"></th:block>
   	<input id="coachEmail" th:value="${coachEmail}" hidden="true"></input>
   
   
   
</th:block>

<th:block layout:fragment="pageJavascript">
	<script type="text/javascript">
		//controller model로 부터 넘겨받은 값을 이렇게 받는다.. 
		console.log("coachEmail=>",$('#coachEmail').val());
			
		<!--  코치님과 내 계획 짜기 통합계획 선택  Modal  -->
		$(function(){
			$('#modal-coaching-totalPlan').on('shown.bs.modal', function () {
				  $('#myInput').focus()
				})
		
		<!--  내계획과 연결하기 계획 선택  Modal  -->
			$('#modal-coaching-totalPlan').on('shown.bs.modal', function () {
				  $('#myInput').focus()
				})
		});
		
	
		
		/* RFQSubmitBtn (요청전송) 클릭 이벤트 */
		$('#RFQSubmitBtn').click(function(){
			//console.log('클릭 이벤트 확인');
			
			//멘토링 컨설팅 타입구분
			//console.log($($('.coachingType').children()[1]).children().val());
			//console.log($($('.coachingType').children()[1]).children().is(":checked"));
			var coachingType = '';
			//코칭 타입 유효성 검사
			if($($('.coachingType').children()[1]).children().is(":checked")||$($('.coachingType').children()[2]).children().is(":checked")){
				if(true == $($('.coachingType').children()[1]).children().is(":checked")){
					coachingType = '멘토';
				}
				else if(true == $($('.coachingType').children()[2]).children().is(":checked")){
					coachingType = '컨설턴트';
				}
				
				
				//카테고리코드값
				//console.log($('#coachingCategory').val());
				//카테고리 유효성 검사
				if('' == $('#coachingCategory').val() || undefined == $('#coachingCategory').val()){
					alert('카테고리 입력을 확인해주세요');
				}else{
					console.log('카테고리 코드가 들어옴 : ',$('#coachingCategory').val());
						
					//시작일자 유효성 검사
					var today = new Date();
					var year = today.getFullYear();
					var month = today.getMonth()+1;
					if(10>month){
						month = '0'+month;
					}
					var date = today.getDate();
					var nowDate = year+'-'+month+'-'+date;
					//console.log('오늘날짜 =>',nowDate);
					var startDate = $('#coachingStartDate').val();
					var endDate   = $('#coachingEndDate').val();
					if('' == startDate || undefined == startDate){
						alert('시작일자를 확인해주세요');						
					}else if( nowDate > startDate ){
						alert('시작일자는 오늘 이전 날짜로 입력이 불가능합니다. 입력을 확인해주세요!');						
					}else{
						
						//끝나는 일자 유효성검사
						console.log(endDate);
						if('' == endDate || undefined == endDate){
	
							alert('종료일자를 확인해주세요');						
						}else if(startDate > endDate){
							alert('종료일자는 시작일자 이전 날짜로 입력이 불가능합니다. 입력을 확인해주세요!');						
						}else{
							

							//진행요일 입력받은 데이터 변수에 담기 
							//console.log($($(".checkbox")[1]).is(":checked"));
							var dayStr = '';
							var notDayStr = '';
							for(i = 0; i < $(".checkbox").length; i++){
								//체크된 요일 dayStr에 모으기
								if($($(".checkbox")[i]).is(":checked")){
									//console.log($($(".checkbox")[i]).val());
									dayStr += $($(".checkbox")[i]).val()+','
								}
								//체크 안된 요일 notDayStr에 모으기 => 유효성 검사에 사용
								if(false == $($(".checkbox")[i]).is(":checked")){
									//console.log($($(".checkbox")[i]).val());
									notDayStr += $($(".checkbox")[i]).val()+','
									//console.log('notDayStr: '+notDayStr);
								}
							}
							//진행요일 문자열 마지막에 붙은 , 제거
							dayStr = dayStr.slice(0,-1);
							notDayStr = notDayStr.slice(0,-1);
							//console.log('dayStr=>'+ dayStr);
							//console.log('notDayStr=>'+ notDayStr);
							
							//진행요일 유효성 검사
							if('월,화,수,목,금,토,일' == notDayStr){
								alert('진행 요일을 입력해주세요');
								
							}else{
								
								//희망 요청사항 유효성 검사
								console.log($('#RFQRequestContents').val());
								console.log($('#RFQRequestContents').val().length);
								if( undefined == $('#RFQRequestContents').val() || $('#RFQRequestContents').val().length == 0){
									alert('희망 요청 사항을 입력해주세요.');
								}else if($('#RFQRequestContents').val().length < 50){
									alert('50자 이상 입력해주세요.');
									
								//모든 데이터 입력완료후 ajax 발동	
								}else{
									
									//코치 통합계획 ajax
									jQuery.ajax({ 
										type: "POST", 
										url: "/coachingRFQ", 
										cache: false, 
										data: { coachingRFQCode         : null
											,coachingCategoryCode       : $('#coachingCategory').val()
											,totalPlanCode              : null
											,planDetailCode             : null
										 	,coachUserEmail             : $('#coachEmail').val()
											,userEmail                  : null
											,coachClassification        : coachingType
 											,coachingRFQStartDate       : startDate
											,coachingRFQEndDate         : endDate
											,coachingRFQDay             : dayStr
											,coachingRFQWishfulThinking : $('#RFQRequestContents').val()
											,coachingRFQRequestDate     : nowDate

										}, 
										datatype: "JSON", 
										success: function (obj) { 
											console.log('obj : ',obj,'- 잘받았다 오버')
											console.log('type check obj : ',typeof(obj))//String이네
											
											//연결은 시킴 이후 토탈플랜 리스트 넘겨주고 받아서 화면단에 뿌려주는 작업필요 
											
											//var data = JSON.parse(obj); 
											/* $.each(data, function (k, v) { 
												$('<option></option>').val(k).text(v).appendTo($('#exhibition_id')); 
												}); */ 
										}, 
										error: function (xhr, status, error) { console.log("ERROR!!!"); 
										} 
									});
									
									
									
									
									
								}
							}
							//계획 선택 받기 통합, 계획
							
							
							
						}
						
					}
				}
			
				
			//코칭 타입에 둘 다 선택이 안된 경우 	
			}else{
				alert('코칭 타입을 선택해주세요')
			}
			console.log(coachingType);
			
			
		});
				
	</script>



</th:block>
</html>

