<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="pageTitle">
		<title th:text="${title}">코칭 후기 관리</title>
		<div class="col-sm-6">
			<h1 class="m-0">코칭 후기 관리</h1>
		</div>
		<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block>
	</th:block>
	
	
	<th:block layout:fragment="container">
		
		<!-- 검색 -->
		<div class="card card-default">
			<div class="card-body">
			    <section class="content" id="">
			        <div class="container-fluid">
			            <form action="coachingAdminPage">
			                <div class="row">
			                    <div class="col-md-10 offset-md-1">
			                        <div class="row">
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>구분</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option>전체</option>
			  										<option>멘토링</option>
			  										<option>컨설팅</option>
												</select>
			                                </div>
			                            </div>
			                            <div class="col-3" >
			                                <div class="form-group">
			                                    <label>평균 달점별</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
									                  <option selected="">전체</option>
			                                 		  <option disabled="">🌕🌕🌕🌕🌕5.0/5.0</option>
									                  <option>🌕🌕🌕🌕🌗4.5/5.0</option>
									                  <option>🌕🌕🌕🌕🌑4.0/5.0</option>
									                  <option>🌕🌕🌕🌗🌑3.5/5.0</option>
									                  <option>🌕🌕🌕🌑🌑3.0/5.0</option>
									                  <option>🌕🌕🌗🌑🌑2.5/5.0</option>
									                  <option>🌕🌕🌑🌑🌑2.0/5.0</option>
									                  <option>🌕🌗🌑🌑🌑1.5/5.0</option>
									                  <option>🌕🌑🌑🌑🌑1.0/5.0</option>
									                  <option>🌗🌑🌑🌑🌑0.5/5.0</option>
									                  <option>🌑🌑🌑🌑🌑0.0/5.0</option>
			                                    </select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>기간선택</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                        <option selected="">전체</option>
			                                        <option>지난 1일</option>
			                                        <option>지난 1주</option>
			                                        <option>지난 1개월</option>
			                                        <option>지난 1년</option>
			                                        <!-- <option>기간 설정</option> -->
												</select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>정렬</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option selected="" data-select2-id="8">최신순</option>
			                                        <option>오래된순</option>
												</select>
			                                </div>
			                            </div>
			                        
			                        </div>
			                        <div class="form-group">
			                            <div class="input-group input-group-lg">
			                            	<div class="col-2">
				                                <div class="form-group">
				                                    <label>검색옵션</label>
				                                    <select class="js-example-placeholder-single js-states form-control">
				  										 <option selected="">전체</option>
					                                        <option>코치 아이디</option>
					                                        <option>작성자 아이디</option>
					                                        <option>등록일자</option>
					                                      	<option>내용</option>
					                                        <option>제목</option>
					                                        <option>제목+내용</option>
													</select>
				                                </div>
				                            </div>
			                                <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="Type your keywords here" value="검색어를 입력해주세요">
			                                <div class="input-group-append">
			                                    <button  class="btn btn-lg btn-default btn-sm" style="height : 49px;margin-top : 25px;">
			                                        <i class="fa fa-search"></i>
			                                    </button>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </form>
			        </div>
    			</section>
   			</div>
    	</div>
    	<!-- /검색-->

		
		<!-- 카테고리 관리 card -->
		<div class="card">
	              <div class="card-header">
	                <h3 class="card-title">후기 목록</h3>
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body autoScroll">
	                <table class="table table-striped">
	                  <thead >
	                    <tr>
	                      <th >#</th>
	                      <th>구분</th>
	                      <th>후기 제목</th>
	                      <th>후기 내용</th>
	                      <th>코치아이디</th>
	                      <th>작성자</th>
	                      <th>달점</th>
	                      <th>작성 날짜</th>
	                      <th>상세보기</th>
	                      <th>삭제</th>
	                    
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr>
	                      <td >1</td>
	                      <td>멘토링</td>
	                      <td>좋습니다</td>
	                      <td>멘토님이도와주셔서 목표를 이루는데 가까워....</td>
	                      <td>코치</td>
	                      <td>작성자</td>
	                      <td>달점</td>
	                      <td>2021-06-29</td>
	                      <td>
	    	                  	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width:60px;" >상세보기</button></a>   
		                  </td>
		                  <td>
		                      	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width: 50px;">삭제</button></a>   
		                    
	                      </td>
	                    </tr>
	                    <tr>
	                      <td >2</td>
	                      <td>컨설팅</td>
	                      <td>감사합니다</td>
	                      <td>아쉬움이 조금 있습니다....</td>
	                      <td>코치</td>
	                      <td>작성자</td>
	                      <td>달점</td>
	                      <td>2021-06-29</td>
	                      <td>
	    	                  	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width:60px;" >상세보기</button></a>   
		                  </td>
		                  <td>
		                      	<a ><button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width: 50px;">삭제</button></a>   
		                    
	                      </td>
	                    </tr>          
	                  </tbody>
	                </table>
	                <div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
	              </div>
	              </div>
	              <!-- /.card-body -->
	    </div>
		<!-- /카테고리 관리 card -->

	
	</th:block>
</html>

