<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">컨설턴트리스트</h1>
	</div>
	<!-- /.col -->
	<th:block
		th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block>

	<!-- /.col -->
</th:block>
<th:block layout:fragment="container">

	검색옵션설정
	<!-- 정렬 row 클래스 - 코치 프로필 전체시작과 끝에 태그위치시킴 -->
	<div class="row">

		<div th:if="${#lists.size(coachList) > 0}" th:each="l : ${coachList}"
			class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
			<div class="card bg-light d-flex flex-fill">
				<div class="card-header text-muted border-bottom-0"></div>
				<!-- <b th:text="${l.CoachManagement.getCoachManagementRate()}"></b> -->
			<small> 
					<b
					th:if="${l.CoachManagement.getCoachManagementRate()=='0.0'}"
					th:text="${'&emsp; 🌑🌑🌑🌑🌑0.0/5.0'}"></b> <b
					th:if="${l.CoachManagement.getCoachManagementRate()=='0.0'}"
					th:text="${'&emsp; 🌗🌑🌑🌑🌑0.5/5.0'}"></b> <b
					th:if="${l.CoachManagement.getCoachManagementRate()=='1.0'}"
					th:text="${'&emsp; 🌕🌑🌑🌑🌑1.0/5.0'}"></b> <b
					th:if="${l.CoachManagement.getCoachManagementRate()=='2.0'}"
					th:text="${'&emsp; 🌕🌕🌑🌑🌑2.0/5.0'}"></b> <b
					th:if="${l.CoachManagement.getCoachManagementRate()=='3.0'}"
					th:text="${'&emsp; 🌕🌕🌕🌑🌑3.0/5.0'}"></b> <b
					th:if="${l.CoachManagement.getCoachManagementRate()=='4.0'}"
					th:text="${'&emsp; 🌕🌕🌕🌕🌑4.0/5.0'}"></b> <b
					th:if="${l.CoachManagement.getCoachManagementRate()=='5.0'}"
					th:text="${'&emsp; 🌕🌕🌕🌕🌕5.0/5.0'}"></b> <b
					th:if="${l.CoachManagement.getCoachManagementRate()== null}"
					th:text="${'&emsp; 아직 등록된 달점이 없어요'}"></b>
				</small>

				<div class="card-body">
					<div class="row">
						<div class="col-5 text-center">
							<img src="/AdminLTE3/dist/img/포로리.jpg" alt="user-avatar"
								class="img-circle img-fluid"><br>
							<br> <a th:href="@{/coachProfile(coachEmail=${l.coachEmail})}"
								class="btn btn-block btn-secondary btn-xs">프로필</a>
						</div>
						<div class="col-7">
							<h2 class="lead">
								<b th:text="${l.getCoachName()}"></b><small> 컨설턴트</small>
							</h2>
							<!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
							<p class="text-muted text-sm">
								<b
									th:text="${l.CoachManagement.getCoachingIntroduceSubject()}"></b>
							</p>
						</div>

					</div>
				</div>
				<div class="card-footer">
					<div class="text-right">

						<a href="#" class="btn btn-sm bg-teal"> <i
							class="fas fa-comments"></i>
						</a> <a th:href="@{/coachingRFQ(coachEmail=${l.coachEmail})}" class="btn btn-sm btn-primary">
							<i class="fas fa-user"></i> 견적 요청
						</a>
					</div>
				</div>
			</div>
		</div>


	</div>

	<!-- 코치 list 페이지번호  -->
	<ul class="pagination justify-content-center m-0">
		<li class="page-item active"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#">4</a></li>
		<li class="page-item"><a class="page-link" href="#">5</a></li>
		<li class="page-item"><a class="page-link" href="#">6</a></li>
		<li class="page-item"><a class="page-link" href="#">7</a></li>
		<li class="page-item"><a class="page-link" href="#">8</a></li>
	</ul>


</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

