<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">코칭 메인 페이지</title>
	<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
	    			</div>
	    			<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
	</div>
	<div class="row container hero-warp">
		<div class="mainChallengeFirst col-12 col-lg-6">
			<h5 class="cap">코칭 == 멘토링 || 컨설팅</h5>
			<br>
			<h1 class="title"><span>코칭과 함께</span><br><span>시작하는 커리어 성장</span></h1>
			<br> 
			<h4 class="sub-title">저희는 멘토링과 컨설팅을 일컬어 코칭이라고 부르며 멘토와 컨설턴트를 통칭하여 코치라고 합니다.</h4> 
			<br><br>
			<a href="/mentoring" class="btn btn-primary btn-start"><span>멘토링 시작하기</span></a>
			&emsp;&emsp;
			<a href="/consulting" class="btn btn-primary btn-start"><span>컨설팅 시작하기</span></a>
		</div> 
		<div class="col-12 col-lg-6 img-hero">
			<img src="/AdminLTE3/dist/img/mentoringImg.jpg" class="mainChallengeImg" style="height: 100%; width: 100%">
		</div>
	</div>
</th:block>
<th:block layout:fragment="container">
	<div class="col-12 col-lg-6" style="padding-left: 40px">
		<h2>
			멘토링 
	    </h2>
		<br>
		<h4>
			IT업계 선배들 혹은 동료들에게서 인사이트를 얻어보세요.<br>
			더 빨리, 더 멀리 갈 수 있어요. 
		</h4>
		
		<br>
		<h2>컨설팅</h2>
		<h4>
			전문 컨설턴트의 도움으로 취업, 이직, 진학 등의 목표에 다가가세요.<br>
		</h4>
		<br>
		<h2>코칭 이용방법</h2>
		<br>
		<h4>
		원하는 멘토 혹은 컨설턴트의 프로필을 보고 견적을 요청합니다.<br>
		견적을 확인한 코치는 신청자분께 연락을 하게 됩니다.<br>
		시간, 금액, 날짜, 공부방향, 공부할 내용 등을 합의하고
		코치님께서 견적결과를 작성하여 전송합니다.<br>
		신청자분께서는 견적결과를 확인하고 수정을 요청하시거나 신청 및 결제를 진행하면 코칭 시작! <br>
		</h4>
	</div>
	
	
	
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

