<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="pageTitle">
		<title th:text="${title}">main title</title>
		<div class="col-sm-6">
			<h1 class="m-0">my coachingClient page</h1>
		</div><!-- /.col -->
		<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block>
		
		<!-- /.col -->
	</th:block>
	<th:block layout:fragment="container">
		
		<br>
	    <!-- State box  -->

         <!-- Default box -->
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">Mentoring/Consulting State</h3>

             <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                 <i class="fas fa-minus"></i>
               </button>
          
             </div>
           </div>
           <div class="card-body">
            		⁕   전체 5    ⁕  견적요청 1    ⁕  견적결과 1    ⁕  신청완료 1    ⁕  이용완료 1    ⁕  서비스기간만료 0  ⁕  취소환불 1
           </div>
           <!-- /.card-body -->

         </div>
         <!-- /.card -->

<form action="enhanced-results.html" data-select2-id="15">
                <div class="row" data-select2-id="14">
                    <div class="col-md-10" data-select2-id="13">
                        <div class="row" data-select2-id="12">

                            <div class="col-3" data-select2-id="19">
                                <div class="form-group" data-select2-id="18">
                                    <label>구분:</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="3" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="5">멘토링</option>
                                        <option data-select2-id="20">컨설팅</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3" data-select2-id="11">
                                <div class="form-group" data-select2-id="10">
                                    <label>상태</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="8">견적요청</option>
                                        <option data-select2-id="16">견적결과</option>
                                        <option data-select2-id="16">신청완료</option>
                                        <option data-select2-id="16">이용완료</option>
                                        <option data-select2-id="16">서비스기간만료</option>
                                        <option data-select2-id="16">취소환불</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3" data-select2-id="11">
                                <div class="form-group" data-select2-id="10">
                                    <label>기간선택</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="8">견적요청</option>
                                        <option data-select2-id="16">견적결과</option>
                                        <option data-select2-id="16">신청완료</option>
                                        <option data-select2-id="16">이용완료</option>
                                        <option data-select2-id="16">서비스기간만료</option>
                                        <option data-select2-id="16">취소환불</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3" data-select2-id="11">
                                <div class="form-group" data-select2-id="10">
                                    <label>정렬</label>
                                    <select class="select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                        <option selected="" data-select2-id="8">최신순</option>
                                        <option data-select2-id="16">오래된순</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" value="Lorem ipsum">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		</form>
		<!-- 서비스 사용자 페이지  나의 코칭 내역 목록  -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">
					<ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; <b>나의 멘토링/컨설팅 목록</b>
				</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body p-0">
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 10px">#</th>
							<th>구분</th>
							<th>상태</th>
							<th>코치이메일</th>
							<th>코치연락처</th>
							<th>코칭일정</th>
							<th>견적요청</th>
							<th>견적결과</th>
							<th>&emsp;후기</th>
							<th>중단</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td>멘토링</td>
							<td>견적요청</td>
							<td>ksmart@email.com</td>
							<td>010-0000-0000</td>
							<td>2021/06/24-2021/07/23</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">중단</button>
							</td>
	
						</tr>
						<tr>
							<td>2.</td>
							<td>멘토링</td>
							<td>견적결과</td>
							<td>ksmart@email.com</td>
							<td>010-0000-0000</td>
							<td>2021/06/24-2021/07/23</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">중단</button>
							</td>
	
						</tr>
						<tr>
							<td>3.</td>
							<td>컨설팅</td>
							<td>신청완료</td>
							<td>ksmart@email.com</td>
							<td>010-0000-0000</td>
							<td>2021/06/24-2021/07/23</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">중단</button>
							</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>컨설팅</td>
							<td>이용완료</td>
							<td>ksmart@email.com</td>
							<td>010-0000-0000</td>
							<td>2021/06/24-2021/07/23</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">중단</button>
							</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>멘토링</td>
							<td>취소/환불</td>
							<td>ksmart@email.com</td>
							<td>010-0000-0000</td>
							<td>2021/06/24-2021/07/23</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">상세보기</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs">중단</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 코치 list 페이지번호  -->
			<ul class="pagination justify-content-center m-0">
		              <li class="page-item active"><a class="page-link" href="#">1</a></li>
		              <li class="page-item"><a class="page-link" href="#">2</a></li>
		              <li class="page-item"><a class="page-link" href="#">3</a></li>
		              <li class="page-item"><a class="page-link" href="#">4</a></li>
		              <li class="page-item"><a class="page-link" href="#">5</a></li>
		              <li class="page-item"><a class="page-link" href="#">6</a></li>
		              <li class="page-item"><a class="page-link" href="#">7</a></li>
		              <li class="page-item"><a class="page-link" href="#">8</a></li>
		   </ul>
		</div>
		<!-- / 서비스 사용자 페이지  나의 코칭 내역 목록  -->
	
		
		   
	</th:block>
	
	<th:block layout:fragment="pageJavascript">
	
	</th:block>
</html>

