<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="pageTitle">
		<title th:text="${title}">main title</title>
		<div class="col-sm-6">
			<h1 class="m-0">my coachingClient page</h1>
		</div><!-- /.col -->
		<th:block th:replace="/coaching/coachingContentsHeaderBar :: coachingContentsHeaderBar"></th:block>
		
		<!-- /.col -->
	</th:block>
	<th:block layout:fragment="container">
		
		<br>
	    <!-- State box  -->

         <!-- Default box -->
        <div class="card">
           <div class="card-header">
             <h3 class="card-title">Mentoring/Consulting State</h3>

             <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                 <i class="fas fa-minus"></i>
               </button>
          
             </div>
           </div>
           <div class="card-body">
            		⁕   전체 5    ⁕  견적요청 1    ⁕  견적결과 1    ⁕  신청완료 1    ⁕  이용완료 1    ⁕  서비스기간만료 0  ⁕  취소환불 1
           </div>
           <!-- /.card-body -->

        </div>
        <!-- /.card -->

		<!-- 검색 -->
		<div class="card card-default">
			<div class="card-body">
			    <section class="content" id="">
			        <div class="container-fluid">
			            <form action="coachingAdminPage">
			                <div class="row">
			                    <div class="col-md-10 offset-md-1">
			                        <div class="row">
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>구분</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option>전체</option>
			  										<option>멘토링</option>
			  										<option>컨설팅</option>
												</select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>상태</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option selected="" >전체</option>
			  										<option>견적요청</option>
			                                        <option>견적결과</option>
			                                        <option>신청완료</option>
			                                        <option>이용완료</option>
			                                        <option>서비스기간만료</option>
			                                        <option>취소환불</option>
												</select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>기간선택</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                        <option selected="">전체</option>
			                                        <option>지난 1일</option>
			                                        <option>지난 1주</option>
			                                        <option>지난 1개월</option>
			                                        <option>지난 1년</option>
			                                        <!-- <option>기간 설정</option> -->
												</select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>정렬</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option selected="" data-select2-id="8">등록일자 최신순</option>
			                                        <option>등록일자 오래된순</option>
			                                         <option>코칭일정 최신순</option>
			                                        <option>코칭일정 오래된순</option>
												</select>
			                                </div>
			                            </div>
			                        
			                        </div>
			                        <div class="form-group">
			                            <div class="input-group input-group-lg">
			                            	<div class="col-2">
				                                <div class="form-group">
				                                    <label>검색옵션</label>
				                                    <select class="js-example-placeholder-single js-states form-control">
				  										 <option selected="">전체</option>
					                                        <option>코치 아이디</option>
					                                        <option>등록일자</option>
					                                      <!-- <option>내용</option>
					                                        <option>제목</option>
					                                        <option>제목+내용</option> -->
													</select>
				                                </div>
				                            </div>
			                                <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="Type your keywords here" value="검색어를 입력해주세요">
			                                <div class="input-group-append">
			                                    <button  class="btn btn-lg btn-default btn-sm" style="height : 49px;margin-top : 25px;">
			                                        <i class="fa fa-search"></i>
			                                    </button>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </form>
			        </div>
    			</section>
   			</div>
    	</div>
    	<!-- /검색-->

		<!-- 서비스 사용자 페이지  나의 코칭 내역 목록  -->
		<div class="card ">
			<div class="card-header">
				<h3 class="card-title">
					<ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; <b>나의 멘토링/컨설팅 목록</b>
				</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body p-0 autoScroll">
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 10px">#</th>
							<th>구분</th>
							<th>코치이름</th>
							<th>코치이메일</th>
							<th>코치연락처</th>
							<th>코칭일정</th>
							<th>상태</th>
							<th>견적요청</th>
							<th>견적결과</th>
							<th>후기</th>
							<th>중단</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(myCoachingList) >0}" th:each="l, i : ${myCoachingList}">
							<td id="countNumber" th:text="${i.index+1}"></td>
							<td th:text="${l.getCoachClassification()}"></td>
							<td th:text="${l.getCoachingUser().getCoachName()}"></td>
							<td th:text="${l.getCoachUserEmail()}"></td>
							<td th:text="${l.getCoachingUser().getCoachMobile()}"></td>
							<td>
								<span th:if="${l.getCoachingRFQResult().getCoachingRFQResultServiceStartDate() != null}" 
									th:text="${l.getCoachingRFQResult().getCoachingRFQResultServiceStartDate()}">
								</span>
								<span th:if="${l.getCoachingRFQResult().getCoachingRFQResultServiceStartDate() == null}" 
									th:text="${l.getCoachingRFQStartDate()}">
								</span>
								~
								<span th:if="${l.getCoachingRFQResult().getCoachingRFQResultServiceEndDate() != null}" 
									th:text="${l.getCoachingRFQResult().getCoachingRFQResultServiceEndDate()}">
								</span>
								<span th:if="${l.getCoachingRFQResult().getCoachingRFQResultServiceEndDate() == null}" 
									th:text="${l.getCoachingRFQEndDate()}">
								</span>
								
							</td>
							<td>
								<span th:if="${l.getCoachingRFQResult().getCoachingRFQResultCode() == null}" class="badge badge-primary">
									견적요청
								</span>
								<span th:if="${l.getCoachingRFQResult().getCoachingRFQResultCode() != null
											and l.getCoachingApplyAndPayment().getCoachingApplyAndPaymentCode() == null}" 
									class="badge badge-warning">
									견적결과
								</span>
								<span th:if="${l.getCoachingApplyAndPayment().getCoachingApplyAndPaymentCode() != null
											and l.getCoachingApplyAndPayment().getCoachingProgressStatus()=='1)신청완료'}" 
									class="badge badge-success">
									신청완료
								</span>
								<span th:if="${l.getCoachingApplyAndPayment().getCoachingApplyAndPaymentCode() != null
											and l.getCoachingApplyAndPayment().getCoachingProgressStatus()=='2)진행중'}" 
									class="badge badge-success">
									진행중
								</span>
								<span th:if="${l.getCoachingApplyAndPayment().getCoachingApplyAndPaymentCode() != null
											and l.getCoachingApplyAndPayment().getCoachingProgressStatus()=='3)중단'}" 
									 class="badge badge-danger">
									취소/환불
								</span>
								<span th:if="${l.getCoachingApplyAndPayment().getCoachingApplyAndPaymentCode() != null
											and l.getCoachingApplyAndPayment().getCoachingProgressStatus()=='4)기간만료'}" 
									 class="badge badge-secondary ">
									사용완료
								</span>
							</td>
							<td>
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-block btn-default btn-xs RFQBtn" th:id="RFQBtn" data-toggle="modal" data-target="#modal-RFQ" th:data-count="${i}" th:data-RFQCode="${l.getCoachingRFQCode()}">
									 상세보기
								</button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs " data-toggle="modal" data-target="#modal-RFQResult">
			                  		상세보기
				                </button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs " data-toggle="modal" data-target="#modal-Review">
			                  		상세보기
				                </button>
							</td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs " data-toggle="modal" data-target="#modal-coachingStop">
			                  		중단
				                </button>
							</td>	
						</tr>		
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<div class="card-footer clearfix">
			<!-- 코치 list 페이지번호  -->
		   		<ul class="pagination pagination-sm m-0 float-right">
	                 <li class="page-item"><a class="page-link" href="#">«</a></li>
	                 <li class="page-item"><a class="page-link" href="#">1</a></li>
	                 <li class="page-item"><a class="page-link" href="#">2</a></li>
	                 <li class="page-item"><a class="page-link" href="#">3</a></li>
	                 <li class="page-item"><a class="page-link" href="#">4</a></li>
	                 <li class="page-item"><a class="page-link" href="#">5</a></li>
	                 <li class="page-item"><a class="page-link" href="#">»</a></li>
	           </ul>
	 	  </div>
		</div>
		<!-- / 서비스 사용자 페이지  나의 코칭 내역 목록  -->

		<!-- Modal -->
		<!-- 견적요청 Modal -->
		<th:block th:replace="/coaching/coachingModal/modal-RFQ  ::  modal-RFQ"></th:block>"
		<!-- /견적요청 Modal -->
		
		<!-- 견적결과 상세보기  Modal  -->			
		<th:block th:replace="/coaching/coachingModal/modal-RFQResult  ::  modal-RFQResult"></th:block>"
		<!-- /견적결과 상세보기  Modal  -->			

		<!-- 후기 상세보기  Modal  -->			
		<th:block th:replace="/coaching/coachingModal/modal-Review  ::  modal-Review"></th:block>
		<!-- /후기 상세보기  Modal -->
		
		<!-- 중단  Modal  -->
		<th:block th:replace="/coaching/coachingModal/modal-coachingStop  ::  modal-coachingStop"></th:block> 
		<!-- /중단  Modal  -->
		
		<!-- 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
		<th:block th:replace="/coaching/coachingModal/modal-coaching-totalPlan  ::  modal-coaching-totalPlan"></th:block> 
		<!-- / 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
		
	</th:block>

	
	<th:block layout:fragment="pageJavascript">
	<!-- 모달 script단 -->
	<script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
	<script th:inline="javascript">
			<!-- 견적요청 상세보기 Modal -->
			$(function(){
				$('#modal-RFQ').on('shown.bs.modal', function () {
					//console.log('모달 열림확인 ');
					 $('#myInput').focus();
				});
				
				
				$("#modal-RFQ").on('hide.bs.modal', function () {
				    alert('The modal is about to be hidden.');
				});
				
				//견적 요청 상세보기 버튼 클릭시 모달창 이벤트 발동		
				$('.RFQBtn').click(function(){
					
					var RFQCode = $(this).attr('data-RFQCode');
					var countNumber = $(this).parents('tr').children()[0].innerText;
					
				
					//model에 저장되있던 myCoachingList 변수값을 자바스크립트로 변환
					/*<![CDATA[*/ 
					var myCoachingList = /*[[ ${myCoachingList} ]]*/;
					/*]]*/ 
					
					//console.log('myCoachingList=>>',myCoachingList);
					//console.log('myCoachingList[countNumber-1].totalPlanCode: ',myCoachingList[countNumber-1].totalPlanCode)
					
					if('멘토' == myCoachingList[countNumber-1].coachClassification){
						$('#coachingTypeSpan').text('멘토링');
					}else if('컨설턴트' == myCoachingList[countNumber-1].coachClassification){
						$('#coachingTypeSpan').text('컨설팅');
					}
					
					//견적요청 통합계획 조회
					$('#totalPlanCoaching').val(myCoachingList[countNumber-1].totalPlanCode);
					
					//카테고리 확인
					$('#coachingCategory').val(myCoachingList[countNumber-1].coachingCategoryCode);
					//console.log('카테고리:',myCoachingList[countNumber-1].coachingCategoryCode);
					//console.log($(this).parents('tr').children('td#countNumber').val());
					
					//시작일 종료일 
					$('#coachingStartDate').val(myCoachingList[countNumber-1].coachingRFQStartDate);
					$('#coachingEndDate').val(myCoachingList[countNumber-1].coachingRFQEndDate);
					
					//희망 요청 사항
					$('#RFQRequestContents').val(myCoachingList[countNumber-1].coachingRFQWishfulThinking);
					
					//요일 확인
					//checkDay - 데이터베이스에 들어있는 요일 데이터
					var checkDay = myCoachingList[countNumber-1].coachingRFQDay
					//checkDaySplitArray - checkDay를 , 구분자를 기준으로 잘라서 배열에 담음
					var checkDaySplitArray = checkDay.split(',');
					//console.log(checkDaySplitArray);
					
					//기존 체크됐던 요일 가져와서 체크박스로 보여주기
					for(i=0;i<checkDaySplitArray.length;i++){
						var checkDaySplit = checkDaySplitArray[i];
						//console.log(checkDaySplitArray[i])
						for(j=2;j<9;j++){
							var inputCheckbox = $('.checkDay').children()[j];
							var check = $('.checkDay').children()[j].children;
							//console.log(($('.checkDay').children())[j].innerText.trim())
							//console.log("$('.checkDay').children()[j].children : ",$('.checkDay').children()[j].children);
							//console.log(($('.checkDay').children())[j].text().trim())
							
							if(checkDaySplit == ($('.checkDay').children())[j].innerText.trim()){
								//console.log('test1: ',typeof(inputCheckbox));
								//console.log('해당 요일 확인 : ',$(check))
								$(check).attr('checked',true);
							}
						}
					}
	
					//모달이 활셩화 상태에서 esc 키보드 입력시 닫힐 때 요일 체크박스 초기화 
					$(document).keydown(function (e) {
						var code = e.keyCode||e.which;
						if(code == 27){
							console.log('모달 esc 닫기 이벤트 확인');
							$('.checkbox').removeAttr("checked");
							$('.container-fluid').css("pointer-events","auto");
						}
					})
					
					//코치 통합계획 ajax
					jQuery.ajax({ 
						type: "POST", 
						url: "/coachingTotalPlan", 
						cache: false, 
						data: { totalPlanCode: myCoachingList[countNumber-1].totalPlanCode}, 
						datatype: "JSON", 
						success: function (obj) { 
							console.log('obj : ',obj,'- 잘받았다 오버')
							//console.log('type check obj : ',typeof(obj))//String이네
							console.log("obj[0].planTitle : ",obj[0].planTitle,'- 잘받았다 오버')
							
							$('#coachingTotalPlan').val(obj[0].planTitle);
						}, 
						error: function (xhr, status, error) { console.log("ERROR!!!"); 
						$('#coachingTotalPlan').val('선택한 통합계획이 없습니다.');
						} 
					});
					
					$('#coachingTotalPlanBtn').click(function(){
						console.log('coachingTotalPlanBtn 클릭이벤트 확인');
						
						
						
						
						
						
						
						
						
						
						
						
						
					})
					
					
					
					
					
					
				
					// START coachingRFQUpdate 버튼 클릭
					$('#coachingRFQUpdate').click(function(){
						console.log('coachingRFQUpdate 클릭이벤트 확인');
						//카테고리코드값
							//카테고리 유효성 검사
							var coachingRFQCode = myCoachingList[countNumber-1].coachingRFQCode;
						
							if('' == $('#coachingCategory').val() || undefined == $('#coachingCategory').val()){
								alert('카테고리 입력을 확인해주세요');
							}else{
								console.log('카테고리 코드가 들어옴 : ',$('#coachingCategory').val());
									
								//시작일자 유효성 검사
								var today = new Date();
								var year = today.getFullYear();
								var month = today.getMonth()+1;
								if(10>month){
									month = '0'+month;
								}
								var date = today.getDate();
								var nowDate = year+'-'+month+'-'+date;
								//console.log('오늘날짜 =>',nowDate);
								var startDate = $('#coachingStartDate').val();
								var endDate   = $('#coachingEndDate').val();
								if('' == startDate || undefined == startDate){
									alert('시작일자를 확인해주세요');						
								}else if( nowDate > startDate ){
									alert('시작일자는 오늘 이전 날짜로 입력이 불가능합니다. 입력을 확인해주세요!');						
								}else{
									
									//끝나는 일자 유효성검사
									console.log(endDate);
									if('' == endDate || undefined == endDate){
				
										alert('종료일자를 확인해주세요');						
									}else if(startDate > endDate){
										alert('종료일자는 시작일자 이전 날짜로 입력이 불가능합니다. 입력을 확인해주세요!');						
									}else{
										

										//진행요일 입력받은 데이터 변수에 담기 
										//console.log($($(".checkbox")[1]).is(":checked"));
										var dayStr = '';
										var notDayStr = '';
										for(i = 0; i < $(".checkbox").length; i++){
											//체크된 요일 dayStr에 모으기
											if($($(".checkbox")[i]).is(":checked")){
												//console.log($($(".checkbox")[i]).val());
												dayStr += $($(".checkbox")[i]).val()+','
											}
											//체크 안된 요일 notDayStr에 모으기 => 유효성 검사에 사용
											if(false == $($(".checkbox")[i]).is(":checked")){
												//console.log($($(".checkbox")[i]).val());
												notDayStr += $($(".checkbox")[i]).val()+','
												//console.log('notDayStr: '+notDayStr);
											}
										}
										//진행요일 문자열 마지막에 붙은 , 제거
										dayStr = dayStr.slice(0,-1);
										notDayStr = notDayStr.slice(0,-1);
										//console.log('dayStr=>'+ dayStr);
										//console.log('notDayStr=>'+ notDayStr);
										
										//진행요일 유효성 검사
										if('월,화,수,목,금,토,일' == notDayStr){
											alert('진행 요일을 입력해주세요');
											
										}else{
											
											//희망 요청사항 유효성 검사
											console.log($('#RFQRequestContents').val());
											console.log($('#RFQRequestContents').val().length);
											if( undefined == $('#RFQRequestContents').val() || $('#RFQRequestContents').val().length == 0){
												alert('희망 요청 사항을 입력해주세요.');
											}else if($('#RFQRequestContents').val().length < 50){
												alert('50자 이상 입력해주세요.');
												
											//모든 데이터 입력완료후 ajax 발동	
											}else{
												
												//updateCoachingRFQ
												jQuery.ajax({ 
													type: "POST", 
													url: "/updateCoachingRFQ", 
													cache: false, 
													data: { coachingRFQCode         : coachingRFQCode
														,coachingCategoryCode       : $('#coachingCategory').val()
														,totalPlanCode              : null
														,planDetailCode             : null
													 	,coachUserEmail             : $('#coachEmail').val()
														,userEmail                  : null
			 											,coachingRFQStartDate       : startDate
														,coachingRFQEndDate         : endDate
														,coachingRFQDay             : dayStr
														,coachingRFQWishfulThinking : $('#RFQRequestContents').val()
														,coachingRFQRequestDate     : nowDate

													}, 
													datatype: "JSON", 
													success: function (obj) { 
														console.log('obj : ',obj,'- 잘받았다 오버')
														console.log('type check obj : ',typeof(obj))//String이네
														
														//연결은 시킴 이후 토탈플랜 리스트 넘겨주고 받아서 화면단에 뿌려주는 작업필요 
														
														//var data = JSON.parse(obj); 
														/* $.each(data, function (k, v) { 
															$('<option></option>').val(k).text(v).appendTo($('#exhibition_id')); 
															}); */ 
													}, 
													error: function (xhr, status, error) { console.log("ERROR!!!"); 
													} 
												});
												
												
												
												
												
											}
										}
									}
									
								}
							}
					})
					// END coachingRFQUpdate
					
	
				});
				
				
				//모달 닫기 이벤트 실행 안됨...
				//체크된 요일 체크박스 초기화...
				//<div class="modal-backdrop fade show"></div>
				$('#modal-RFQ').on('hide.bs.modal', function () {
					console.log('모달 닫기 이벤트 확인');
					$('.checkbox').removeAttr("checked");
					//$('.container-fluid').css("pointer-events","auto");
				})
				
				$('.ModalClose, .fade').click(function(){
					//console.log($('#modal-RFQ').css( 'display' ));
					//console.log('닫기 클릭이벤트')
					$('.checkbox').removeAttr("checked");
					//$('.container-fluid').css("pointer-events","auto");
				});
			});

			
			$(function(){
				<!-- 견적결과 상세보기 Modal -->
				$('#modal-RFQResult').on('shown.bs.modal', function () {
					  $('#myInput').focus()
					})
			
				<!-- 후기 상세보기  Modal -->
				$('#modal-Review').on('shown.bs.modal', function () {
					  $('#myInput').focus()
					})
			
				<!-- 중단  Modal -->
				$('#modal-coachingStop').on('shown.bs.modal', function () {
					  $('#myInput').focus()
					})
		
				/*  중단 경고 메시지 */
				$('#coaching-stopModalBtn').click(function(){
					alert('코칭을 중단하시겠습니까')
				})
				
				<!-- 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
				$('#modal-coaching-totalPlan').on('shown.bs.modal', function () {
					  $('#myInput').focus()
					  console.log('통합계획 모달 열림 확인 ') 
					})
				<!-- / 코치님과 내 계획 짜기 통합계획 선택  Modal --> 
				
			});
			
			
			
	</script>
	
		
	
	</th:block>
</html>

