<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeAdminDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 개설 관리</h1>
	</div>
	<br><br>
	
	
	
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/adminChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'adminChallenge'}"> 챌린지 개설 관리
					</a>
					<a th:href="@{/adminChallengeCategory}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a2" autocomplete="off" th:checked="${radioCheck == 'adminChallengeCategory'}"> 챌린지 카테고리 관리
					</a>
					<a th:href="@{/adminChallengeParticipation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeParticipation'}"> 챌린지 참여 관리
					</a>
					<a th:href="@{/adminChallengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeCertification'}"> 챌린지 인증 관리
					</a>
					<a th:href="@{/adminChallengeReport}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeReport'}"> 챌린지 신고 관리
					</a>
					<a th:href="@{/adminChallengeAchievement}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeAchievement'}"> 챌린지 달성율 관리
					</a>
					<a th:href="@{/adminChallengeCompensation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeCompensation'}"> 챌린지 보상지급 관리
					</a>
				</div>
			</div>
			
		</ol>
	</div>
</th:block>
	
	
</th:block>



<th:block layout:fragment="container">

	<div class="row">
	<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                <ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; 챌린지 관리</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
		                    <tr>
		                      <th>번호</th>
		                      	<th>개설자 이메일</th>
								<th>챌린지명</th>
								<th>공개범위</th>
								<th>참여비밀번호</th>
								<th>태그</th>
								<th>최대참여인원수</th>
								<th>베팅금액</th>
								<th>인증방법</th>
								<th>인증내용</th>
								<th>인증빈도</th>
								<th>총횟수</th>
								<th>하루인증횟수</th>
								<th>인증가능시간</th>
								<th>챌린지 시작일</th>
								<th>챌린지 종료일</th>
								<th>등록일자</th>
								<th>진행율</th>
		                     	<th>상태</th>
		                     	<th>상세보기</th>
								<th>삭제</th>
		                    </tr>
		                  </thead>
		                  <!--tbody start  -->
		                  <tbody>
		                    <tr>
		                    <td>1.</td>
		                    <td>tae01@gmail.com</td>
		                    <td>깃허브 잔디심기</td>
							<td>공개</td>
							<td></td>
							<td>#깃허브 #잔디 #경력 #개발</td>
							<td>3명</td>
							<td>1000원</td>
							<td>사진, 영상</td>
							<td>자신의 깃허브주소의 잔디화면을 찍어주세요</td>
							<td>월~일 매일 인증하기</td>
							<td>10일</td>
							<td>1회</td>
							<td>00:00~24:00</td>
		                  	<td>2021년 4월 22일</td>
							<td>2021년 5월 6일</td>
							<td>2021년 4월 15일</td>
		                      <td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-primary" style="width: 50%"></div>
							   </div>
							   <small>
									50% Complete
								</small>
							</td>
							<td><span class="badge bg-primary">참가중</span></td>
		                    <td>
								<button type="button" class="btn btn-block btn-default btn-xs modal-Challenge" data-toggle="modal" data-target="#modal-Challenge">상세보기</button>
							</td>
		                    <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                    <tr>
		                    <td>2.</td>
		                    <td>tae01@gmail.com</td>
		                    <td>깃허브 잔디심기</td>
							<td>공개</td>
							<td></td>
							<td>#깃허브 #잔디 #경력 #개발</td>
							<td>3명</td>
							<td>1000원</td>
							<td>사진, 영상</td>
							<td>자신의 깃허브주소의 잔디화면을 찍어주세요</td>
							<td>월~일 매일 인증하기</td>
							<td>10일</td>
							<td>1회</td>
							<td>00:00~24:00</td>
		                  	<td>2021년 4월 22일</td>
							<td>2021년 5월 6일</td>
							<td>2021년 4월 15일</td>
		                      <td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-danger" style="width: 100%"></div>
							   </div>
							   <small>
									100% Complete
								</small>
							</td>
							<td><span class="badge bg-danger">완료</span></td>
							 <td>
								<button type="button" class="btn btn-block btn-default btn-xs modal-Challenge" data-toggle="modal" data-target="#modal-Challenge">상세보기</button>
							</td>
		                      <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                    <tr>
		                      <td>3.</td>
		                      <td>tae01@gmail.com</td>
		                    <td>깃허브 잔디심기</td>
							<td>공개</td>
							<td></td>
							<td>#깃허브 #잔디 #경력 #개발</td>
							<td>3명</td>
							<td>1000원</td>
							<td>사진, 영상</td>
							<td>자신의 깃허브주소의 잔디화면을 찍어주세요</td>
							<td>월~일 매일 인증하기</td>
							<td>10일</td>
							<td>1회</td>
							<td>00:00~24:00</td>
		                  	<td>2021년 4월 22일</td>
							<td>2021년 5월 6일</td>
							<td>2021년 4월 15일</td>
		                      <td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-warning" style="width: 1%"></div>
							   </div>
							   <small>
									1% Complete
								</small>
							</td>
							<td><span class="badge bg-warning">개설</span></td>
							 <td>
								<button type="button" class="btn btn-block btn-default btn-xs modal-Challenge" data-toggle="modal" data-target="#modal-Challenge">상세보기</button>
							</td>
		                      <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                  </tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 코치 list 페이지번호  -->
			<div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
		</div>
		</div>
		
		<!-- 챌린지 상세보기 Modal -->
		<div class="modal fade" id="modal-Challenge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 100%">
		  <div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">챌린지 상세보기</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">
			  <div class="form-group">
                <label for="challengeName">챌린지명</label>
                <input type="text" id="challengeName" class="form-control" readonly="readonly" style="background-color: white" value="1일 1깃허브">
              </div>
              <div class="form-group">
                <label for="challengeOpener">챌린지 개설자</label>
                <input type="text" id="challengeOpener" class="form-control" readonly="readonly" style="background-color: white" value="tae01@gmail.com">
              </div>
              <div class="form-group">
                <label for="challengeScope">챌린지 공개범위</label>
                <input type="text" id="challengeScope" class="form-control" readonly="readonly" style="background-color: white" value="공개">
              </div>
              <div class="form-group">
                <label for="challengePassword">챌린지 참여비밀번호</label>
                <input type="password" id="challengePassword" class="form-control" readonly="readonly" style="background-color: white" value="">
              </div>
              <div class="form-group">
                <label for="challengeMaxPeople">챌린지 최대참여인원수</label>
                 <div class="input-group mb-3">
                 <input type="text" id="challengeMaxPeople" class="form-control" readonly="readonly" style="background-color: white" value="3">
	                  <div class="input-group-prepend">
	                  	<span class="input-group-text">명</span>
	                  </div>
               </div>
              </div>
              <div class="form-group">
                <label for="challengeBetPrice">챌린지 베팅금액</label>
                <div class="input-group mb-3">
              	<input type="text" id="challengeBetPrice" class="form-control" readonly="readonly" style="background-color: white" value="1,000">
	                  <div class="input-group-prepend">
	                  	<span class="input-group-text">원</span>
	                  </div>
              </div>
              <div class="form-group">
                <label for="challengeCertificationMethods">챌린지 인증방법</label>
                <input type="text" id="challengeCertificationMethods" class="form-control" readonly="readonly" style="background-color: white" value="사진, 영상">
              </div>
              <div class="form-group">
                <label for="challengeCertificationContents">챌린지 인증내용</label>
                <input type="text" id="challengeCertificationContents" class="form-control" readonly="readonly" style="background-color: white" value="자신의 깃허브주소의 잔디화면을 찍어주세요	">
              </div>
              <div class="form-group">
                <label for="challengeCertificationFrequency">챌린지 인증빈도</label>
                <input type="text" id="challengeCertificationFrequency" class="form-control" readonly="readonly" style="background-color: white" value="월~일 매일 인증하기">
              </div>
              <div class="form-group">
                <label for="challengeTotalCount">챌린지 총횟수</label>
                <input type="text" id="challengeTotalCount" class="form-control" readonly="readonly" style="background-color: white" value="10일">
              </div>
              <div class="form-group">
                <label for="challengeOneDayCertificationCount">챌린지 하루인증횟수</label>
                <input type="text" id="challengeOneDayCertificationCount" class="form-control" readonly="readonly" style="background-color: white" value="1회">
              </div>
              <div class="form-group">
                <label for="challengeCertificationTime">챌린지 인증가능시간</label>
                <input type="text" id="challengeCertificationTime" class="form-control" readonly="readonly" style="background-color: white" value="00:00~24:00">
              </div>
              <div class="form-group">
                <label for="challengeStartDate">챌린지 시작일</label>
                <input type="text" id="challengeStartDate" class="form-control" readonly="readonly" style="background-color: white" value="2021년 4월 22일">
              </div>
              <div class="form-group">
                <label for="challengeEndDate">챌린지 종료일</label>
                <input type="text" id="challengeEndDate" class="form-control" readonly="readonly" style="background-color: white" value="2021년 5월 6일">
              </div>
              <div class="form-group">
                <label for="challengeRegDate">챌린지 등록일</label>
                <input type="text" id="challengeRegDate" class="form-control" readonly="readonly" style="background-color: white" value="2021년 4월 15일">

              </div>
                </div>
                </div>
                
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				       </div>
				</div>
		       </div>
		       </div>
		       </div>
		       

</th:block>



<th:block layout:fragment="pageJavascript">
<script type="text/javascript">
<!-- 챌린지 상세보기 Modal -->
$(function(){
	$('#modal-Challenge').on('shown.bs.modal', function () {
		  $('#myInput').focus()
		})
});
</script>

</th:block>
</html>