<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeAdminDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">챌린지 참여 관리</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a th:href="@{/adminChallenge}">챌린지 관리</a></li>
			<li class="breadcrumb-item"><a th:href="@{/adminChallengeCategory}">챌린지 카테고리 관리</a></li>
			<li class="breadcrumb-item"><a th:href="@{/adminChallengeCertification}">챌린지 인증 관리</a></li>
			<li class="breadcrumb-item"><a th:href="@{/adminChallengeReport}">챌린지 신고 관리</a></li>
			<li class="breadcrumb-item"><a th:href="@{/adminChallengeAchievement}">챌린지 달성율 관리</a></li>
			<li class="breadcrumb-item"><a th:href="@{/adminChallengeCompensation}">챌린지 보상지급 관리</a></li>
		</ol>
	</div>
</th:block>



<th:block layout:fragment="container">
	<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">챌린지 참여 관리</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 200px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0" style="height: 500;">
                <table class="table table-head-fixed table-responsive">
                  <thead class="challenge-head">
                    <tr>
                     	<th>챌린지 참여 코드</th>
						<th>챌린지 카테고리 코드</th>
						<th>챌린지 코드</th>
						<th>챌린지 참여 이메일</th>
						<th>계획 상세 코드</th>
						<th>모든 결제 상세연결 그룹 코드</th>
						<th>챌린지 참여일자</th>
						<th>챌린지 서비스 시작일</th>
						<th>챌린지 서비스 종료일</th>
						<th>삭제</th>
                    </tr>
                  </thead>
                  <tbody class="challenge-body">
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                    <tr>
	                    <td>challenge_participant_code_01</td>
						<td>challenge_category_code_02</td>
						<td>challenge_code_01</td>
						<td>tae01@gmail.com</td>
						<td>plan_project_detail_code_04</td>
						<td></td>
						<td>2021년 4월 19일</td>
						<td>2021년 </td>
						<td>2021년 </td>
						<td>삭제</td>
                    </tr>
                  </tbody>
                </table>
                <div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>