<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
<div class="col-sm-6">
	<h1 class="m-0">챌린지 개설하기🌟</h1>
</div><!-- /.col -->
</th:block>
<th:block layout:fragment="container">

<section class="content">
      <div class="row">
       <!-- ChallengeInsertCard1 Start -->
        <div class="col-md-4">
          <div class="card card-default" id="challengeInsertForm">
            <div class="card-body">
              <div class="form-group">
                <label for="inputTitle">챌린지명</label>
                <input type="text" id="inputName" placeholder="챌린지명을 입력해주세요."  class="form-control">
              </div>
              <div class="form-group">
                         <label for="inputName">챌린지 카테고리</label>
                        <select class="custom-select">
                          <option>학력</option>
                          <option>프로젝트</option>
                          <option>자격증</option>
                          <option>공인어학</option>
                          <option>기술스택</option>
                          <option>직종전문교육과정</option>
                          <option>인턴십</option>
                          <option>공모전</option>
                          <option>경력</option>
                          <option>기타</option>
                        </select>
			</div>
              <div class="form-group">
              <label for="inputTag">챌린지 태그</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- ChallengeInsertCard1 End -->
        
        <!-- ChallengeInsertCard2 Start-->
        <div class="col-md-4">
          <div class="card card-default" id="challengeInsertForm">
            
            <div class="card-body">
            
              <div class="form-group">
                <label for="inputScope">챌린지 공개범위</label>
               	<select class="custom-select">
                 <option>공개</option>
                 <option>비공개</option>
               	</select>
			 </div>
              <div class="form-group">
                <label for="inputPassword">참여비밀번호</label>
              <div class="form-group">
                <input type="password" id="inputProjectLeader" placeholder="참여비밀번호를 입력해주세요." class="form-control">
              </div>
              </div>
            
              <div class="form-group">
                <label for="inputMaxPeople">최대 인원수</label>
                <input type="text" id="inputPeople" placeholder="최대 인원수를 입력해주세요." class="form-control">
              </div>
              
              <div class="form-group">
                        <label for="inputBeting">챌린지 베팅금액</label>
                 <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="베팅 금액을 입력하세요.">
	                  <div class="input-group-prepend">
	                    <span class="input-group-text">만원</span>
	                  </div>
                </div>
			</div>
			 <div class="form-group">
                        <label for="inputCertificate">챌린지 인증방법</label>
                        <select class="custom-select">
                          <option>사진</option>
                          <option>영상</option>
                        </select>
			 </div>
			<div class="form-group">
                <label for="inputDescription">챌린지 인증내용</label>
                <textarea id="inputDescription" class="form-control" rows="3"></textarea>
              </div>
             
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      <!-- ChallengeInsertCard2 End --> 
      
        <!-- ChallengeInsertCard3 Start-->
        <div class="col-md-4">
          <div class="card card-default" id="challengeInsertForm">
            
             <div class="card-body">
              <div class="form-group">
                        <label>챌린지 인증빈도</label>
                        <select class="custom-select">
                          <option>월~일 매일 인증하기</option>
                          <option>월~금 매일 인증하기</option>
                          <option>토~일 매일 인증하기</option>
                          <option>주 6일 인증하기</option>
                          <option>주 5일 인증하기</option>
                          <option>주 4일 인증하기</option>
                          <option>주 3일 인증하기</option>
                          <option>주 2일 인증하기</option>
                          <option>주 1일 인증하기</option>
                        </select>
			 </div>
			  <div class="form-group">
                <label for="inputMaxCount">하루 인증 가능 횟수</label>
                <input type="text" id="inputMaxCount" placeholder="하루 인증 가능 횟수를 입력해주세요."  class="form-control">
              </div>
             
              <div class="form-group">
                <label for="inputName">챌린지 인증가능시간</label>
                <input type="text" id="inputName" placeholder="챌린지 인증가능시간을 선택해주세요."  class="form-control">
              	<!-- <input type="text" id="timepicker-12-hr" name="timepicker-12-hr" class="timepicker-12-hr form-control"> -->
              </div>
              
              <div class="form-group">
                <label for="inputName">챌린지 시작일</label>
                <label for="inputName"> : 챌린지 시작일을 선택해주세요.</label>
                <input type="date" id="startDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요." value="AdminLTE">
              </div>
              <div class="form-group">
                <label for="inputName">챌린지 종료일</label>
                <label for="inputName"> : 챌린지 종료일을 선택해주세요.</label>
                <input type="date" id="startDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요." value="AdminLTE">
              </div>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      <!-- ChallengeInsertCard3 End --> 
      
    <!-- ChallengeInsert Btn -->   
	</div>
      <div class="row">
        <div class="col-12">
          <a th:href="@{/mainChallenge}" class="btn btn-secondary">개설취소</a>
          <a th:href="@{/mainChallenge}" class="btn btn-success" id="nextBtn">개설하기</a>
        </div>
	</div>
    <!-- ChallengeInsert Btn -->  
    
    </section>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>