<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
</th:block>



<th:block layout:fragment="container">

<section class="content">
      <div class="row">
        
       <!-- LeftChallengeInsertCard Start -->
        <div class="col-md-6">
          <div class="card card-default" id="challengeInsertForm">
            <div class="card-header">
              <h3 class="card-title">챌린지 개설하기</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">챌린지 인증가능시간</label>
              	<input type="text" id="timepicker-12-hr" name="timepicker-12-hr" class="timepicker-12-hr">
              </div>
              
              
              <div class="form-group">
                        <label for="inputName">챌린지 시작일</label>
                        <select class="custom-select">
                          <option>학력</option>
                          <option>프로젝트</option>
                          <option>자격증</option>
                          <option>공인어학</option>
                          <option>기술스택</option>
                          <option>직종전문교육과정</option>
                          <option>인턴십</option>
                          <option>공모전</option>
                          <option>경력</option>
                          <option>기타</option>
                        </select>
			</div>
              <div class="form-group">
              <label for="inputName">챌린지 태그</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" class="form-control" placeholder="최대 10자">
                </div>
              </div>
              <div class="form-group">
                        <label>챌린지 공개범위</label>
                        <select class="custom-select">
                          <option>공개</option>
                          <option>비공개</option>
                        </select>
			 </div>
              
                <label for="inputProjectLeader">참여비밀번호</label>
              <div class="form-group">
                <input type="password" id="inputProjectLeader" placeholder="참여비밀번호를 입력해주세요." class="form-control">
              </div>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- LeftChallengeInsertCard End -->
        
        <!-- RightChallengeInsertCard Start-->
        <div class="col-md-6">
          <div class="card card-default" id="challengeInsertForm">
            <div class="card-header">
              <h3 class="card-title">챌린지 개설하기</h3>
        	</div>
            
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">최대 인원수</label>
                <input type="text" id="inputName" placeholder="최대 인원수를 입력해주세요." class="form-control">
              </div>
              
              <div class="form-group">
                        <label>챌린지 베팅금액</label>
                 <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="베팅 금액을 입력하세요.">
	                  <div class="input-group-prepend">
	                    <span class="input-group-text">원</span>
	                  </div>
                </div>
			</div>
			 <div class="form-group">
                        <label>챌린지 인증방법</label>
                        <select class="custom-select">
                          <option>사진</option>
                          <option>영상</option>
                        </select>
			 </div>
              <div class="form-group">
                <label for="inputDescription">챌린지 인증내용</label>
                <textarea id="inputDescription" class="form-control" rows="3"></textarea>
              </div>
              
              <div class="form-group">
                        <label>챌린지 인증빈도</label>
                        <select class="custom-select">
                          <option>월~일 매일 인증하기</option>
                          <option>월~금 매일 인증하기</option>
                          <option>토~일 매일 인증하기</option>
                          <option>주 6일 인증하기</option>
                          <option>주 5일 인증하기</option>
                          <option>주 4일 인증하기</option>
                          <option>주 3일 인증하기</option>
                          <option>주 2일 인증하기</option>
                          <option>주 1일 인증하기</option>
                        </select>
			 </div>
			  <div class="form-group">
                <label for="inputMaxCount">하루 인증 가능 횟수</label>
                <input type="text" id="inputName" placeholder="하루 인증 가능 횟수를 입력해주세요."  class="form-control">
              </div>
			  <div class="form-group">
                <label for="inputTime">인증 가능 시간</label>
                <input id="timepicker" type="text" name="timepicker"/>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
    </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">취소</a>
          <input type="submit" value="다음" class="btn btn-success" id="nextBtn">
        </div>
      </div>
    </section>
</th:block>

<th:block layout:fragment="pageJavascript">
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}">
			var twelveHour = $('.timepicker-12-hr').wickedpicker();
			$('.time').text('//JS Console: ' + twelveHour.wickedpicker('time'));
			$('.timepicker-24-hr').wickedpicker({twentyFour: true});
	</script>
	
</th:block>
</html>