<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 탐색하기</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>



<th:block layout:fragment="container">
    <div class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 탐색하기</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                    <div class="col-md-10 offset-md-1">
			                        <div class="row">
			                            <div class="col-6">
			                                <div class="form-group">
			                                    <label>검색 타입</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option>제목으로 검색하기</option>
			  										<option>카테고리로 검색하기</option>
			  										<option>태그로 검색하기</option>
												</select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>정렬 순서</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option selected="" data-select2-id="5">ASC</option>
			                                        <option>DESC</option>
												</select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>정렬 기준</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			  										<option selected="" data-select2-id="8">제목</option>
			                                        <option>날짜</option>
												</select>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <div class="input-group input-group-lg">
			                                <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" value="어떤 챌린지를 찾으시나요?">
			                                <div class="input-group-append">
			                                    <button type="submit" class="btn btn-lg btn-default">
			                                        <i class="fa fa-search"></i>
			                                    </button>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </form>
			        </div>
    			</section>
   			</div>
    	</div>
    	
    	<div class="card card-default">
		<div class="card-header">
			<h3 class="card-title">진행중인 챌린지</h3>
		</div>
			<div class="card-body">
			<div class="exploationBtnGroup">
			<a class="btn btn-app">
		       <i class="fas fa-list"></i> 전체
		    </a>
			<a class="btn btn-app">
		       <i class="fas fa-graduation-cap"></i> 학력
		    </a>
			<a class="btn btn-app">
		        <i class="fas fa-file-code"></i> 프로젝트
		    </a>
			<a class="btn btn-app">
		         <i class="fas fa-certificate"></i> 자격증
		    </a>
			<a class="btn btn-app">
		         <i class="fas fa-atlas"></i> 공인어학
		    </a>
			<a class="btn btn-app">
		        <i class="fab fa-dev"></i> 기술스택
		    </a>
			<a class="btn btn-app">
		        <i class="fas fa-university"></i> 직종전문교육과정
		    </a>
			<a class="btn btn-app">
		        <i class="fas fa-briefcase"></i> 인턴십
		    </a>
			<a class="btn btn-app">
		       <i class="fas fa-pen-alt"></i> 공모전
		    </a>
			<a class="btn btn-app">
		        <i class="fas fa-user-tie"></i> 경력
		    </a>
   		</div>
   		<div class="card-body">
            <div class="row">
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>1일 1깃허브</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>토이프로젝트</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>정보처리기사 자격증 취득</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>1일 1깃허브</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>1일 1깃허브</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>1일 1깃허브</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>1일 1깃허브</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
             <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 class="lead"><b>1일 1깃허브</b></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm">#깃허브 #개발 #잔디 #경력</b></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeDetailInfo}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
           </div>  
          </div>
   		</div>
   	</div>
   	
    	
</th:block>

<th:block layout:fragment="pageJavascript">
	

</th:block>
</html>