<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 인증하기</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>

<th:block layout:fragment="container">

<section class="content" id="challengeExplorationSection">
      <div class="row">
       <!-- ChallengeInsertCard1 Start -->
        <div class="col-md-12">
          <div class="card card-default" id="challengeInsertForm">
            <div class="card-body">
              <div class="form-group">
                <label for="inputTitle">챌린지명</label>
                <input type="text" id="inputName" placeholder="챌린지명을 입력해주세요."  class="form-control" value="1일 1깃허브" readonly="readonly" style="background-color: white;">
              </div>
              <div class="form-group">
                         <label for="inputName">챌린지 카테고리</label>
                        <select class="custom-select">
                          <option>학력</option>
                          <option selected="selected">프로젝트</option>
                          <option>자격증</option>
                          <option>공인어학</option>
                          <option>기술스택</option>
                          <option>직종전문교육과정</option>
                          <option>인턴십</option>
                          <option>공모전</option>
                          <option>경력</option>
                          <option>기타</option>
                        </select>
			</div>
              <div class="form-group">
                        <label for="inputCertificate">챌린지 인증방법</label>
                        <select class="custom-select">
                          <option>사진</option>
                          <option>영상</option>
                        </select>
			 </div>
			 <div class="form-group">
                <label for="inputDescription">챌린지 인증내용</label>
                <textarea id="inputDescription" class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group">
                    <label for="customFile">챌린지 인증 첨부파일</label>
                    <div class="custom-file">
                      <input type="file" multiple="multiple" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- ChallengeInsertCard1 End -->
    <!-- ChallengeInsert Btn -->   
	</div>
      <div class="row">
        <div class="col-12" id="insertBtn">
          <a th:href="@{/mainChallenge}" class="btn btn-secondary">작성취소</a>
          <a th:href="@{/myChallengeInfo}" class="btn btn-success" id="nextBtn">인증 등록</a>
        </div>
	</div>
    <!-- ChallengeInsert Btn -->  
    
    </section>
</th:block>


<th:block layout:fragment="pageJavascript">


</th:block>
</html>