<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
</th:block>



<th:block layout:fragment="container">
<div class="mainChallengeFirst">
<div class="content">
<h1>능력을 두배로, <br>두배러 챌린지</h1>
<h3>두배러 챌린지로 커리어 성장을 시작하세요!</h3>
<button type="button" class="mainChallengeBtn" data-attribute-id="introNewintro__signupStart">지금 시작하기</button>
</div>
</div>

<div class="mainChallengeDot">
<span class="mainChallengeSpan">
<img src="https://static.wanted.co.kr/images/newintro/dot.png" alt="">
</span>
</div>

<div class="mainChallengeSecond">
<div class="content">
<h1>달성하고 싶은<br>목표를 정하세요.</h1>
<h3>토이 프로젝트, 1일 1깃허브(잔디심기), 정보처리기사자격증 취득 등<br>IT 경력관리 분야에서 달성하고 싶은 목표와<br>기간을 정해주세요.</h3>
</div>
</div>

<div class="mainChallengeDot">
<span class="mainChallengeSpan">
<img src="https://static.wanted.co.kr/images/newintro/dot.png" alt="">
</span>
</div>

<div class="mainChallengeThird">
<div class="content">
<h1>그리고,<br>결심에 돈을 베팅하세요.</h1>
<h3>돈을 걸면 의지가 달라집니다.<br>돈을 베팅하는 것은, 반드시 해야한다는 환경을 만들어줍니다.</h3>
</div>
</div>

<div class="mainChallengeDot">
<span class="mainChallengeSpan">
<img src="https://static.wanted.co.kr/images/newintro/dot.png" alt="">
</span>
</div>

<div class="mainChallengeFourth">
<div class="content">
<h1>목표를 달성할 때마다 환급,<br>못 지키면 벌금!</h1>
<h3>오늘 실천한 목표에 대한 인증샷을 업로드 해주세요!<br>실천할 때마다 베팅비가 환급됩니다!</h3>
</div>
</div>

<div class="mainChallengeLast">
<div class="content">
<h1><br>지금 DEV-CDPER에서 능력을 향상시켜보세요!</h1>
<h3>DEV-CDPER는 여러분과 커리어 여정을 함께합니다.</h3>
</div>
<div>
</div>
<button type="button" class="mainChallengeBtn" data-attribute-id="introNewintro__signupStart">지금 시작하기</button>
</div>

</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>