<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
</th:block>



<th:block layout:fragment="container">
<div class="mainChallengeFirst">
	<div class="content">
	
	
<header class="hero-section">
	<div class="row container hero-warp">
		<div class="mainChallengeFirst col-12 col-lg-6">
			<h6 class="cap">능력을 두배로, 두배러 챌린지</h6> 
			<h1 class="title"><span>두배러 챌린지와 함께</span><br><span>시작하는 커리어 성장</span></h1> 
			<h4 class="sub-title">지금 DEV-CDPER에서 능력을 향상시켜보세요!<br>DEV-CDPER는 여러분과 함께합니다.</h4> 
			<a th:href="@{/challengeExploration}" class="btn btn-primary btn-start"><span>챌린지 시작하기</span></a>
		</div> 
		<div class="col-12 col-lg-6 img-hero">
			<img th:src="@{/AdminLTE3/dist/img/developer.jpg}" class="mainChallengeImg">
		</div>
	</div>
</header>


	<div class="card challengeUserRanking col-sm-10" style="margin: 45px;">
        <div class="card-header">
          <h3 class="card-title" style="text-align: center; font-size: 2.1rem; float: inherit;">이달의 챌린지 유저 랭킹</h3>
          <div class="card-tools">
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 5%">
                      	
                          	순위
                      </th>
                      <th style="width: 15%">
                          	챌린지 이용자
                      </th>
                      <th style="width: 20%">
                          	지급 받은 금액
                      </th>
                     <th style="width: 20%">
                           	참여챌린지명
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                      	<img th:src="@{/AdminLTE3/dist/img/goldmedal.png}" style="width: 50px;">
                      </td>
                      <td>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" th:src="@{/AdminLTE3/dist/img/avatar.png}">
                              </li>
                          </ul>
                              	Woolly
                      </td>
                      <td>
                         	1,000,000원
                      </td>
                      <td class="project_progress">
                      		1일 1깃허브
                      </td>
                  </tr>
                  <tr>
                      <td>
                      	<img th:src="@{/AdminLTE3/dist/img/silvermedal.png}" style="width: 50px;">
                      </td>
                      <td>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" th:src="@{/AdminLTE3/dist/img/avatar.png}">
                              </li>
                          </ul>
                              	Park
                      </td>
                      <td>
                         	800,000원
                      </td>
                      <td class="project_progress">
                      		정보처리기사 자격증
                      </td>
                  </tr>
                  <tr>
                      <td>
                      	<img th:src="@{/AdminLTE3/dist/img/bronzemedal.png}" style="width: 50px;">
                      </td>
                      <td>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" th:src="@{/AdminLTE3/dist/img/avatar.png}">
                              </li>
                          </ul>
                              	Park
                      </td>
                      <td>
                         	420,000원
                      </td>
                      <td class="project_progress">
                      		정보처리기사 자격증
                      </td>
                  </tr>
                  <tr>
                      <td>
                      	<img th:src="@{/AdminLTE3/dist/img/fourthmedal.png}" style="width: 50px;">
                      </td>
                      <td>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" th:src="@{/AdminLTE3/dist/img/avatar.png}">
                              </li>
                          </ul>
                              	Park
                      </td>
                      <td>
                         	220,000원
                      </td>
                      <td class="project_progress">
                      		정보처리기사 자격증
                      </td>
                  </tr>
                  <tr>
                     <td>
                      	<img th:src="@{/AdminLTE3/dist/img/fivemedal.png}" style="width: 50px;">
                      </td>
                      <td>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" th:src="@{/AdminLTE3/dist/img/avatar.png}">
                              </li>
                          </ul>
                              	Park
                      </td>
                      <td>
                         	100,000원
                      </td>
                      <td class="project_progress">
                      		정보처리기사 자격증
                      </td>
                  </tr>
                   <tr>
                     <td colspan="5">
                     		<h3>참여한 챌린지에서 달성율 순위가 <span class="yellow-highlight">1위</span>라면? <span style="color: red;">모금된 베팅금액 전액 지급!</span></h3>
                     		<h3>지금 바로 챌린지에 참여하고, 베팅금액을 받아보세요!</h3>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>	
      
      
   <div style="display: block;" class="card card-default">
      <div class="card-header">
			<div class="mainChallengeFirst">
			<div class="content">
				<h2>챌린지, 어떻게 하는 건가요?</h2>
			</div>
		</div>
		</div>
		
		<div class="card-body">
			<div class="mainChallengeSecond">
				<div class="content">
					<h3 style="color: navy;">1. 달성하고 싶은 목표를 정하세요.</h3>
					<h4>토이 프로젝트, 1일 1깃허브(잔디심기), 정보처리기사자격증 취득 등<br>IT 경력관리 분야에서 달성하고 싶은 목표와 기간을 정해주세요.</h4>
				</div>
			</div>
			<br>
			<div class="mainChallengeThird">
				<div class="content">
					<h3 style="color: navy;">2. 그리고, 결심에 돈을 베팅하세요.</h3>
					<h4>돈을 걸면 의지가 달라집니다.<br>돈을 베팅하는 것은, 반드시 해야한다는 환경을 만들어줍니다.</h4>
				</div>
			</div>
			<br>
			<div style="display: block;" class="mainChallengeFourth">
				<div class="content">
					<h3 style="color: navy;">3. 1등에게는 모금된 베팅금액 전액을!</h3>
					<h4>오늘 실천한 목표에 대한 인증샷을 업로드 해주세요!
					<br>성공 인증횟수를 토대로 <span style="color: teal;">달성율(전체 인증횟수 대비 성공 인증횟수)</span>이 계산되며, 
					<br>챌린지 기간이 모두 끝나고, 달성율을 토대로 챌린지 참여자들의 <span style="color: o">순위</span>가 정해집니다.
					<br>1등에게는 <span style="color: red;">모금된 베팅금액 전액</span>이 돌아갑니다!</h4>
				</div>
			</div>
   	</div>
   	</div>
   	
   	
<div class="card card-default" >
		<div class="card-header">
			<span class="badge badge-danger"> HOT</span><h3 class="card-title">인기 챌린지 </h3>
		</div>
			<div class="card-body">
			<div class="exploationBtnGroup" >
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_all">
		       <i class="fas fa-list"></i><span id="전체">전체</span> 
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_01">
		       <i class="fas fa-graduation-cap" ></i><span id="학력">학력</span>
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_02">
		        <i class="fas fa-file-code"></i><span id="">프로젝트</span>
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_03">
		         <i class="fas fa-certificate"></i><span id="자격증">자격증</span> 
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_04">
		         <i class="fas fa-atlas"></i><span id="공인어학">공인어학</span> 
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_05">
		        <i class="fab fa-dev"></i><span id="기술스택">기술스택</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_06">
		        <i class="fas fa-university"></i><span id="직종전문교육과정">직종전문교육과정</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_07">
		        <i class="fas fa-briefcase"></i><span id="인턴십">인턴십</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_08">
		       <i class="fas fa-pen-alt"></i><span id="공모전">공모전</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_09">
		        <i class="fas fa-user-tie"></i><span id="경력">경력</span>  
		    </button>
   		</div>
            <div class="row" id="challengeExplorationCardRow">
             <div th:each="l: ${challengeExplorationList}" id="challengeExplorationCard" class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 th:text="${l.challengeName}" id="challengeName" class="lead"></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm" id="challengeTag" th:text="${l.challengeTag}"></p>       
	                   <p style="display: none;" class="text-muted text-sm" id="challengeCategoryCode" th:text="${l.challengeCategoryCode}"></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	               <a th:href="@{/challengeExplorationDetailInfo(challengeName=${l.challengeName})}" class="btn btn-sm btn-primary">챌린지 정보보기</a>
	               		</div>
	            	 </div>
	           		</div>
	    	 		</div>
	    		</div>
	    	</div>
   		</div>
	</div>
</div>

</th:block>

<th:block layout:fragment="pageJavascript">
<script type="text/javascript">
	
	
	$(function(){
		
	var exploationBtn = $('.exploationBtnGroup').find('button');
		
	$.each(exploationBtn, function(e){
		
		var challengeCategoryCodeValue = $(this).val();
		console.log("챌린지 카테고리 코드 : " + challengeCategoryCodeValue);
		
		var categoryBtnName = $(this).find('span').text();
		console.log("챌린지 카테고리 버튼명 : " + categoryBtnName);
		
		$(this).click(function(e){
		if(challengeCategoryCodeValue != '' && categoryBtnName != ''){
				jQuery.ajax({ 
			        type: "POST", 
			        url: "/byCategory", 
			        data: { challengeCategoryCode : challengeCategoryCodeValue,
			        	challengeCategoryName : categoryBtnName},
			        dataType : 'json',
			        success: function (data) { 
			           console.log('data : ',data,'- 잘 받았음');
			           console.log('type check data : ',typeof(data));//String이네
			           
			           console.log(data.length);

			 
		        	 $("#challengeExplorationCardRow").children().remove();
		        	 if(data != null && data != undefined && data != '' && data.length > 0){
		        		 var html = '';
	        			$.each(data, function(index, item){
	        				html += "<div th:each='l: ${challengeExplorationList}' id='challengeExplorationCard' class='col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column'>";
	        				html += "<div class='card bg-light d-flex flex-fill'>";
	        				html += "<div class='card-header text-muted border-bottom-0'>";
	        				html += "</div>";
	        				html += "<div class='card-body pt-0'>";
	        				html += "<div class='row'>";
	        				html += "<div class='col-12'>";
	        				html += "<h2 id='challengeName' class='lead'>";
	        				html += item.challengeName;
	        				html += "</h2>";
	        				html += "<p class='text-muted text-sm' id='challengeTag'>";
	        				html += item.challengeTag;
	        				html += "</p>";
	        				html += "</div>";
	        				html += "</div>";
	        				html += "</div>";
	        				html += "<div class='card-footer'>";
	        				html += "<a href='" + "/challengeExplorationDetailInfo?challengeName="
	        				html += item.challengeName;
	        				html +=	"' class='btn btn-sm btn-primary'>";
	        				html += "챌린지 정보보기";
	        				html += "</a></div></div></div></div>";
				        	
	        			})
		        		 
		        	 }else{
		        		 html = "<span>" + categoryBtnName + " 카테고리에 해당하는 챌린지가 없습니다." +"</span>";
		        		 //$("#challengeExplorationCardRow").css('text-align','center');
		        	 }
		        	 $("#challengeExplorationCardRow").html(html);
				        
			        
			        }, 
			        error: function (xhr, status, error) { 
			        	alert('error');
			        } 
					});
				}
		  });
	});
});
</script>
</th:block>
</html>