<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{layout/loginDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">login title</title>
	<div></div>
	<div class="col-sm-12" th:align="center">
		<h1 class="m-0">🔑 로그인🔑</h1>
	</div>
	<div class="col-sm-12" th:align="right">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">login</a></li>
			<li class="breadcrumb-item active">login.html</li>
		</ol>
	</div>
</th:block>
<th:block layout:fragment="container">

	<section class="content">
		<div class="row">
			<!-- ChallengeInsertCard1 Start -->
			<div class="col-md">
				<div class="card card-default" id="loginForm">
					<div class="card-body">

						<!-- @@@@@@@@@@@@@@@@@@@@  관리자 시작  @@@@@@@@@@@@@@@@@ -->
						<div class="login-box">
							<div class="login-logo">
								<h2>관리자</h2>
							</div>
							<!-- /.login-logo -->
							<div class="card">
								<div class="card-body login-card-body">
									<p class="login-box-msg">Sign in to start your session</p>

									<form th:action="@{/adminLogin}" method="post">
										<div class="input-group mb-3">
											<input type="email" class="form-control" name="adminEmail" value="you01@ksmart.or.kr">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-envelope"></span>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="password" class="form-control" placeholder="Password" name="adminPassword" value="apw001">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-lock"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-8">
												<div class="icheck-primary">
													<input type="checkbox" id="remember"> 
													<label> Remember Me </label>
												</div>
											</div>
											<!-- /.col -->
											<div class="col-4">
												<button type="submit" class="btn btn-primary btn-block">Sign in</button>
											</div>
											<!-- /.col -->
										</div>
									</form>

									<div class="social-auth-links text-center mb-3"> 
										<p>- OR -</p>
									</div>
									
									<p class="mb-0" >
										<a th:href="@{/addAdmin}" class="text-center">관리자 회원가입</a>
									</p>
									
									<p class="mb-1">
										<a th:href="@{adminForgotPassword}">이메일 및 패스워드 찾기</a>
									</p>
								</div>
							</div>
						</div>
						<!-- @@@@@@@@@@@@@@@@@@@@  관리자 끝  @@@@@@@@@@@@@@@@@ -->

						<!-- @@@@@@@@@@@@@@@@@@@@  일반회원 시작  @@@@@@@@@@@@@@@@@ -->
						<div class="login-box">
							<div class="login-logo">
								<h2>일반회원</h2>
							</div>
							<!-- /.login-logo -->
							<div class="card">
								<div class="card-body login-card-body">
									<p class="login-box-msg">Sign in to start your session</p>

									<form th:action="@{/normalLogin}" method="post">
										<div class="input-group mb-3">
											<input type="email" class="form-control" name="userEmail"
												value="park01@hanmail.net">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-envelope"></span>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="password" class="form-control"
												placeholder="Password" name="userPassword" value="pw001">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-lock"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-8">
												<div class="icheck-primary">
													<input type="checkbox"> 
													<label> Remember Me </label>
												</div>
											</div>
											<!-- /.col -->
											<div class="col-4">
												<button type="submit" class="btn btn-primary btn-block">Sign in</button>
											</div>
											<!-- /.col -->
										</div>
									</form>

									<div class="social-auth-links text-center mb-3">
										<p>- OR -</p>
										<span th:if="${userId == null}">
											<a href="https://kauth.kakao.com/oauth/authorize?client_id=f11795431391ba3dd703300962b6fd06&redirect_uri=http://localhost/login&response_type=code">
												<img th:src="@{/AdminLTE3/dist/img/kakaoLogin/kakao_login_medium_wide.png}">
											</a>
										</span>
									</div>
									
									<p class="mb-0">
										<a th:href=@{/addNormal} class="text-center">일반 회원가입</a>
									</p>
									
									<p class="mb-1">
										<a th:href="@{/normalForgotPassword}">이메일 및 패스워드 찾기</a>
									</p>
								</div>
							</div>
						</div>
						<!-- @@@@@@@@@@@@@@@@@@@@  일반회원 끝  @@@@@@@@@@@@@@@@@ -->

						<!-- @@@@@@@@@@@@@@@@@@@@  코치회원 시작  @@@@@@@@@@@@@@@@@ -->
						<div class="login-box">
							<div class="login-logo">
								<h2>코치회원</h2>
							</div>
							<div class="card">
								<div class="card-body login-card-body">
									<p class="login-box-msg">Sign in to start your session</p>

									<form th:action="@{/coachLogin}" method="post">
										<div class="input-group mb-3">
											<input type="email" class="form-control" name="coachEmail"
												value="coach_hong@gmail.com">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-envelope"></span>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="password" class="form-control"
												name="coachPassword" value="pw007">
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-lock"></span>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-8">
												<div class="icheck-primary">
													<input type="checkbox"> 
													<label>Remember Me </label>
												</div>
											</div>
											<div class="col-4">
												<button type="submit" class="btn btn-primary btn-block">Sign in</button>
											</div>
										</div>
									</form>
									<div class="social-auth-links text-center mb-3">
										<p>- OR -</p>
										<span th:if="${userId == null}">
											<a href="https://kauth.kakao.com/oauth/authorize?client_id=f11795431391ba3dd703300962b6fd06&redirect_uri=http://localhost:8070/login&response_type=code">
												<img th:src="@{/AdminLTE3/dist/img/kakaoLogin/kakao_login_medium_wide.png}">
											</a>
										</span>
									</div>
									<p class="mb-0">
										<a th:href="@{/addCoach}" class="text-center">코치 회원가입</a>
									</p>
									<p class="mb-1">
										<a th:href="@{/coachForgotPassword}">이메일 및 패스워드 찾기</a>
									</p>

								</div>
							</div>
						</div>
						<!-- @@@@@@@@@@@@@@@@@@@@  코치회원 끝   @@@@@@@@@@@@@@@@ -->

					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>

		</div>

	</section>


</th:block>
</html>