<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeAdminDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 신고 관리</h1>
	</div><!-- /.col -->
	<br><br>
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/adminChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'adminChallenge'}"> 챌린지 관리
					</a>
					<a th:href="@{/adminChallengeParticipation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeParticipation'}"> 챌린지 참여 관리
					</a>
					<a th:href="@{/adminChallengeReport}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeReport'}"> 챌린지 신고 관리
					</a>
					<a th:href="@{/adminChallengeAchievement}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeAchievement'}"> 챌린지 달성율 관리
					</a>
					<a th:href="@{/adminChallengeRanking}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeRanking'}"> 챌린지 최종순위 관리
					</a>
					<a th:href="@{/adminChallengeCompensation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeCompensation'}"> 챌린지 보상지급 관리
					</a>
				</div>
			</div>
			
		</ol>
	</div>
</th:block>

<th:block layout:fragment="container">
		<div class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 신고내역 상세검색</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                
                             <div class="col-md-10 offset-md-1">
                                 <div class="row">
			                            <div class="col-3" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>진행상태</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                      	<option selected="selected">전체</option>
			                                        <option>신고접수</option>
			                                        <option>신고처리중</option>
			                                        <option>신고처리완료</option>
			                                        <option>신고무효처리</option>
			                                    </select>
			                                </div>
			                            </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>신고 기간선택</label>
                                             <input type="date" id="challengeStartDate" class="form-control" placeholder="신고 시작일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>&emsp;</label>
                                             <input type="date" id="challengeEndDate" class="form-control" placeholder="신고 종료일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>&emsp;</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			                                        <option data-select2-id="16">지난 1일</option>
			                                        <option data-select2-id="16">지난 1주</option>
			                                        <option data-select2-id="16">지난 1개월</option>
			                                        <option data-select2-id="16">지난 1년</option>
			                                    </select>
			                                </div>
			                            </div>
                                    <div class="col-6">
                                         <div class="form-group">
                                             <label>기간별 정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>시작일 기준</option>
			                                        <option>종료일 기준</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-6">
                                         <div class="form-group">
                                             <label>정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>최신순</option>
			                                        <option>오래된순</option>
											</select>
                                         </div>
                                     </div>
                                 
                                 </div>
                                 <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <div class="col-3">
                                            <div class="form-group">
			                                    <label>검색옵션</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>챌린지명</option>
			  										<option>신고자 이메일</option>
			  										<option>피신고자 이메일</option>
			  										<option>신고사유</option>
												</select>
			                                </div>
                                        </div>
                                         <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="검색어를 입력해주세요" value="">
                                         <div class="input-group-append">
                                             <button type="button" class="btn btn-lg btn-default btn-sm" th:onclick="|location.href='@{#}'|" style="height : 49px;margin-top : 25px;">
                                                 <i class="fa fa-search"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
             </section>
            </div>
       </div>
       <!-- /검색-->


<div class="row">
         <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                <ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; 챌린지 신고내역 목록</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
		                    <tr>
		                      <th>번호</th>
		                      	<th>챌린지명</th>
								<th>신고자 이메일</th>
								<th>피신고자 이메일</th>
								<th>신고대상 인증글</th>
								<th>신고사유</th>
								<th>신고일자</th>
								<th>진행상태</th>
								<th>신고정보</th>
								<th>삭제</th>
		                    </tr>
		                  </thead>
		                  <!--tbody start  -->
		                  <tbody>
		                    <tr>
		                    <td>1.</td>
		                    <td>깃허브 잔디심기</td>
		                    <td>tae01@gmail.com</td>
		                    <td>ryu01@naver.com</td>
							<td>신고대상 인증글1</td>
							<td>인증 내용 부실</td>
							<td>2021년 4월 27일</td>
							<td><span class="badge bg-warning">신고접수</span></td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs challengeModalReportDetail" data-toggle="modal" data-target="#modal-ChallengeModalReportDetail">상세보기</button>
							</td>
		                      <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                    <tr>
		                    <td>2.</td>
		                    <td>깃허브 잔디심기</td>
		                    <td>tae01@gmail.com</td>
		                    <td>ryu01@naver.com</td>
		                    <td>신고대상 인증글2</td>
							<td>인증 내용 부실</td>
							<td>2021년 4월 27일</td>
							<td><span class="badge bg-primary">신고처리중</span></td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs challengeModalReportDetail" data-toggle="modal" data-target="#modal-ChallengeModalReportDetail">상세보기</button>
							</td>
		                      <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                    <tr>
		                    <td>3.</td>
		                    <td>깃허브 잔디심기</td>
		                    <td>tae01@gmail.com</td>
		                    <td>ryu01@naver.com</td>
		                    <td>신고대상 인증글3</td>
							<td>인증 내용 부실</td>
							<td>2021년 4월 27일</td>
							<td><span class="badge bg-success">신고처리완료</span></td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs challengeModalReportDetail" data-toggle="modal" data-target="#modal-ChallengeModalReportDetail">상세보기</button>
							</td>
		                      <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                    <tr>
		                    <td>4.</td>
		                    <td>깃허브 잔디심기</td>
		                    <td>tae01@gmail.com</td>
		                    <td>ryu01@naver.com</td>
		                    <td>신고대상 인증글4</td>
							<td>인증 내용 부실</td>
							<td>2021년 4월 27일</td>
							<td><span class="badge bg-danger">신고무효처리</span></td>
							<td>
								<button type="button" class="btn btn-block btn-default btn-xs challengeModalReportDetail" data-toggle="modal" data-target="#modal-ChallengeModalReportDetail">상세보기</button>
							</td>
		                      <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                 </tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 코치 list 페이지번호  -->
			<div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
		</div>
		</div>
		</div>		
</th:block>

<th:block></th:block>

<script type="text/javascript" th:inline="javascript">
</script>

</th:block>
</html>