<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeAdminDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 관리</h1>
	</div>
	<br><br>
	
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/adminChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'adminChallenge'}"> 챌린지 관리
					</a>
					<a th:href="@{/adminChallengeParticipation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeParticipation'}"> 챌린지 참여 관리
					</a>
					<a th:href="@{/adminChallengeReport}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeReport'}"> 챌린지 신고 관리
					</a>
					<a th:href="@{/adminChallengeAchievement}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeAchievement'}"> 챌린지 달성율 관리
					</a>
					<a th:href="@{/adminChallengeRanking}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeRanking'}"> 챌린지 최종순위 관리
					</a>
					<a th:href="@{/adminChallengeCompensation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeCompensation'}"> 챌린지 보상지급 관리
					</a>
				</div>
			</div>
			
		</ol>
	</div>
</th:block>
	
	
</th:block>



<th:block layout:fragment="container">
	
	<div class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 개설내역 상세검색</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                
			                
                             <div class="col-md-10 offset-md-1">
                                 <div class="row">
                                 	<div class="col-2">
			                                <div class="form-group">
			                                    <label>카테고리</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>학력</option>
							                          <option>프로젝트</option>
							                          <option>자격증</option>
							                          <option>공인어학(외국어능력)</option>
							                          <option>기술스택</option>
							                          <option>직종전문교육과정</option>
							                          <option>인턴십</option>
							                          <option>공모전</option>
							                          <option>경력</option>
                                   				 </select>
			                                </div>
			                            </div>
			                            <div class="col-2" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>진행상태</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                      	<option selected="selected">전체</option>
			                                        <option>진행예정</option>
			                                        <option>진행중</option>
			                                        <option>완료</option>
			                                    </select>
			                                </div>
			                            </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>챌린지 기간선택</label>
                                             <input type="date" id="adminChallengeStartDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>&emsp;</label>
                                             <input type="date" id="adminChallengeEndDate" class="form-control" placeholder="챌린지 종료일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-2" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>&emsp;</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			                                        <option data-select2-id="16">지난 1일</option>
			                                        <option data-select2-id="16">지난 1주</option>
			                                        <option data-select2-id="16">지난 1개월</option>
			                                        <option data-select2-id="16">지난 1년</option>
			                                    </select>
			                                </div>
			                            </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>기간별 정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>시작일 기준</option>
			                                        <option>종료일 기준</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>최신순</option>
			                                        <option>오래된순</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>진행율별 정렬</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>높은순</option>
			                                        <option>낮은순</option>
											</select>
                                         </div>
                                     </div>
                                 
                                 </div>
                                 <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <div class="col-3">
                                            <div class="form-group">
			                                    <label>검색옵션</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>챌린지명</option>
			  										<option>개설자 이메일</option>
			  										<option>참여자 이메일</option>
			  										<option>인증내용</option>
			  										<option>챌린지명+인증내용</option>
			  										<option>태그</option>
												</select>
			                                </div>
                                        </div>
                                         <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="검색어를 입력해주세요" value="">
                                         <div class="input-group-append">
                                             <button type="button" class="btn btn-lg btn-default btn-sm" th:onclick="|location.href='@{#}'|" style="height : 49px;margin-top : 25px;">
                                                 <i class="fa fa-search"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
             </section>
            </div>
       </div>
       <!-- /검색-->
			                


	<div class="row">
	<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                <ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; 개설 챌린지 목록 </h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
		                    <tr>
		                    	<th>번호</th>
								<th>챌린지명</th>
								<th>챌린지 카테고리</th>
		                      	<th>개설자 이메일</th>
								<th>챌린지 시작일</th>
								<th>챌린지 종료일</th>
								<th>챌린지 등록일자</th>
								<th>진행율</th>
		                     	<th>진행상태</th>
		                     	<th>개설정보</th>
		                     	<th>순위결정</th>
								<th>삭제</th>
		                    </tr>
		          </thead>
		                  <!--tbody start  -->
		                  <tbody>
		                    <tr th:if="${#lists.size(challengeList) > 0}" th:each="l, idx : ${challengeList}">
			                    <td id="indexCount" th:text="${idx.count}"></td>
			                    <td id="challengeName" th:text="${l.challengeName}"></td>
			                    <td id="challengeCategoryName" th:text="${l.challengeCategory.challengeCategoryName}"></td>
			                    <td id="userEmail" th:text="${l.normalUser.userEmail}"></td>
			                  	<td id="challengeStartDate" th:text="${l.challengeStartDate}"></td>
								<td id="challengeEndDate" th:text="${l.challengeEndDate}"></td>
								<td id="challengeRegisterDate" th:text="${l.challengeRegisterDate}"></td>
							<td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-primary" style="width: 50%"></div>
							   </div>
							   <small>
									50% Complete
								</small>
							</td>
							<td>
							<span th:if="${l.challengeProgressStatus == '완료'}" class="badge bg-success"  th:text="${l.challengeProgressStatus}" id="challengeProgressStatus"></span>
							<span th:if="${l.challengeProgressStatus == '진행중'}" class="badge bg-primary" th:text="${l.challengeProgressStatus}" id="challengeProgressStatus"></span>
							<span th:if="${l.challengeProgressStatus == '진행예정'}" class="badge bg-danger" th:text="${l.challengeProgressStatus}" id="challengeProgressStatus"></span>
							
							</td>
		                    
		                    
		                    <td>
								<button type="button" class="btn btn-block btn-default btn-xs challengeModalInsertDetailBtn" th:id="challengeModalInsertDetailBtn" data-toggle="modal" data-target="#modal-ChallengeInsertDetail" th:data-count="${i}" th:data-ChallengeName="${l.getChallengeName()}">상세보기</button>
							</td>
		                    <td>	
								<button type="button" class="btn btn-block btn-default btn-xs rankingBtn">순위결정</button>
							</td>
		                    <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td> 
		                    </tr>
		                  </tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 코치 list 페이지번호  -->
			
			<div class="card-footer clearfix">
						<br>
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
		</div>
		
	<div class="row">
	<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                <ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; 챌린지 카테고리 관리</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
	                    	<tr>
	                      		<th>번호</th>
								<th>카테고리명</th>
							 	<th>수정</th>
                      		 	<th>삭제</th>
	                    	</tr>
		                  </thead>
		                  <!--tbody start  -->
		                  <tbody id="challengeCategoryTableBody">
		                    <tr th:if="${#lists.size(challengeCategoryList) > 0}" th:each="l, idx : ${challengeCategoryList}">
		                    	<td id="indexCount" th:text="${idx.count}"></td>
			                    <td id="challengeCategoryName" th:text="${l.challengeCategoryName}"></td>
			                    <td>
									<button type="button" class="btn btn-block btn-default btn-xs challengeCategoryNameModifyBtn" th:id="challengeCategoryNameModifyBtn" data-toggle="modal" data-target="#modal-ChallengeModalCategoryNameModify" th:data-count="${i}" th:data-ChallengeCategoryCode="${l.getChallengeCategoryCode()}" th:data-ChallengeCategoryName="${l.getChallengeCategoryName()}" style="display: inline; width: 200px;">수정</button>
								</td>
								<td>
									<button type="button" class="btn btn-block btn-default btn-xs" style="display: inline; width: 200px;">삭제</button>
								</td>
		                    </tr>
		                  </tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 코치 list 페이지번호  -->
			
			<div class="card-footer clearfix">
						<button type="button" id="addChallengeCategoryBtn" class="btn btn-block btn-outline-primary btn-xs addChallengeCategoryBtn">카테고리 추가</button>
						<br>
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
		</div>
		</div>
		</div>
		</div>
</div>

	<!-- challenge Modal 영역 시작-->
	<!-- 챌린지 개설정보 상세보기 Modal - challengeModalInsertDetail -->
	<th:block th:replace="/fragments/challengeModal/adminChallengeModal/challengeModalInsertDetail :: challengeModalInsertDetail"></th:block>
	
	<!-- 챌린지 카테고리 변경 Modal - challengeModalCategoryNameModify -->
	<th:block th:replace="/fragments/challengeModal/adminChallengeModal/challengeModalCategoryNameModify :: challengeModalCategoryNameModify"></th:block>
	
	<!-- 챌린지 카테고리 추가 Modal - challengeModalCategoryAdd -->
	<th:block th:replace="/fragments/challengeModal/adminChallengeModal/challengeModalCategoryAdd :: challengeModalCategoryAdd"></th:block>
	
	<!-- challenge Modal 영역 끝 -->
	

</th:block>



<th:block layout:fragment="pageJavascript">
<script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
<script th:inline="javascript">
	<!-- 챌린지 개설정보 상세보기 Modal - challengeModalInsertDetail -->
	
	$(function(){
	/* Modal 영역  */
	//상세정보 모달
	$('.challengeModalInsertDetailBtn').click(function(){
		var ChallengeName = $(this).attr('data-ChallengeName');
		var countNumber = $(this).parents('tr').children()[0].innerText;
		console.log(countNumber);
		console.log(ChallengeName);
		
		/*<![CDATA[*/ 
		var challengeList = /*[[ ${challengeList} ]]*/;
		/*]]*/ 
		
		console.log(challengeList);
		console.log(challengeList[countNumber-1].challengeName);
		
		//모달 챌린지명 값 전달
		$('#modalChallengeName').val(challengeList[countNumber-1].challengeName);
		console.log("챌린지명 : " + $('#modalChallengeName').val(challengeList[countNumber-1].challengeName));

		//모달 챌린지 카테고리 값 전달
		$('#modalChallengeCategory').val(challengeList[countNumber-1].challengeCategory.challengeCategoryName);
		console.log("챌린지 카테고리 : " + $('#modalChallengeCategory').val(challengeList[countNumber-1].challengeCategory.challengeCategoryName));

		//모달 챌린지 개설자 값 전달
		$('#modalChallengeOpener').val(challengeList[countNumber-1].normalUser.userEmail);
		console.log("챌린지 개설자 이메일 : " + $('#modalChallengeOpener').val(challengeList[countNumber-1].normalUser.userEmail));
		
		//모달 챌린지 공개범위 값 전달
		$('#modalChallengeScope').val(challengeList[countNumber-1].challengeScope);
		console.log("챌린지 공개범위 : " + $('#modalChallengeScope').val(challengeList[countNumber-1].challengeScope));
		
		//모달 챌린지 참여비밀번호 값 전달
		$('#modalCallengePassword').val(challengeList[countNumber-1].challengeParticipationPassword);
		console.log("챌린지 참여비밀번호 : " + $('#modalCallengePassword').val(challengeList[countNumber-1].challengeParticipationPassword));
		
		//모달 챌린지 최대참여인원수 값 전달
		$('#modalChallengeMaxPeople').val(challengeList[countNumber-1].challengeMaximumPeople);
		console.log("챌린지 최대인원수 : " + $('#modalChallengeMaxPeople').val(challengeList[countNumber-1].challengeMaximumPeople));
		
		//모달 챌린지 베팅금액 값 전달
		$('#modalChallengeBetAmount').val(challengeList[countNumber-1].challengeBetAmount);
		console.log("챌린지 베팅금액 : " + $('#modalChallengeBetAmount').val(challengeList[countNumber-1].challengeBetAmount));
		
		//모달 챌린지 인증방법 값 전달
		$('#modalChallengeCertificationMethods').val(challengeList[countNumber-1].challengeCertificationMethod);
		console.log("챌린지 인증방법 : " + $('#modalChallengeCertificationMethods').val(challengeList[countNumber-1].challengeCertificationMethod));
		
		//모달 챌린지 인증내용 값 전달
		$('#modalChallengeCertificationContents').val(challengeList[countNumber-1].challengeCertificationContents);
		console.log("챌린지 인증내용 : " + $('#modalChallengeCertificationContents').val(challengeList[countNumber-1].challengeCertificationContents));
		
		//모달 챌린지 인증빈도 값 전달
		$('#modalChallengeCertificationFrequency').val(challengeList[countNumber-1].challengeCertificationFrequency);
		console.log("챌린지 인증빈도 : " + $('#modalChallengeCertificationFrequency').val(challengeList[countNumber-1].challengeCertificationFrequency));
		
		//모달 챌린지 시작일 값 전달
		$('#modalChallengeStartDate').val(challengeList[countNumber-1].challengeStartDate);
		console.log("챌린지 시작일 : " + $('#modalChallengeStartDate').val(challengeList[countNumber-1].challengeStartDate));

		//모달 챌린지 종료일 값 전달
		$('#modalChallengeEndDate').val(challengeList[countNumber-1].challengeEndDate);
		console.log("챌린지 종료일 : " + $('#modalChallengeEndDate').val(challengeList[countNumber-1].challengeEndDate));

		//모달 챌린지 등록일 값 전달
		$('#modalChallengeRegisterDate').val(challengeList[countNumber-1].challengeRegisterDate);
		console.log("챌린지 등록일 : " + $('#modalChallengeRegisterDate').val(challengeList[countNumber-1].challengeRegisterDate));
		
		
	});
	
	//챌린지 카테고리 이름 수정 버튼 클릭시
	$('.challengeCategoryNameModifyBtn').click(function(){
		
		var challengeCategoryName = $(this).attr('data-ChallengeCategoryName');
		var challengeCategoryCode = $(this).attr('data-ChallengeCategoryCode');
		var countNumber = $(this).parents('tr').children()[0].innerText;
		console.log("챌린지 카테고리 코드 : "+ challengeCategoryCode);	
		console.log("챌린지 카테고리 이름 : "+ challengeCategoryName);	
		console.log(countNumber);
		
		/*<![CDATA[*/ 
		var challengeCategoryList = /*[[ ${challengeCategoryList} ]]*/;
		console.log("challengeCategoryList : " + challengeCategoryList);
		/*]]*/ 
		console.log(challengeCategoryList[countNumber-1].challengeCategoryName);
		
		//모달 챌린지 카테고리 이름 값 전달
		$('#modalModifyChallengeCategoryName').val(challengeCategoryList[countNumber-1].challengeCategoryName);
		console.log("챌린지 카테고리 이름 : " + $('#modalModifyChallengeCategoryName').val(challengeCategoryList[countNumber-1].challengeCategoryName));
		
		/* ------------------------- 챌린지 태그 수정처리 Script 시작 -------------------------  */
		
		$("button#modifyChallengeModalCategoryNameBtn").click(function(){
		var modalModifyChallengeCategoryName = $('#modalModifyChallengeCategoryName').val();
		
		
		if(modalModifyChallengeCategoryName != ''){
			var request = $.ajax({
				   url: "/adminChallenge",
				   method: "POST",
				   data: {
					 			challengeCategoryCode : challengeCategoryCode,
					   			challengeCategoryName : modalModifyChallengeCategoryName
				   		},
				   dataType: "html"
			});
			request.done(function( data ) {
					console.log(data + "<<<< data");
					location.href="/adminChallenge"; 	
			});
			request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
			});
		};
	});
		
		/* ------------------------- 챌린지 태그 수정처리 Script 끝 -------------------------  */
		
		
	});
	
	$('#addChallengeCategoryBtn').click(function(){
		
		var challengeCategoryTableBody = $('#challengeCategoryTableBody');
		var newChallengeCategoryRow = $('#challengeCategoryTableBody').find('tr').eq(9).clone();
		challengeCategoryTableBody.append(newChallengeCategoryRow);
	
	});
	
});
	
</script>	
</th:block>
</html>