<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeAdminDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 참여 관리</h1>
	</div><!-- /.col -->
	<br><br>
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/adminChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'adminChallenge'}"> 챌린지 관리
					</a>
					<a th:href="@{/adminChallengeParticipation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeParticipation'}"> 챌린지 참여 관리
					</a>
					<a th:href="@{/adminChallengeReport}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeReport'}"> 챌린지 신고 관리
					</a>
					<a th:href="@{/adminChallengeAchievement}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeAchievement'}"> 챌린지 달성율 관리
					</a>
					<a th:href="@{/adminChallengeRanking}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeRanking'}"> 챌린지 최종순위 관리
					</a>
					<a th:href="@{/adminChallengeCompensation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeCompensation'}"> 챌린지 보상지급 관리
					</a>
				</div>
			</div>
			
		</ol>
	</div>
</th:block>



<th:block layout:fragment="container">

<div class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 참여내역 상세검색</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                
			                
                             <div class="col-md-10 offset-md-1">
                                 <div class="row">
                                 	<div class="col-2">
			                                <div class="form-group">
			                                    <label>카테고리</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>학력</option>
							                          <option>프로젝트</option>
							                          <option>자격증</option>
							                          <option>공인어학(외국어능력)</option>
							                          <option>기술스택</option>
							                          <option>직종전문교육과정</option>
							                          <option>인턴십</option>
							                          <option>공모전</option>
							                          <option>경력</option>
                                   				 </select>
			                                </div>
			                            </div>
			                            
			                             <div class="col-2" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>진행상태</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                   		<option selected="selected">전체</option>
			                                        <option>참여중</option>
			                                        <option>완료</option>
			                                        <option>중단</option>
			                                    </select>
			                                </div>
			                            </div>
			                         <div class="col-3">
                                         <div class="form-group">
                                             <label>챌린지 기간선택</label>
                                             <input type="date" id="challengeStartDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>&emsp;</label>
                                             <input type="date" id="challengeEndDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-2" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>&emsp;</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			                                        <option data-select2-id="16">지난 1일</option>
			                                        <option data-select2-id="16">지난 1주</option>
			                                        <option data-select2-id="16">지난 1개월</option>
			                                        <option data-select2-id="16">지난 1년</option>
			                                    </select>
			                                </div>
			                            </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>기간별 정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>시작일 기준</option>
			                                        <option>종료일 기준</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>최신순</option>
			                                        <option>오래된순</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>진행율별 정렬</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>높은순</option>
			                                        <option>낮은순</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>베팅금액별 정렬</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>많은순</option>
			                                        <option>적은순</option>
											</select>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <div class="col-3">
                                            <div class="form-group">
			                                    <label>검색옵션</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected" data-select2-id="8">전체</option>
			  									<option>챌린지명</option>
			  										<option>개설자 이메일</option>
			  										<option>참여자 이메일</option>
			  										<option>인증내용</option>
			  										<option>챌린지명+인증내용</option>
			  										<option>태그</option>
												</select>
			                                </div>
                                        </div>
                                         <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="검색어를 입력해주세요" value="">
                                         <div class="input-group-append">
                                             <button  class="btn btn-lg btn-default btn-sm" style="height : 49px;margin-top : 25px;">
                                                 <i class="fa fa-search"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
             </section>
            </div>
       </div>
       <!-- /검색-->




	<div class="row">
	<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                 <ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; 참여 챌린지 목록 </h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
		                    <tr>
		                      <th>번호</th>
		                      <th>챌린지명</th>
		                      <th>개설자 이메일</th>
		                      <th>참여자 이메일</th>
		                      <th>베팅금액</th>
		                      <th>참여일자</th>
		                      <th>서비스 시작일</th>
		                      <th>서비스 종료일</th>
		                      <th>진행율</th>
		                      <th>진행상태</th>
		                      <th>참여정보</th>
		                      <th>삭제</th>
		                    </tr>
		                  </thead>
		                  <!--tbody start  -->
		                  <tbody>
		                    <tr th:if="${#lists.size(challengeParticipationList) > 0}" th:each="l, idx : ${challengeParticipationList}">
		                    <td th:text="${idx.count}"></td>
		                    <td th:text="${l.challenge.challengeName}"></td>
		                    <td th:text="${l.challenge.challengeOpenerEmail}"></td>
		                    <td th:text="${l.normalUser.userEmail}"></td>
		                    <td th:text="${#numbers.formatDecimal(l.challenge.challengeBetAmount, 0, 'COMMA', 0, 'POINT')}+'원'"></td>
		                    <td th:text="${l.challengeParticipationDate}"></td>
		                    <td th:text="${l.challengeServiceStartDate}"></td>
							<td th:text="${l.challengeServiceEndDate}"></td>
		                      <td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-danger" style="width: 45%"></div>
							   </div>
							   <small>
									45% Complete
								</small>
							</td>
							<td>
								<span class="badge bg-primary">참여중</span>
							</td>
							 <td>
								<button type="button" class="btn btn-block btn-default btn-xs challengeModalParticipationDetail" data-toggle="modal" data-target="#modal-ChallengeParticipationDetail" th:data-count="${i}" th:data-ChallengeName="${l.challenge.getChallengeName()}">상세보기</button>
							</td>
		                      <td>
								<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
							</td>
		                    </tr>
		                 </tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 참여 챌린지 페이지번호  -->
			<div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                <li class="page-item"><a class="page-link" th:href="@{/adminChallengeParticipation}"> << </a></li>
						<li class="page-item"><a class="page-link" th:if="${currentPage > 1}" th:href="@{/adminChallengeParticipation(currentPage=${currentPage - 1})}">이전</a></li>
							<th:block th:each="num:${#numbers.sequence(pageStartNum, pageEndNum)}">
							<li class="page-item "><a class="page-link" th:if="${num != currentPage}" th:href="@{/adminChallengeParticipation(currentPage=${num})}">[[${num}]]</a></li>
							<li class="page-item active"><a class="page-link" th:unless="${num != currentPage}">[[${num}]]</a></li>
							</th:block>
						<li class="page-item"><a class="page-link" th:if="${currentPage < lastPage}" th:href="@{/adminChallengeParticipation(currentPage=${currentPage + 1})}">다음</a></li>
						<li class="page-item"><a class="page-link" th:href="@{/adminChallengeParticipation(currentPage=${lastPage})}">>></a></li>
		                </ul>
			   </div>	
		</div>
	</div>
</div>
		
    <!-- challenge Modal 영역 시작-->
	<!-- 챌린지 참여정보 상세보기 Modal - challengeModalParticipationDetail -->
	<th:block th:replace="/fragments/challengeModal/adminChallengeModal/challengeModalParticipationDetail :: challengeModalParticipationDetail"></th:block>
	<!-- challenge Modal 영역 끝 -->
        
</th:block>

<th:block layout:fragment="pageJavascript">
<script type="text/javascript" th:inline="javascript">
	$(function(){
		
		$('.challengeModalParticipationDetail').click(function(){
			
			var ChallengeName = $(this).attr('data-ChallengeName');
			var countNumber = $(this).parents('tr').children()[0].innerText;
			console.log(countNumber);
			console.log(ChallengeName);
			
			/*<![CDATA[*/ 
			var challengeParticipationList= /*[[ ${challengeParticipationList} ]]*/;
			/*]]*/ 
			
			console.log(challengeParticipationList);
			console.log(challengeParticipationList[countNumber-1].challenge.challengeName);
			
			//모달 챌린지명 값 전달
			$('#modalChallengeName').val(challengeParticipationList[countNumber-1].challenge.challengeName);
			console.log("챌린지명 : " + $('#modalChallengeName').val(challengeParticipationList[countNumber-1].challenge.challengeName));

			//모달 챌린지 카테고리 값 전달
			$('#modalChallengeCategory').val(challengeParticipationList[countNumber-1].challengeCategory.challengeCategoryName);
			console.log("챌린지 카테고리 : " + $('#modalChallengeCategory').val(challengeParticipationList[countNumber-1].challengeCategory.challengeCategoryName));

			//모달 챌린지 개설자 값 전달
			$('#modalChallengeOpener').val(challengeParticipationList[countNumber-1].challenge.challengeOpenerEmail);
			console.log("챌린지 개설자 이메일 : " + $('#modalChallengeOpener').val(challengeParticipationList[countNumber-1].challenge.challengeOpenerEmail));

			//모달 챌린지 참여자 값 전달
			$('#modalChallengeParticipant').val(challengeParticipationList[countNumber-1].normalUser.userEmail);
			console.log("챌린지 참여자 이메일 : " + $('#modalChallengeParticipant').val(challengeParticipationList[countNumber-1].normalUser.userEmail));
			
			//모달 챌린지 공개범위 값 전달
			$('#modalChallengeScope').val(challengeParticipationList[countNumber-1].challenge.challengeScope);
			console.log("챌린지 공개범위 : " + $('#modalChallengeScope').val(challengeParticipationList[countNumber-1].challenge.challengeScope));
			
			//모달 챌린지 참여비밀번호 값 전달
			$('#modalCallengePassword').val(challengeParticipationList[countNumber-1].challenge.challengeParticipationPassword);
			console.log("챌린지 참여비밀번호 : " + $('#modalCallengePassword').val(challengeParticipationList[countNumber-1].challenge.challengeParticipationPassword));
			
			//모달 챌린지 최대참여인원수 값 전달
			$('#modalChallengeMaxPeople').val(challengeParticipationList[countNumber-1].challenge.challengeMaximumPeople);
			console.log("챌린지 최대인원수 : " + $('#modalChallengeMaxPeople').val(challengeParticipationList[countNumber-1].challenge.challengeMaximumPeople));
			
			//모달 챌린지 베팅금액 값 전달
			$('#modalChallengeBetAmount').val(challengeParticipationList[countNumber-1].challenge.challengeBetAmount);
			console.log("챌린지 베팅금액 : " + $('#modalChallengeBetAmount').val(challengeParticipationList[countNumber-1].challenge.challengeBetAmount));
			
			//모달 챌린지 인증방법 값 전달
			$('#modalChallengeCertificationMethods').val(challengeParticipationList[countNumber-1].challenge.challengeCertificationMethod);
			console.log("챌린지 인증방법 : " + $('#modalChallengeCertificationMethods').val(challengeParticipationList[countNumber-1].challenge.challengeCertificationMethod));
			
			//모달 챌린지 인증내용 값 전달
			$('#modalChallengeCertificationContents').val(challengeParticipationList[countNumber-1].challenge.challengeCertificationContents);
			console.log("챌린지 인증내용 : " + $('#modalChallengeCertificationContents').val(challengeParticipationList[countNumber-1].challenge.challengeCertificationContents));
			
			//모달 챌린지 인증빈도 값 전달
			$('#modalChallengeCertificationFrequency').val(challengeParticipationList[countNumber-1].challenge.challengeCertificationFrequency);
			console.log("챌린지 인증빈도 : " + $('#modalChallengeCertificationFrequency').val(challengeParticipationList[countNumber-1].challenge.challengeCertificationFrequency));
			
			//모달 챌린지 시작일 값 전달
			$('#modalChallengeStartDate').val(challengeParticipationList[countNumber-1].challenge.challengeStartDate);
			console.log("챌린지 시작일 : " + $('#modalChallengeStartDate').val(challengeParticipationList[countNumber-1].challenge.challengeStartDate));

			//모달 챌린지 종료일 값 전달
			$('#modalChallengeEndDate').val(challengeParticipationList[countNumber-1].challenge.challengeEndDate);
			console.log("챌린지 종료일 : " + $('#modalChallengeEndDate').val(challengeParticipationList[countNumber-1].challenge.challengeEndDate));

			//모달 챌린지 등록일 값 전달
			$('#modalChallengeRegDate').val(challengeParticipationList[countNumber-1].challenge.challengeRegisterDate);
			console.log("챌린지 등록일 : " + $('#modalChallengeRegDate').val(challengeParticipationList[countNumber-1].challenge.challengeRegisterDate));

			/* /* //모달 챌린지 결제방법 값 전달
			$('#modalChallengePaymentOption').val(challengeParticipationList[countNumber-1].payment.paymentOption);
			console.log("챌린지 결제방법 : " + $('#modalChallengePaymentOption').val(challengeParticipationList[countNumber-1].payment.paymentOption));
			
			//모달 챌린지 결제여부 값 전달
			$('#modalChallengePaymentWhether').val(challengeParticipationList[countNumber-1].payment.paymentStatus);
			console.log("챌린지 결제여부 : " + $('#modalChallengePaymentWhether').val(challengeParticipationList[countNumber-1].payment.paymentStatus));
			
			//모달 챌린지 결제금액 값 전달
			$('#modalChallengePaymentPrice').val(challengeParticipationList[countNumber-1].payment.paymentPrice);
			console.log("챌린지 결제금액 : " + $('#modalChallengePaymentPrice').val(challengeParticipationList[countNumber-1].payment.paymentPrice));
			
			//모달 챌린지 결제일자 값 전달
			$('#modalChallengePaymentDate').val(challengeParticipationList[countNumber-1].payment.paymentDate);
			console.log("챌린지 결제일자 : " + $('#modalChallengePaymentDate').val(challengeParticipationList[countNumber-1].payment.paymentDate)); */
			
			
		});
			
			
		
	});
</script>
</th:block>

</th:block>
</html>