<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeAdminDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 보상지급 관리</h1>
	</div><!-- /.col -->
	<br><br>
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/adminChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'adminChallenge'}"> 챌린지 관리
					</a>
					<a th:href="@{/adminChallengeParticipation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeParticipation'}"> 챌린지 참여 관리
					</a>
					<a th:href="@{/adminChallengeReport}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeReport'}"> 챌린지 신고 관리
					</a>
					<a th:href="@{/adminChallengeAchievement}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeAchievement'}"> 챌린지 달성율 관리
					</a>
					<a th:href="@{/adminChallengeRanking}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeRanking'}"> 챌린지 최종순위 관리
					</a>
					<a th:href="@{/adminChallengeCompensation}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'adminChallengeCompensation'}"> 챌린지 보상지급 관리
					</a>
				</div>
			</div>
			
		</ol>
	</div>
</th:block>



<th:block layout:fragment="container">


<div class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 보상지급내역 상세검색</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                
			                
                             <div class="col-md-10 offset-md-1">
                                 <div class="row">
			                             <div class="col-3">
                                         <div class="form-group">
                                             <label>보상지급일자 기간선택</label>
                                             <input type="date" id="adminChallengeStartDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>&emsp;</label>
                                             <input type="date" id="adminChallengeEndDate" class="form-control" placeholder="챌린지 종료일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3" data-select2-id="11">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>&emsp;</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			                                        <option data-select2-id="16">지난 1일</option>
			                                        <option data-select2-id="16">지난 1주</option>
			                                        <option data-select2-id="16">지난 1개월</option>
			                                        <option data-select2-id="16">지난 1년</option>
			                                    </select>
			                                </div>
			                            </div>
			                           
                                     	<div class="col-4">
                                         <div class="form-group">
                                             <label>기간별 정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>시작일 기준</option>
			                                        <option>종료일 기준</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>최신순</option>
			                                        <option>오래된순</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
			                                <div class="form-group">
			                                    <label>보상금액별 정렬</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			                                        <option>많은순</option>
			                                        <option>적은순</option>
			                                    </select>
			                                </div>
			                            </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <div class="col-3">
                                            <div class="form-group">
			                                    <label>검색옵션</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>챌린지명</option>
			  										<option>개설자 이메일</option>
			  										<option>참여자 이메일</option>
												</select>
			                                </div>
                                        </div>
                                         <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="검색어를 입력해주세요" value="">
                                         <div class="input-group-append">
                                             <button type="button" class="btn btn-lg btn-default btn-sm" th:onclick="|location.href='@{#}'|" style="height : 49px;margin-top : 25px;">
                                                 <i class="fa fa-search"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
             </section>
            </div>
       </div>
       <!-- /검색-->

<div class="row">
         <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                <ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; 챌린지 보상지급내역 목록</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
		                    <tr>
		                      <th>번호</th>
		                      <th>챌린지명</th>
		                      <th>참여자 이메일</th>
		                      <th>챌린지 달성율</th>
		                      <th>보상금액</th>
		                      <th>보상금액 지급은행</th>
		                      <th>보상금액 지급계좌</th>
		                      <th>보상금액 지급일자</th>
		                      <th>보상지급정보</th>
		                      <th>삭제</th>
		                    </tr>
		                  </thead>
		                  <!--tbody start  -->
		                  <tbody>
		                    <tr th:if="${#lists.size(challengeCompensationList) > 0}" th:each="l, idx : ${challengeCompensationList}">
			                    <td id="indexCount" th:text="${idx.count}"></td>
			                   	<td id="challengeName" th:text="${l.challenge.challengeName}"></td>
			                   	<td id="challengeParticipationEmail" th:text="${l.challengeParticipationEmail}"></td>
			                    <td class="project_progress">
		                          <div class="progress progress-sm">
		                              <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
		                          </div>
		                          </div>
		                          <small>
		                              57% Complete
		                          </small>
		                      	</td>
								<td id="challengeRewardPrice" th:text="${l.challengeRewardPrice}"></td>
								<td id="challengeRewardBank" th:text="${l.challengeRewardBank}"></td>
								<td id="challengeRewardAccount" th:text="${l.challengeRewardAccount}"></td>
								<td id="challengeRewardDate" th:text="${l.challengeRewardDate}"></td>
								 <td>
									<button type="button" class="btn btn-block btn-default btn-xs challengeModalCompensationDetailBtn" data-toggle="modal" data-target="#modal-ChallengeModalCompensationDetail">상세보기</button>
								</td>
			                      <td>
									<button type="button" class="btn btn-block btn-default btn-xs">삭제</button>
								</td>
		                    </tr>
		                 </tbody>
				</table>
			</div>
			<!-- /.card-body -->
		
			<div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
		</div>
		</div>
		</div>
	<!-- challenge Modal 영역 시작-->
	<!-- 챌린지 보상지급정보 상세보기 Modal - challengeModalCompensationDetail -->
	<th:block th:replace="/fragments/challengeModal/adminChallengeModal/challengeModalCompensationDetail :: challengeModalCompensationDetail"></th:block>
	<!-- challenge Modal 영역 끝 -->

</th:block>



<th:block layout:fragment="pageJavascript">
<script type="text/javascript" th:inline="javascript">
	<!-- 챌린지 보상지급정보 상세보기 Modal - challengeModalCertificationDetail -->
		var challengeModalCompensationDetail = $('.challengeModalCompensationDetail');
		var challengeModalCompensation = $('.challengeModalCompensation');
		var challengeModalCompensationDetailBtn = $('.challengeModalCompensationDetailBtn');
		
		
		/* Modal 영역 */
		$(function(){
			challengeModalCompensationDetailBtn.click(function(){
			$("#modal-ChallengeModalCompensationDetail").modal();
		});
			
		$(function(){
				$('#modal-ChallengeModalCompensation').on('shown.bs.modal', function () {
					  $('#myInput').focus()
					})
			});	
		
		$(function(){
				$('.challengeModalCompensationBtn').click(function(){
						$(this).close;
					})
			});	
				
	});
		
		/*<![CDATA[*/ 
		var challengeCompensationList = /*[[ ${challengeCompensationList} ]]*/;
		/*]]*/ 
		
		console.log(challengeCompensationList);
</script>
</th:block>
