<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContents">
	<!-- <div th:include="member/search :: searchFragment"></div><br> -->
	<table border="1">
		<thead>
			<tr>
				<th>상품코드</th>
				<th>상품이름</th>
				<th>상품가격</th>
				<th>판매자아이디</th>
				<th>판매자이름</th>
				<th>판매자이메일</th>
				<th>상품등록일자</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.size(goodsList) > 0}" th:each="l : ${goodsList}">
				<td th:text="${l.goodsCode}"></td>
				<td th:text="${l.goodsName}"></td>
				<td th:text="${l.goodsPrice}"></td>
				<td th:text="${l.goodsSellerId}"></td>
				<td th:text="${l.member.memberName}"></td>
				<td th:text="${l.member.memberEmail}"></td>
				<td th:text="${l.goodsRegDate}"></td>
				<td>
					<a th:href="@{/modifyGoods(memberId=${l.goodsSellerId})}">수정</a>
				</td>
				<td>
					<a th:href="@{/removeGoods(memberId=${l.goodsSellerId})}">삭제</a>
				</td>
			</tr>
			<tr th:unless="${#lists.size(goodsList) > 0}" style="text-align: center;">
				<td colspan="9" th:text="${'검색한 결과가 없습니다.'}">
				</td>
			</tr>
			
		</tbody>
	</table>
	
	
	
	
	
	
	
	
	
	
	
	
</th:block>
</html>