<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<div class="col-sm-6">
		<h1 class="m-0">💻DEV-CDPER</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
		</ol>
	</div><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
<div class="card">
  <div class="card-header">
    <h3 class="card-title">배포일시 : 2021년 7월 30일 15:00</h3>
    <div class="card-tools">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    	<table class="mb-0 table table-bordered">
						<tbody>
						<tr>
								<td class="td-header text-center" style="white-space: nowrap;" id="subtit"><strong>프로젝트명</strong></td>
								<td class="td-val" >전문적인 맞춤형 코칭 및 자기주도적 챌린지를 통한<br> IT경력개발 관리프로그램(CDP)</td>
								<td class="td-header text-center" id="subtit"><strong>팀명</strong></td>							
								<td class="td-val">03팀(6명)</td>																
						</tr>
						<tr>
								<td class="td-header text-center" id="subtit"><strong>목적</strong></td>
								<td class="td-val">
								1. 멘토링과 컨설팅을 통한 맞춤형 코치 서비스를 통해 사용자에게 특화된<br> 경력개발에 필요한 도움을 제공한다. <br>
								2. 두배러(Do Better) 챌린지를 통해서 IT 경력개발목표가 비슷한 이용자들을 연결하고 성취율에 따른 보상을 통해 동기부여를 제공한다.<br>
								3. 개인의 자기 계발 계획 수립으로 개인의 경력 개발을 체계적으로 관리할 수 있도록 계획 관리 서비스를 제공한다.<br>
								4. 각각의 목표 달성을 돕는 최적의 'IT 경력개발환경'을 제공하여 IT분야에 특화된 경력개발관리 체계를 구축한다.<br>
								</td>
								<td class="td-header text-center" style="white-space: nowrap;" id="subtit"><strong>기대효과</strong></td>
								<td class="td-val" >
								1. 멘토링과 컨설팅을 통한 맞춤형 코칭 서비스를 통해 실제 현업에서 필요한 직무능력을 갖출 수 있는 방향성을 제시받을 수 있다.<br>
								2. 두배러(Do Better) 챌린지를 통해 IT 경력개발목표가 비슷한 이용자들을 연결하고 성취율에 따른 보상을 통해 이용자의 활용도(참여도)를 증대할 수 있다.<br>
								3. 개인의 자기 계발 계획 수립으로 개인의 경력 개발이 체계적으로 관리되며, <br>이를 통해 개인 직무 능력을 향상시킬 수 있다.<br>
								4. 개인의 경력 욕구를 충족시킴으로써 조직은 인적 자원을 효율적으로 <br>확보할 수 있으며, 생산성을 향상시킬 수 있다.<br>
								</td>														
							</tr>
							<tr>
								<td class="td-header text-center" style="white-space: nowrap;" id="subtit"><strong>개발환경</strong></td>
								<td class="td-val" colspan="4">
												▶OS : Windows10 <br>
												▶WAS : Apache-Tomcat-9.0.1 <br>
												▶Web browser : Chrome <br>
												▶Language : Java, Servlet 3.1, Javascript, HTML5, JQuery, CSS, Thymeleaf<br>
												▶Framework :  bootstrap4, SpringFramework, Mybatis 3.0 <br>
												▶DBMS : MariaDB 10.1.13 <br>
												▶Tools : Spring Tool Suite4, Open JDK 1.8.x, GitHub, HeidiSQL <br>
								</td>		
							</tr>
							<tr>		
								<td class="td-header text-center" style="white-space: nowrap;" id="subtit"><strong>깃허브</strong></td>								
								<td colspan="3"><a href="https://github.com/ypr821/03teamproject">https://github.com/ypr821/03teamproject</a>
								</td>
							</tr>
						</tr>
					</tbody>
				</table>
					<div class="loginBtnGroup" style="margin: 20px 0px 10px 0px;">
						<h3>💡 로그인</h3>
						<button id="adminUserLogin" type="submit" class="btn btn-default btn-lg">관리자 권한</button>
						<button id="normalUserLogin" type="submit" class="btn btn-default btn-lg">일반회원 권한</button>
						<button id="CoachingUserLogin" type="submit" class="btn btn-default btn-lg">코칭회원 권한</button>
					</div>
  </div>
  <!-- /.card-body -->
  <!-- /.card-footer -->
</div>
<!-- /.card -->
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

