<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-2">
		<p class="m-0" style="vertical-align: middle;">직종전문교육과정 계획</p>
	</div><!-- /.col -->
	<div class="col-sm-10">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{planEducationalHistory}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'planEducationalHistory'}"> 학력 계획
					</a>
					<a th:href="@{/planProject}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a2" autocomplete="off" th:checked="${radioCheck == 'planProject'}"> 프로젝트 계획
					</a>
					<a th:href="@{/planCertificate}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planCertificate'}"> 자격증 계획
					</a>
					<a th:href="@{/planCertifiedLanguage}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planCertifiedLanguage'}"> 공인어학 계획
					</a>
					<a th:href="@{/planTechnologyStack}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planTechnologyStack'}"> 기술스택 계획
					</a>
					<a th:href="@{/planJobTraining}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planJobTraining'}"> 직종전문교육과정 계획
					</a>
					<a th:href="@{/planInternship}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planInternship'}"> 인턴십 계획
					</a>
					<a th:href="@{/planContest}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planContest'}"> 공모전 계획
					</a>
					<a th:href="@{/planCareer}" class="btn btn-sm btn-outline-info">
						<input type="radio" name="options" id="option_a3" autocomplete="off" th:checked="${radioCheck == 'planCareer'}"> 경력 계획
					</a>
				</div>
			</div>
		</ol>
	</div><!-- /.col -->
</th:block>
<th:block layout:fragment="container">

</th:block>
<th:block layout:fragment="pageJavascript">

</th:block>
</html>