<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-6">
		<h1 class="m-0">학력 계획</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a th:href="@{/totalPlan}">통합계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/minaPlan}">계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/detailPlan}">상세계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/actionPlan}">실천계획</a></li>
		</ol>
	</div><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
<!-- Default box -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">
				계획 - 4년 컴공 뿌시기
			</h3>
			
			<div class="card-tools">
				<a th:href="@{/addTotalPlan}">
					<button type="button" class="btn btn-outline-primary">
						등록하기
					</button>
				</a> 	
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0">
			<table class="table table-striped projects" style="overflow: scroll; width: 100%; white-space: nowrap;">
				<thead>
					<tr style="text-align: center;">
						<th>
							순번
						</th>
						<th>
							계획내용
						</th>
						<th>
							학력
						</th>
						<th>
							학교
						</th>
						<th>
							전공학과
						</th>
						<th>
							학점
						</th>
						<th>
							시작일자
						</th>
						<th>
							종료일자
						</th>
						<th>
							진행율
						</th>
						<th>
							상태
						</th>
						<th>
							차수
						</th>
						<th>
							
						</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align: center;">
						<td>
							1
						</td>
						<td>
							<textarea class="form-control" cols="30" rows="3" style="resize: none;" readonly>컴퓨터공학전공해서취업하자 일단 신청이라도!!</textarea>
						</td>
						<td>
							4년제 대학교
						</td>
						<td>
							전북대학교
						</td>
						<td>
							컴퓨터공학과
						</td>
						<td>
							4
						</td>
						<td> 
							<a>2021.06.24</a>
						</td>
						<td>
							<a>2021.08.06</a>
						</td>
						<td class="project_progress">
							<div class="progress progress-sm">
								<div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
								</div>
							</div>
							<small>
								57% Complete
							</small>
						</td>
						<td class="project-state">
							<span class="badge badge-danger">
								중단됨
							</span>
						</td>
						<td>
							<a>
								1차
							</a>
						</td>
						<td class="project-actions text-center">
							<a class="btn btn-primary btn-sm" id="stopTotalPlan">
								<i class="fas fa-folder">
								</i>
								상세계획보기
							</a>
							<a class="btn btn-info btn-sm" id="stopModifyPlan">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							<a class="btn btn-danger btn-sm" th:href="@{/deleteTotalPlan}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<!-- /.card-body -->
	</div>
	<!-- /.card -->
</th:block>
<th:block layout:fragment="pageJavascript">

</th:block>
</html>