<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">Insert title here</title>
	<div class="col-sm-4">
		<h1 class="m-0">학력 계획</h1>
	</div><!-- /.col -->
	<!-- 우측 상단 경로바 -->
	<th:block th:replace="/fragments/plan/planTopSelect :: planTopSelect"></th:block>
</th:block>
<th:block layout:fragment="container">
<!-- Default box -->

	<!-- 등록되어있는 통합계획선택하는 select -->
	<th:block th:replace="/fragments/plan/planTitleSearch :: planTitleSearch"></th:block>
	
	<!--계획 공통검색 기능-->
	<th:block th:replace="/fragments/plan/planSearch :: planSearch"></th:block>

	<div class="card">
		<div class="card-header">
			<h2 class="card-title" style="line-height: 38.227px;">
				예시)백앤드 개발자 취업준비의 학력계획하기
			</h2>
			<div class="card-tools">
				<a class="btn btn-outline-primary" th:href="@{/addTotalPlan(planName=${pathName})}">
					등록하기
				</a>
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0" style="overflow: scroll; white-space: nowrap;">
			<table class="table table-striped planTable">
				<thead>
					<tr>
						<th>
							번호
						</th>
						<th>
							학력계획제목
						</th>
						<th>
							학력계획내용
						</th>
						<th>
							학력
						</th>
						<th>
							학교
						</th>
						<th>
							전공학과
						</th>
						<th>
							학점
						</th>
						<th>
							시작일자
						</th>
						<th>
							종료일자
						</th>
						<th>
							진행율
						</th>
						<th>
							상태
						</th>
						<th>
							차수
						</th>
						<th>
							차수변경사유
						</th>
						<th>
							
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							전북대컴공가기
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planContents">
								계획내용보기
							</button>
							<!--<textarea class="form-control" cols="30" rows="3" style="resize: none; min-width: max-content;" readonly>컴퓨터공학전공해서취업하자 일단 신청이라도!!</textarea>-->
						</td>
						<td>
							4년제 대학교
						</td>
						<td>
							전북대학교
						</td>
						<td>
							컴퓨터공학과
						</td>
						<td>
							4
						</td>
						<td> 
							<a>2021.06.24</a>
						</td>
						<td>
							<a>2021.08.06</a>
						</td>
						<td class="project_progress">
							<div class="progress progress-sm">
								<div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
								</div>
							</div>
							<small>
								0% Complete
							</small>
						</td>
						<td class="project-state">
							<span class="badge badge-secondary">
								진행예정
							</span>
						</td>
						<td>
							<a>
								1차
							</a>
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planDegree">
								<i class="far fa-comment-alt"></i>
							</button>
						</td>
						<td class="project-actions text-center">
							<a class="btn btn-default btn-xs mainPlan" th:href="@{/detailPlan}" data-status="ready">
								<i class="fas fa-folder">
								</i>
								상세계획보기
							</a>
							<a class="btn btn-default btn-xs modifyTotalPlan" th:href="@{/modifyTotalPlan}" data-status="ready">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							<a class="btn btn-default btn-xs" th:href="@{/deleteTotalPlan}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
						</td>
					</tr>
					<tr>
						<td>
							2
						</td>
						<td>
							전북대컴공가기
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planContents">
								계획내용보기
							</button>
						</td>
						<td>
							대학원/석사
						</td>
						<td>
							전북대학원
						</td>
						<td>
							컴퓨터공학과
						</td>
						<td>
							4.3
						</td>
						<td> 
							<a>2025.03.02</a>
						</td>
						<td>
							<a>2027.02.10</a>
						</td>
						<td class="project_progress">
							<div class="progress progress-sm">
								<div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
								</div>
							</div>
							<small>
								0% Complete
							</small>
						</td>
						<td class="project-state">
							<span class="badge badge-secondary">
								진행예정
							</span>
						</td>
						<td>
							<a>
								1차
							</a>
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planDegree">
								<i class="far fa-comment-alt"></i>
							</button>
						</td>
						<td class="project-actions text-center">
							<a class="btn btn-default btn-xs mainPlan" th:href="@{/detailPlan}" data-status="ready">
								<i class="fas fa-folder">
								</i>
								상세계획보기
							</a>
							<a class="btn btn-default btn-xs modifyTotalPlan" th:href="@{/modifyTotalPlan}" data-status="ready">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							<a class="btn btn-default btn-xs" th:href="@{/deleteTotalPlan}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
						</td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							명지대보안학과가기
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planContents">
								계획내용보기
							</button>
						</td>
						<td>
							3년제 대학교
						</td>
						<td>
							명지전문대학
						</td>
						<td>
							인터넷응용보안학과
						</td>
						<td>
							4
						</td>
						<td> 
							<a>2021.03.02</a>
						</td>
						<td>
							<a>2023.02.10</a>
						</td>
						<td class="project_progress">
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width: 47%">
								</div>
							</div>
							<small>
								47% Complete
							</small>
						</td>
						<td class="project-state">
							<span class="badge badge-primary">
								진행중
							</span>
						</td>
						<td>
							<a>
								1차
							</a>
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planDegree">
								<i class="far fa-comment-alt"></i>
							</button>
						</td>
						<td class="project-actions text-center">
							<a class="btn btn-default btn-xs mainPlan" th:href="@{/detailPlan}" data-status="">
								<i class="fas fa-folder">
								</i>
								상세계획보기
							</a>
							<a class="btn btn-default btn-xs modifyTotalPlan" th:href="@{/modifyTotalPlan}" data-status="">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							<a class="btn btn-default btn-xs" th:href="@{/deleteTotalPlan}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
						</td>
					</tr>
					<tr>
						<td>
							4
						</td>
						<td>
							독학사로학위따기
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planContents">
								계획내용보기
							</button>
						</td>
						<td>
							독학학위제
						</td>
						<td>
							독학학위제
						</td>
						<td>
							정보통신학과
						</td>
						<td>
							3.5
						</td>
						<td> 
							<a>2020.03.02</a>
						</td>
						<td>
							<a>2021.02.10</a>
						</td>
						<td class="project_progress">
							<div class="progress progress-sm">
								<div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								</div>
							</div>
							<small>
								100% Complete
							</small>
						</td>
						<td class="project-state">
							<span class="badge badge-success">
								완료
							</span>
						</td>
						<td>
							<a>
								1차
							</a>
						</td>
						<td>
							<button type="button" class="btn btn-default btn-sm planDegree">
								<i class="far fa-comment-alt"></i>
							</button>
						</td>
						<td class="project-actions text-center">
							<a class="btn btn-default btn-xs mainPlan" th:href="@{/detailPlan}" data-status="">
								<i class="fas fa-folder">
								</i>
								상세계획보기
							</a>
							<a class="btn btn-default btn-xs modifyTotalPlan" th:href="@{/modifyTotalPlan}" data-status="">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							<a class="btn btn-default btn-xs" th:href="@{/deleteTotalPlan}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<!-- /.card-body -->
	</div>
	<!-- /.card -->
	
	<!-- Modal 영역 시작-->
	<!-- planModalContents -->
	<th:block th:replace="/fragments/planModal/planModalContents :: planModalContents"></th:block>
	<!-- planModalDegree -->
	<th:block th:replace="/fragments/planModal/planModalDegree :: planModalDegree"></th:block>
	<!-- Modal 영역 끝 -->
	
</th:block>
<th:block layout:fragment="pageJavascript">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			
			/* parameter 영역 */
			var table = $('.planTable');
			var mainPlan = table.find('.mainPlan');
			var modifyTotalPlan = table.find('.modifyTotalPlan');
			var planContents = $('.planContents');
			var planDegree = $('.planDegree');

			/* alert 영역 */
			mainPlan.click(function(){
				if($(this).attr('data-status') == 'stop'){
					alert('중단된 계획은 상세계획보기를 할 수 없습니다.');
					$(this).attr('href','#');
				}else if($(this).attr('data-status') == 'ready'){
					alert('상세계획이 없습니다. 상태 변경 후 상세계획을 등록 하시겠습니까?');
					$(this).attr('href','#');
				}
			});
			modifyTotalPlan.click(function(){
				if($(this).attr('data-status') == 'stop'){
					alert('중단된 계획은 수정할 수 없습니다.');
					$(this).attr('href','#');
				};
			});
			
			/* Modal 영역 */
			planContents.click(function(){
				$("#myModal").modal();
			});
			planDegree.click(function(){
				$("#myModal2").modal();
			});
			
			/* 테이블 CSS 영역 */
			table.find('td').css({
				'vertical-align' : 'middle'
				,'text-align' : 'center'
			});
			
			table.find('th').css({
				'text-align' : 'center'
			});
			
			table.find('small').css({
				'color' : '#969696'
			});
		});
	</script>
</th:block>
</html>