<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExplorationDetailInfo'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>



<th:block layout:fragment="container">

<div class="card card-default">
			<div class="card-body">
			    <section class="content">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 상세정보</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                    <div class="card-body">
			                    
									<!-- 챌린지 정보 카드 -->		                    
									<div class="col-10">
							          <div class="card">
							            <div class="card-header">
							              <h3 class="card-title">챌린지 기본정보</h3>
							            </div>
							            <div class="card-body">
							            <div class="col-12 col-sm-6 d-flex align-items-stretch flex-column">
								    	 </div>
							              <div class="form-group"> 
							                <label for="challengeName">챌린지명</label>
							                <input type="text" id="challengeName" name="challengeName" th:value="${challenge.challengeName}" class="form-control" readonly="readonly" style="background-color: white">
							              </div>
							              <div class="form-group" id="challengeTerm">
							                <label for="challengeStartDate">챌린지 기간</label>  
							              	<div class="row">
							                <input type="text" id="challengeStartDate" name="challengeStartDate" th:value="${challenge.challengeStartDate}" class="form-control" readonly="readonly" style="background-color: white; width: 422px;">
							                <div class="input-group-prepend">
								                  	<span class="input-group-text">~</span>
								                  </div>
							                <input type="text" id="challengeEndDate" name="challengeEndDate" th:value="${challenge.challengeEndDate}" class="form-control" readonly="readonly" style="background-color: white; width: 422px;">
							              	</div>
							              </div>
							              <div class="form-group">
							                <label for="challengeCertificationFrequency">챌린지 인증빈도</label>
							                <input type="text" id="challengeCertificationFrequency" name="challengeCertificationFrequency" th:value="${challenge.challengeCertificationFrequency}" class="form-control" readonly="readonly" style="background-color: white">
							              </div>
							               <div class="form-group">
							                 <label for="challengeMaximumPeople">챌린지 참가인원</label>
							               <div class="input-group mb-3">
							                 <input type="text" id="challengeMaximumPeople" name="challengeMaximumPeople" th:value="${challenge.challengeMaximumPeople}" class="form-control" readonly="readonly" style="background-color: white">
								                  <div class="input-group-prepend">
								                  	<span class="input-group-text">명</span>
								                  </div>
							               </div>
							               <div class="form-group">
							                        <label for="challengeBetAmount">챌린지 베팅금액</label>
							               <div class="input-group mb-3">
							                 	  <div class="input-group-prepend" >
								                  	<span class="input-group-text">총</span>
								                  </div>
							               <input type="text" id="challengeBetAmount" name="challengeBetAmount" th:value="${challenge.challengeBetAmount}" class="form-control" readonly="readonly" style="background-color: white">
								                  <div class="input-group-prepend">
								                  	<span class="input-group-text">원</span>
								                  </div>
							                </div>
										  </div>
							             </div>
							           </div>
							         </div>
							            <!-- /.card-body -->
										<!-- 챌린지 정보카드 -->   
									</div>
		<div class="row">
          <div class="col-10">
		<div class="card">
              <div class="card-header d-flex p-0">
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">소개</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">인증방법</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1" th:value="${challenge.challengeIntroduce}" th:text="${challenge.challengeIntroduce}">
                  </div>
                  <!-- /.tab-pane -->
                 <div class="tab-pane" id="tab_2" th:value="${challenge.challengeCertificationContents}" th:text="${challenge.challengeCertificationContents}">
                    	챌린지 인증방법<p>
                    	[자신의 깃허브 계정이 잘 나오도록 Overview 화면을 캡쳐]<p>
                    	[작성한 소스코드도 함께 캡쳐]<p>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            </div>
            </div>
		
		
		<div class="btnGroup">
		<div th:onclick="|location.href='@{/challengeParticipation(challengeName=${challenge.challengeName})}'|" class="btn btn-danger btn-lg btn-flat participationBtn col-10" style="float: left">
				  <i class="fas fa-sign-in-alt fa-lg mr-2"></i>
                  챌린지 참여하기
        </div>
		</div>
		</div>
		
             				 </div>
			                </form>
			                </div>
			                
			                </section>
			               
			        </div>
   			</div>

</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>