<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 개설하기</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>






<th:block layout:fragment="container">


<section class="content" id="challengeInsertSection">

    <form id="challengeInsertForm" th:action="@{/challengeInsert}" method="post">
      <div class="row">
       <!-- ChallengeInsertCard1 Start -->
        <div class="col-md-6">
          <div class="card card-default" id="challengeInsertForm">
            <div class="card-body">
              <div class="form-group">
                <label for="challengeName">챌린지명</label>
                <input type="text" name="challengeName" placeholder="챌린지명을 입력해주세요."  class="form-control">
              </div>
              <div class="form-group">
                          <label for="challengeCategoryCode" >챌린지 카테고리</label>
                          <select class="custom-select" id="challengeCategoryCode" name="challengeCategoryCode">
                          <option id="challengeCategoryCode" value="none">--- 챌린지 카테고리 선택 ---</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_01">학력</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_02">프로젝트</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_03">자격증</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_04">공인어학</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_05">기술스택</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_06">직종전문교육과정</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_07">인턴십</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_08">공모전</option>
                          <option id="challengeCategoryCode" value="challenge_category_code_09">경력</option>
                        </select>
			</div>
              <div class="form-group">
              <label for="challengeTag">챌린지 태그(선택)</label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" name="challengeTag1" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" name="challengeTag2" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" name="challengeTag3" class="form-control" placeholder="최대 10자">
                </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                  </div>
                  <input type="text" name="challengeTag4" class="form-control" placeholder="최대 10자">
                </div>
                <div class="form-group">
                <label for="challengeScope">챌린지 공개범위</label>
               	<select class="custom-select" id="challengeScope" name="challengeScope">
		               	 <option id="challengeScope" value="none">--- 챌린지 공개범위 선택 ---</option>
		                 <option id="challengeScope" value="공개">공개</option>
		                 <option id="challengeScope" value="비공개">비공개</option>
               	</select>
			 </div>
              <div class="form-group">
                <label for="challengeParticipationPassword">챌린지 참여비밀번호</label>
              <div class="form-group">
                <input type="password" name="challengeParticipationPassword" placeholder="참여비밀번호를 입력해주세요." class="form-control">
              </div>
              </div>
              <div class="form-group">
                <label for="challengeIntroduce">챌린지 소개</label>
                <textarea id="challengeIntroduce" name="challengeIntroduce" class="form-control" rows="3"></textarea>
              </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- ChallengeInsertCard1 End -->
        
        <!-- ChallengeInsertCard2 Start-->
        <div class="col-md-6">
          <div class="card card-default" id="challengeInsertForm">
            
            <div class="card-body">
             
              <div class="form-group">
                <label for="challengeMaximumPeople">챌린지 참여 최대 인원수</label>
                <input type="text" name="challengeMaximumPeople" placeholder="최대 인원수를 입력해주세요." class="form-control">
              </div>
              <div class="form-group">
                        <label for="challengeBetAmount">챌린지 베팅금액</label>
                 <div class="input-group mb-3">
                  <input type="text" id="challengeBetAmount" name="challengeBetAmount" class="form-control" placeholder="베팅 금액을 입력하세요.">
	                  <div class="input-group-prepend">
	                    <span class="input-group-text">원</span>
	                  </div>
                </div>
			</div>
			<div class="form-group">
                        <label for="challengeCertificationMethod">챌린지 인증방법</label>
                        <select class="custom-select form-control" name="challengeCertificationMethod" id="challengeCertificationMethod">
                          <option id="challengeCertificationMethod" value="none" >--- 챌린지 인증방법 선택 ---</option>
                          <option id="challengeCertificationMethod" value="사진" >사진</option>
                          <option id="challengeCertificationMethod" value="영상">영상</option>
                        </select>
			 </div>
			<div class="form-group">
                <label for="challengeCertificationContents">챌린지 인증내용</label>
                <textarea id="challengeCertificationContents" name="challengeCertificationContents"  class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group">
                        <label for="challengeCertificationFrequency">챌린지 인증빈도</label>
                        <select class="custom-select form-control" name="challengeCertificationFrequency" id="challengeCertificationFrequency">
                          <option id="challengeCertificationFrequency" value="none">--- 챌린지 인증빈도 선택 ---</option>
                          <option id="challengeCertificationFrequency" value="월~일 매일 인증하기" >월~일 매일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="월~금 매일 인증하기" >월~금 매일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="토~일 매일 인증하기" >토~일 매일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="주 6일 매일 인증하기" >주 6일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="주 5일 매일 인증하기" >주 5일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="주 4일 매일 인증하기" >주 4일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="주 3일 매일 인증하기" >주 3일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="주 2일 매일 인증하기" >주 2일 인증하기</option>
                          <option id="challengeCertificationFrequency" value="주 1일 매일 인증하기" >주 1일 인증하기</option>
                        </select>
			 </div>
              <div class="form-group">
                <label for="challengeStartDate">챌린지 시작일</label>
                <label for="challengeStartDate"> : 챌린지 시작일을 선택해주세요.</label>
                <input type="date" id="challengeStartDate" name="challengeStartDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
              </div>
              <div class="form-group">
                <label for="challengeEndDate">챌린지 종료일</label>
                <label for="challengeEndDate"> : 챌린지 종료일을 선택해주세요.</label>
                <input type="date" id="challengeEndDate" name="challengeEndDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      <!-- ChallengeInsertCard2 End --> 
     
      
    <!-- ChallengeInsert Btn -->   
	</div>
    </form>
    
			<div class="row">
		        <div class="col-12" id="challengeInsertBtnGroup">
		        <button type="button" class="btn btn-primary" id="challengeInsertBtn" style="float: right;">개설하기</button>
				<button type="button" th:onclick="|location.href='@{myChallenge}'|" class="btn btn-danger" id="challengeCancelBtn" style="float: left;">개설취소</button>
		        </div>
			</div>
	
    <!-- ChallengeInsert Btn -->
	</section>
</th:block>

<th:block layout:fragment="pageJavascript">
<script>
$('#challengeInsertBtn').click(function(){
	
	//태그 글자수 제한 정규식 (한글, 숫자 1~10자리)
	var regexTag = /^[가-힣0-9]{1,10}$/;
	
	//참여비밀번호 글자수 제한 정규식 (숫자 4자리 필수)
	var regexPass = /[0-9]{4}/;
	
	var submitFlag = true;
	var challengeInsertForm = $('#challengeInsertForm');
	
	//챌린지명
	var challengeName = $('input[name=challengeName]');
	var challengeNameValue = challengeName.val();
	
	//챌린지 카테고리
	var challengeCategoryCode = $('select[name=challengeCategoryCode]');
	var challengeCategoryCodeValue = challengeCategoryCode.val();
	
/* 	//챌린지태그
	var challengeTag1 = $('input[name=challengeTag1]');
	var challengeTag1Value = $('input[name=challengeTag1]').val();
	var challengeTag2 = $('input[name=challengeTag2]');
	var challengeTag2Value = $('input[name=challengeTag2]').val();
	var challengeTag3 = $('input[name=challengeTag3]');
	var challengeTag3Value = $('input[name=challengeTag3]').val();
	var challengeTag4 = $('input[name=challengeTag4]');
	var challengeTag4Value = $('input[name=challengeTag4]').val(); */
	
	//챌린지 공개범위
	var challengeScope = $('select[name=challengeScope]');
	var challengeScopeValue = challengeScope.val();
	
	//챌린지 참여 비밀번호
	var challengeParticipationPassword = $('input[name=challengeParticipationPassword]');
	var challengeParticipationPasswordValue = challengeParticipationPassword.val();
	
	//챌린지 소개
	var challengeIntroduce = $('textarea[name=challengeIntroduce]');
	var challengeIntroduceValue = challengeIntroduce.val();
	
	//챌린지 최대인원수
	var challengeMaximumPeople = $('input[name=challengeMaximumPeople]');
	var challengeMaximumPeopleValue = challengeMaximumPeople.val();

	//챌린지 베팅금액
	var challengeBetAmount = $('input[name=challengeBetAmount]');
	var challengeBetAmountValue = challengeBetAmount.val();
	
	//챌린지 인증방법
	var challengeCertificationMethod = $('select[name=challengeCertificationMethod]');
	var challengeCertificationMethodValue = challengeCertificationMethod.val();
	
	//챌린지 인증내용
	var challengeCertificationContents = $('textarea[name=challengeCertificationContents]');
	var challengeCertificationContentsValue = challengeCertificationContents.val();
	
	//챌린지 인증빈도
	var challengeCertificationFrequency = $('select[name=challengeCertificationFrequency]');
	var challengeCertificationFrequencyValue = challengeCertificationFrequency.val();
	
	//챌린지 시작일
	var challengeStartDate = $('input[name=challengeStartDate]');
	var challengeStartDateValue = challengeStartDate.val();

	//챌린지 시작일
	var challengeEndDate = $('input[name=challengeEndDate]');
	var challengeEndDateValue = challengeEndDate.val();
	
	
	if(challengeNameValue == '' || challengeNameValue == undefined || challengeNameValue == null){
		alert('챌린지명을 입력해주세요.');
		challengeName.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeCategoryCodeValue == 'none'){
		alert('챌린지명 카테고리를 선택해주세요.');
		challengeCategoryCode.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	/* if(challengeTag1Value == '' || challengeTag1Value == undefined || challengeTag1Value == null){
		alert('챌린지 태그를 입력해주세요.');
		challengeTag1.focus();
		submitFlag = false;
		return submitFlag;
	} 
	
	if(challengeTag2Value == '' || challengeTag2Value == undefined || challengeTag2Value == null){
		alert('챌린지 태그를 입력해주세요.');
		challengeTag2.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeTag3Value == '' || challengeTag3Value == undefined || challengeTag3Value == null){
		alert('챌린지 태그를 입력해주세요.');
		challengeTag3.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeTag4Value == '' || challengeTag4Value == undefined || challengeTag4Value == null){
		alert('챌린지 태그를 입력해주세요.');
		challengeTag4.focus();
		submitFlag = false;
		return submitFlag;
	}*/

	if(challengeScopeValue  == 'none'){
		alert('챌린지 공개범위를 선택해주세요.');
		challengeScope.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeScopeValue == '비공개' && challengeParticipationPasswordValue == '' || challengeParticipationPasswordValue == undefined || challengeParticipationPasswordValue == null){
		alert('챌린지 참여 비밀번호를 입력해주세요.');
		challengeParticipationPassword.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeIntroduceValue == '' || challengeIntroduceValue == undefined || challengeIntroduceValue == null){
		alert('챌린지 소개를 입력해주세요.');
		challengeIntroduce.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	
	if(challengeMaximumPeopleValue == '' || challengeMaximumPeopleValue == undefined || challengeMaximumPeopleValue == null){
		alert('챌린지 참여 최대 인원수를 입력해주세요.');
		challengeMaximumPeople.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeBetAmountValue == '' || challengeBetAmountValue == undefined || challengeBetAmountValue == null){
		alert('챌린지 베팅금액을 입력해주세요.');
		challengeBetAmount.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	
	if(challengeCertificationMethodValue == 'none'){
		alert('챌린지 인증방법을 선택해주세요.');
		challengeCertificationMethod.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeCertificationContentsValue == '' || challengeCertificationContentsValue == undefined || challengeCertificationContentsValue == null){
		alert('챌린지 인증내용을 입력해주세요.');
		challengeCertificationContents.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeCertificationFrequencyValue == 'none'){
		alert('챌린지 인증빈도를 선택해주세요.');
		challengeCertificationFrequency.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeStartDateValue == '' || challengeStartDateValue == undefined || challengeStartDateValue == null){
		alert('챌린지 시작일을 입력해주세요.');
		challengeStartDate.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(challengeEndDateValue == '' || challengeEndDateValue == undefined || challengeEndDateValue == null){
		alert('챌린지 종료일을 입력해주세요.');
		challengeEndDate.focus();
		submitFlag = false;
		return submitFlag;
	}
	
	if(submitFlag)challengeInsertForm.submit();
	
});
</script>
</th:block>

</html>