<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">

<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 탐색하기</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>

</th:block>



<th:block layout:fragment="container">
	


	<div class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 상세검색</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                
                             <div class="col-md-10 offset-md-1">
                                 <div class="row">
                                 <div class="col-3">
			                                <div class="form-group">
			                                    <label>카테고리</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>학력</option>
							                          <option>프로젝트</option>
							                          <option>자격증</option>
							                          <option>공인어학(외국어능력)</option>
							                          <option>기술스택</option>
							                          <option>직종전문교육과정</option>
							                          <option>인턴십</option>
							                          <option>공모전</option>
							                          <option>경력</option>
                                   				 </select>
			                                </div>
			                            </div>
                                 	
			                            <div class="col-3">
                                         <div class="form-group">
                                             <label>챌린지 기간선택</label>
                                             <input type="date" id="adminChallengeStartDate" class="form-control" placeholder="챌린지 시작일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
                                         <div class="form-group">
                                             <label>&emsp;</label>
                                             <input type="date" id="adminChallengeEndDate" class="form-control" placeholder="챌린지 종료일을 선택해주세요.">
                                         </div>
                                     </div>
                                     <div class="col-3">
			                                <div class="form-group">
			                                    <label>챌린지 기간</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>1주</option>
							                          <option>2주</option>
							                          <option>3주</option>
							                          <option>1개월</option>
							                          <option>2개월</option>
							                          <option>3개월</option>
							                          <option>6개월</option>
                                   				 </select>
			                                </div>
			                            </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>기간별 정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>시작일 기준</option>
			                                        <option>종료일 기준</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
                                         <div class="form-group">
                                             <label>정렬기준</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>최신순</option>
			                                        <option>오래된순</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-4">
			                                <div class="form-group">
			                                    <label>인증빈도</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>월~일 매일 인증하기</option>
							                          <option>월~금 매일 인증하기</option>
							                          <option>토~일 매일 인증하기</option>
							                          <option>주 6일 인증하기</option>
							                          <option>주 5일 인증하기</option>
							                          <option>주 4일 인증하기</option>
							                          <option>주 3일 인증하기</option>
							                          <option>주 2일 인증하기</option>
							                          <option>주 1일 인증하기</option>
                                   				 </select>
			                                </div>
			                            </div>
                                     </div>
                                     <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <div class="col-3">
                                            <div class="form-group">
			                                    <label>검색옵션</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected" data-select2-id="8">전체</option>
			  										<option>챌린지명</option>
			  										<option>인증내용</option>
			  										<option>챌린지명+인증내용</option>
			  										<option>태그</option>
												</select>
			                                </div>
                                        </div>
                                         <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="검색어를 입력해주세요" value="">
                                         <div class="input-group-append">
                                             <button type="button" class="btn btn-lg btn-default btn-sm" th:onclick="|location.href='@{#}'|" style="height : 49px;margin-top : 25px;">
                                                 <i class="fa fa-search"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                                 </div>
                                 </div>
                             </form>
                             </div>
                         </section>
                         </div>
                 </div>
       <!-- /검색-->
	
    	<div class="card card-default" >
		<div class="card-header">
			<h3 class="card-title">진행중인 챌린지</h3>
		</div>
			<div class="card-body">
			<div class="exploationBtnGroup" >
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_all">
		       <i class="fas fa-list"></i><span id="전체">전체</span> 
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_01">
		       <i class="fas fa-graduation-cap" ></i><span id="학력">학력</span>
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_02">
		        <i class="fas fa-file-code"></i><span id="">프로젝트</span>
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_03">
		         <i class="fas fa-certificate"></i><span id="자격증">자격증</span> 
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_04">
		         <i class="fas fa-atlas"></i><span id="공인어학">공인어학</span> 
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_05">
		        <i class="fab fa-dev"></i><span id="기술스택">기술스택</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_06">
		        <i class="fas fa-university"></i><span id="직종전문교육과정">직종전문교육과정</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_07">
		        <i class="fas fa-briefcase"></i><span id="인턴십">인턴십</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_08">
		       <i class="fas fa-pen-alt"></i><span id="공모전">공모전</span>  
		    </button>
			<button class="btn btn-app challengeCategory" id="byCategory" name="button" value="challenge_category_code_09">
		        <i class="fas fa-user-tie"></i><span id="경력">경력</span>  
		    </button>
   		</div>
            <div class="row" id="challengeExplorationCardRow">
             <div th:each="l: ${challengeExplorationList}" id="challengeExplorationCard" class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
	          <div class="card bg-light d-flex flex-fill">
	             <div class="card-header text-muted border-bottom-0">
	             </div>
	             <div class="card-body pt-0">
	               <div class="row">
	                 <div class="col-12">
	                   <h2 th:text="${l.challengeCode}" id="challengeCode" class="lead" style="display: none;"></h2>
	                   <h2 th:text="${l.challengeName}" id="challengeName" class="lead"></h2>
	                   <!-- 알파벳 100자 작성가능  한글 54자 작성가능 -->
	                   <p class="text-muted text-sm" id="challengeTag" th:text="${l.challengeTag}"></p>       
	                   <p style="display: none;" class="text-muted text-sm" id="challengeCategoryCode" th:text="${l.challengeCategoryCode}"></p>       
	                 </div>
	               </div>
	             </div>
	             <div class="card-footer">
	               <div class="text-right">
	                 <a th:href="@{/challengeExplorationDetailInfo(challengeCode=${l.challengeCode})}" class="btn btn-sm btn-primary">
	                   		챌린지 정보보기
	                 </a>
	               </div>
	             </div>
	           </div>
	    	 </div>
	    	</div>
	    </div>
   	</div>
    	
</th:block>

<th:block layout:fragment="pageJavascript">
<script type="text/javascript">
	$(function(){
	var exploationBtn = $('.exploationBtnGroup').find('button');

	$.each(exploationBtn, function(e){
		
		var challengeCategoryCodeValue = $(this).val();
		console.log("챌린지 카테고리 코드 : " + challengeCategoryCodeValue);
		
		var categoryBtnName = $(this).find('span').text();
		console.log("챌린지 카테고리 버튼명 : " + categoryBtnName);
		
		$(this).click(function(e){
		if(challengeCategoryCodeValue != '' && categoryBtnName != ''){
				jQuery.ajax({ 
			        type: "POST", 
			        url: "/byCategoryExploration", 
			        data: { challengeCategoryCode : challengeCategoryCodeValue, 
			        		challengeCategoryName : categoryBtnName},
			        dataType : 'json',
			        success: function (data) { 
			           console.log('data : ',data,'- 잘 받았음');
			           console.log('type check data : ',typeof(data));//String이네
			           console.log(data.length);
			 
		        	 $("#challengeExplorationCardRow").children().remove();
		        	 if(data != null && data != undefined && data != '' && data.length > 0){
		        		 var html = '';
	        			$.each(data, function(index, item){
	        				html += "<div th:each='l: ${challengeExplorationList}' id='challengeExplorationCard' class='col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column'>";
	        				html += "<div class='card bg-light d-flex flex-fill'>";
	        				html += "<div class='card-header text-muted border-bottom-0'>";
	        				html += "</div>";
	        				html += "<div class='card-body pt-0'>";
	        				html += "<div class='row'>";
	        				html += "<div class='col-12'>";
	        				html += "<h2 id='challengeName' class='lead'>";
	        				html += item.challengeName;
	        				html += "</h2>";
	        				html += "<p class='text-muted text-sm' id='challengeTag'>";
	        				html += item.challengeTag;
	        				html += "</p>";
	        				html += "</div>";
	        				html += "</div>";
	        				html += "</div>";
	        				html += "<div class='card-footer'>";
	        				html += "<a href='" + "/challengeExplorationDetailInfo?challengeCode="
	        				html += item.challengeCode;
	        				html +=	"' class='btn btn-sm btn-primary'>";
	        				html += "챌린지 정보보기";
	        				html += "</a></div></div></div></div>";
	        			})
		        	 }else{
		        		 html = "<span>" + categoryBtnName + " 카테고리에 해당하는 챌린지가 없습니다." +"</span>";
		        	 }
		        	 $("#challengeExplorationCardRow").html(html);
			        }, 
			        error: function (xhr, status, error) { 
			        	alert('error');
			        } 
					});
				}
		  });
	});
});
	
</script>	
</th:block>
</html>