<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!챌린지 인증 등록하기</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertificationInfo'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>

<th:block layout:fragment="container">
<section class="content" id="challengeCertificationInsertSection">
      <div class="row">
       <!-- ChallengeInsertCard1 Start -->
        <div class="col-md-12">
          <div class="card card-default" id="challengeCertificationInsertCard">
			<article>
			<div class="container" id="challengeCertificationInsert" role="main" th:if="${#lists.size(challengeCertificationInfo) > 0}" th:each="l, idx : ${challengeCertificationInfo}">
				<form id="challengeCertificationInsertform" th:action="@{/challengeCertificationInsert}" method="post" >
					<h2 class="challengeCertificationInsertformTitle">챌린지 인증 등록</h2>
				<div class="mb-3">
					<input type="hidden" class="form-control" name="challengeCategoryCode" id="challengeCategoryCode" th:value="${challengeCertificationInfo.challengeCategory.challengeCategoryCode}">
					<input type="hidden" class="form-control" name="challengeCode" id="challengeCode" th:value="${challengeCertificationInfo.challenge.challengeCode}">
					<input type="hidden" class="form-control" name="challengeParticipationCode" id="challengeParticipationCode" th:value="${challengeCertificationInfo.challengeParticipation.challengeParticipationCode}">
				</div>
				<div class="mb-3">
					<label for="title">제목</label>
					<input type="text" class="form-control" name="challengeCertificationTitle" id="challengeCertificationTitle" placeholder="제목을 입력해주세요.">
				</div>
				<div class="mb-3">
					<label for="reg_id">작성자</label>
					<input type="text" class="form-control" th:value="${challengeCertificationInfo.challengeParticipation.challengeParticipationEmail}" name="challengeParticipationEmail" id="challengeParticipationEmail" placeholder="이메일을 입력해주세요.">
				</div>
			  <div class="form-group">
                <label for="challengeName">챌린지명</label>
                <input type="text" name="challengeName" th:value="${challengeCertificationInfo.challenge.challengeName}" class="form-control" readonly="readonly" style="background-color: white;">
              </div>
             <div class="form-group">
                <label for="challengeName">챌린지 카테고리</label>
                <input type="text" name="challengeName" th:value="${challengeCertificationInfo.challengeCategory.challengeCategoryName}" class="form-control" readonly="readonly" style="background-color: white;">
              </div>
				<div class="form-group">
                <label for="challengeName">챌린지 인증방법</label>
                <input type="text" name="challengeCertificationMethod" th:value="${challengeCertificationInfo.challenge.challengeCertificationMethod}" class="form-control" readonly="readonly" style="background-color: white;">
              </div>
				<div class="form-group">
                	<label for="challengeCertificationContents">챌린지 인증내용</label>
                	<textarea name="challengeCertificationContents" class="form-control" rows="3"></textarea>
            	</div>
				<div class="mb-3">
                    <label for="customFile">챌린지 인증 첨부파일</label>
                    <div class="custom-file">
                      <input type="file" multiple="multiple" class="custom-file-input" name="challengeCertificationAttachedFile" id="challengeCertificationAttachedFile" placeholder="첨부할 파일을 선택하세요.">
                      <label class="custom-file-label" for="customFile">첨부할 파일을 선택하세요.</label>
                    </div>
                  </div>
			</form>
			<div class="row">
		        <div class="col-12" id="challengeCertificationInsertBtnGroup">
		        <button type="button" id="challengeCertificationInsertBtn" class="btn btn-primary">인증 등록</button>
				<button type="button" th:onclick="|location.href='@{challengeCertificationBoard(challengeCode=${l.challenge.challengeCode})}'|" class="btn btn-primary" id="btnList">목록 보기</button>
		        </div>
			</div>
		</div>
	</article>
	</div>
	</div>
	</div>
	</section>

</th:block>


<th:block layout:fragment="pageJavascript">
<script>
$('#challengeCertificationInsertBtn').click(function(){
	var challengeCertificationInsertform = $('#challengeCertificationInsertform');
	challengeCertificationInsertform.submit();
	
});
</script>
</th:block>
</html>