<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeParticipation'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>



<th:block layout:fragment="container">

<div class="card card-default ">
			<div class="card-body">
			    <section class="content">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">챌린지 참여하기</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                    <div class="card-body">
			                    
		<!-- 챌린지 정보 카드 -->		                    
		<div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">챌린지 기본정보</h3>
            </div>
            <div class="card-body">
            
            
	    	  <div class="form-group"> 
                <label for="challengeName">챌린지명</label>
                 <input type="hidden" id="challengeCode" name="challengeCode" th:value="${challenge.challengeCode}" class="form-control" readonly="readonly" style="background-color: white">
                <input type="text" id="challengeName" name="challengeName" th:value="${challenge.challengeName}" class="form-control" readonly="readonly" style="background-color: white">
              </div>
              <div class="form-group" id="challengeTerm">
                <label for="challengeStartDate">챌린지 기간</label>  
              	<div class="row">
                <input type="text" id="challengeStartDate" name="challengeStartDate" th:value="${challenge.challengeStartDate}" class="form-control" readonly="readonly" style="background-color: white; width: 422px;">
                <div class="input-group-prepend">
	                 <span class="input-group-text">~</span>
                </div>
                <input type="text" id="challengeEndDate" name="challengeEndDate" th:value="${challenge.challengeEndDate}" class="form-control" readonly="readonly" style="background-color: white; width: 422px;">
              	</div>
              </div>
              <div class="form-group">
                <label for="challengeCertificationFrequency">챌린지 인증빈도</label>
                <input type="text" id="challengeCertificationFrequency" name="challengeCertificationFrequency" th:value="${challenge.challengeCertificationFrequency}" class="form-control" readonly="readonly" style="background-color: white">
              </div>
               <div class="form-group">
                 <label for="challengeMaximumPeople">챌린지 참가인원</label>
               <div class="input-group mb-3">
                 <input type="text" id="challengeMaximumPeople" name="challengeMaximumPeople" th:value="${challenge.challengeMaximumPeople}" class="form-control" readonly="readonly" style="background-color: white">
	                  <div class="input-group-prepend">
	                  	<span class="input-group-text">명</span>
	                  </div>
               </div>
               <div class="form-group">
                        <label for="challengeBetAmount">챌린지 베팅금액</label>
               <div class="input-group mb-3">
                 	  <div class="input-group-prepend" >
	                  	<span class="input-group-text">총</span>
	                  </div>
               <input type="text" id="challengeBetAmount" name="challengeBetAmount" th:value="${challenge.challengeBetAmount}" class="form-control" readonly="readonly" style="background-color: white">
	                  <div class="input-group-prepend">
	                  	<span class="input-group-text">원</span>
	                  </div>
                </div>
            <!-- /.card-body -->
			<!-- 챌린지 정보카드 -->   
		</div>
		</div>
		</div>
		<!-- 챌린지 결제금액 카드 -->		                    
		<div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">챌린지 결제금액</h3>
            </div>
            <div class="card-body">
            	<div class="form-group">
                <label for="inputName">총 베팅금액</label>
                <h4 id="totalBetingPrice" th:text="|${challenge.challengeBetAmount} 원|"></h4>
              </div>
			</div>
			<div class="card-footer">
            	<div class="form-group">
                <label for="inputName">총 결제금액</label>
                <h4 id="totalPaymentPrice" th:text="|${challenge.challengeBetAmount} 원|">10000원</h4>
			</div>
			</div>
              </div>
              </div>
            </div>
            <!-- /.card-body -->
			<!-- 챌린지 결제금액 카드 -->   
		</div>
		
		<!-- 챌린지 결제수단 카드 -->		                    
		<div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">챌린지 결제수단</h3>
            </div>
            
        <div class="btnGroup" id="">
			<div class="btn btn-primary btn-lg btn-flat" th:onclick="|location.href='@{#}'|" id="creditCardBtn">
					  <i class="fas fa-credit-card fa-lg mr-2"></i>
					  신용/체크카드</a>
	     	</div>
			<div class="btn btn-primary btn-lg btn-flat" th:onclick="|location.href='@{#}'|" id="accountkBtn">
					  <i class="fas fa-money-bill fa-lg mr-2"></i>
					 계좌이체</a>
	     	</div>
     	</div>
              </div>
              </div>
            </form>
            </div>
            <!-- /.card-body -->
			<!-- 챌린지 결제수단 카드 -->   
		</section>
		</div>
		
		<div class="btnGroup">
		<div class="btn btn-danger btn-lg btn-flat" th:onclick="|location.href='@{/myChallenge(challengeCode=${challenge.challengeCode})}'|" id="participationBtn">
				  <i class="fas fa-credit-card fa-lg mr-2"></i>
                  결제하기
        </div>
		</div>
		</div>
		
			               
</th:block>

<th:block layout:fragment="pageJavascript">
<script type="text/javascript">
		$(function(){
				$('#participationBtn').click(function){
				var sessionEmail = '<%=(String)session.getAttribute("UEMAIL")%>';
				if(sessionEmail=="null"){ 
		             alert("접근 권한이 없습니다. 로그인을 해주세요.");
		             location.href='/login';
		          }
			}
		});
</script>	
</th:block>
</html>