<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">챌린지 인증 게시판</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallengeInfo'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>



	<th:block layout:fragment="container">

			<div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">챌린지 인증</h3>
                <div class="card-tools">
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0 table-striped">
                    <thead>
                   		 <tr>
	                      	<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일</th>
							<th>조회수</th>
	                    </tr>
                    </thead>
                    <tbody class="challengeCertificationBoardList">
						<tr th:if="${#lists.size(challengeCertificationBoardList) > 0}" th:each="l, idx : ${challengeCertificationBoardList}">
							 <td id="indexCount" th:text="${idx.count}"></td>
							 <td id="challengeCertificationTitle"><a th:text="${l.challengeCertificationTitle}" th:href="@{/challengeCertificationBoardView(challengeCode=${challengeCode})}"></a></td>
							 <td id="challengeParticipationEmail" th:text="${l.challengeParticipation.challengeParticipationEmail}"></td>
							 <td id="challengeCertificationDate" th:text="${l.challengeCertificationDate}"></td>
							<td>10</td>
						</tr>
					</tbody>                  
					</table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix" style="background-color: white; height: 50px;">
                <a th:href="@{/challengeCertificationInsert}">
                <button type="button" class="btn btn-sm btn-primary float-right" style="float: right">인증 등록하기</button></a>         
               </div>
               <div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                <li class="page-item"><a class="page-link" th:href="@{/challengeCertificationBoard}"> << </a></li>
						<li class="page-item"><a class="page-link" th:if="${currentPage > 1}" th:href="@{/challengeCertificationBoard(challengeCode=${challengeCode},currentPage=${currentPage - 1})}">이전</a></li>
							<th:block th:each="num:${#numbers.sequence(pageStartNum, pageEndNum)}">
							<li class="page-item "><a class="page-link" th:if="${num != currentPage}" th:href="@{/challengeCertificationBoard(currentPage=${num}, challengeCode=${challengeCode})}">[[${num}]]</a></li>
							<li class="page-item active"><a class="page-link" th:unless="${num != currentPage}">[[${num}]]</a></li>
							</th:block>
						<li class="page-item"><a class="page-link" th:if="${currentPage < lastPage}" th:href="@{/challengeCertificationBoard(currentPage=${currentPage + 1}, challengeCode=${challengeCode})}">다음</a></li>
						<li class="page-item"><a class="page-link" th:href="@{/challengeCertificationBoard(currentPage=${lastPage})}">>></a></li>
		                </ul>
			   </div>	
              <!-- /.card-footer -->
            </div>
			
	</th:block>
	
	<th:block layout:fragment="pageJavascript">
	<script th:inline="javascript">
	$(function(){
	});
	</script>	
	
	</th:block>
</html>

