<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!나의 챌린지</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>



	<th:block layout:fragment="container">
		
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">챌린지 현황</h3>

             <div class="card-tools">
             </div>
           </div>
           <div class="card-body">
            		<div class="btn-group" id="myChallengeStatus">
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallenge}'|" style="color: white;">3<br>전체</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeParticipationList}'|" style="color: white;">1<br>참여중</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeCompleteList}'|" style="color: white;">1<br>완료</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeInsertList}'|" style="color: white;">1<br>개설</button>
                    </div>
           </div>
           <!-- /.card-body -->

         </div>
         <!-- /.card -->
         
         
         
          <div th:replace="/fragments/challengeSearchForm/myChallengeCommonSearchForm :: myChallengeCommonSearchForm"></div>
         
         
         
         <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
					<ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; <b>나의 챌린지 목록</b>
				</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
                     <tr>
		                      	<th>번호</th>
								<th>챌린지명</th>
								<th>카테고리</th>
								<th>공개범위</th>
								<th>태그</th>
								<th>참가인원</th>
								<th>베팅금액</th>
								<th>챌린지 시작일</th>
								<th>챌린지 종료일</th>
								<th>진행율</th>
		                     	<th>상태</th>
		                     	<th>상세정보</th>
		                     	<th>인증하기</th>
		                    </tr>
                  </thead>
                  <tbody>
                  
                  <tr th:if="${#lists.size(myChallengeList) > 0}" th:each="l, idx : ${myChallengeList}">
							<td th:text="${idx.count}"></td>
							<!-- <td style="display: none;" th:text="${l.challengeCode}"></td> -->
							<td th:text="${l.challenge.challengeName}"></td>
							<td th:text="${l.challengeCategory.challengeCategoryName}"></td>
							<td th:text="${l.challenge.challengeScope}"></td>
			                <td th:text="${l.challenge.challengeTag}"></td>
							<td th:text="${l.challenge.challengeMaximumPeople}"></td>
							<td th:text="${l.challenge.challengeBetAmount}"></td>
							<td th:text="${l.challenge.challengeStartDate}"></td>
							<td th:text="${l.challenge.challengeEndDate}"></td>
							<td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-primary" style="width: 50%"></div>
							   </div>
							   <small>
									50% Complete
								</small>
							</td>
							<td>
							<td><span class="badge bg-primary">개설</span></td>
		                     <td>
			                    <a th:href="@{/myChallengeDetailInfo}">
										<button type="button" class="btn btn-default btn-xs"  id="progressingDetailPlan"  >
											<i class="fas fa-folder">
											</i>
											상세정보
										</button>
								</a>
							</td>
		                    <td>
			                      <a th:href="@{/challengeCertificationInsert}">
										<button type="button" class="btn btn-default btn-xs"  id="progressingDetailPlan"  >
											<i class="fas fa-folder">
											</i>
											인증하기
										</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- myChallenge 페이지번호  -->
			<div class="card-footer clearfix">
						<br>
		                <ul class="pagination pagination-sm m-0 float-right">
		                <li class="page-item"><a class="page-link" th:href="@{/myChallenge}"> << </a></li>
						<li class="page-item"><a class="page-link" th:if="${currentPage > 1}" th:href="@{/myChallenge(currentPage=${currentPage - 1})}">이전</a></li>
							<th:block th:each="num:${#numbers.sequence(pageStartNum, pageEndNum)}">
							<li class="page-item "><a class="page-link" th:if="${num != currentPage}" th:href="@{/myChallenge(currentPage=${num})}">[[${num}]]</a></li>
							<li class="page-item active"><a class="page-link" th:unless="${num != currentPage}">[[${num}]]</a></li>
							</th:block>
						<li class="page-item"><a class="page-link" th:if="${currentPage < lastPage}" th:href="@{/myChallenge(currentPage=${currentPage + 1})}">다음</a></li>
						<li class="page-item"><a class="page-link" th:href="@{/myChallenge(currentPage=${lastPage})}">>></a></li>
		                </ul>
			   </div>				
		</div>
		</div>
		</div>
	</th:block>
	
	
	<th:block layout:fragment="pageJavascript">
	
	</th:block>
</html>

