<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!나의 챌린지</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallenge'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>



	<th:block layout:fragment="container">
		
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">챌린지 현황</h3>

             <div class="card-tools">
               <button type="button" class="btn btn-tool col-sm-12" >
                 <i class="fas fa-cog"></i>
               </button>
             </div>
           </div>
           <div class="card-body">
            		<div class="btn-group" id="myChallengeStatus">
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeParticipationList}'|" style="color: white;">1<br>참여중</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeCompleteList}'|" style="color: white;">1<br>완료</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeInsertList}'|" style="color: white;">1<br>개설</button>
                    </div>
           </div>
           <!-- /.card-body -->

         </div>
         <!-- /.card -->
         
         
         
         <div class="card card-default">
			<div class="card-body">
			    <section class="content" id="challengeExplorationSection">
			        <div class="container-fluid">
			            <h2 class="text-center display-5">나의 챌린지 조회</h2>
			            <form action="enhanced-results.html">
			                <div class="row">
			                
			                
                             <div class="col-md-10 offset-md-1">
                                 <div class="row">
                                 	<div class="col-3">
			                                <div class="form-group">
			                                    <label>인증빈도</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option>월~일 매일 인증하기</option>
							                          <option>월~금 매일 인증하기</option>
							                          <option>토~일 매일 인증하기</option>
							                          <option>주 6일 인증하기</option>
							                          <option>주 5일 인증하기</option>
							                          <option>주 4일 인증하기</option>
							                          <option>주 3일 인증하기</option>
							                          <option>주 2일 인증하기</option>
							                          <option>주 1일 인증하기</option>
                                   				 </select>
			                                </div>
			                            </div>
			                            <div class="col-2">
			                                <div class="form-group" data-select2-id="10">
			                                    <label>상태</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                      	<option selected="selected">전체</option>
			                                        <option>참여중</option>
			                                        <option>완료</option>
			                                        <option>개설</option>
			                                    </select>
			                                </div>
			                            </div>
			                            <div class="col-3">
			                                <div class="form-group">
			                                    <label>챌린지 기간</label>
			                                    <select class="js-example-placeholder-single js-states form-control" style="width: 100%;" data-select2-id="6" tabindex="-1" aria-hidden="true">
							                          <option selected="selected">전체</option>
							                          <option selected="selected">1주</option>
							                          <option data-select2-id="16">2주</option>
							                          <option data-select2-id="16">3주</option>
							                          <option data-select2-id="16">1개월</option>
							                          <option data-select2-id="16">2개월</option>
							                          <option data-select2-id="16">3개월</option>
							                          <option data-select2-id="16">기간설정</option>
                                   				 </select>
			                                </div>
			                            </div>
                                     
                                     
                                    <div class="col-2">
                                         <div class="form-group">
                                             <label>정렬기준1 : 날짜</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>최신순</option>
			                                        <option>오래된순</option>
											</select>
                                         </div>
                                     </div>
                                     <div class="col-2">
                                         <div class="form-group">
                                             <label>정렬기준2 : 문자</label>
                                             <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>오름차순</option>
			                                        <option>내림차순</option>
											</select>
                                         </div>
                                     </div>
                                 
                                 </div>
                                 <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <div class="col-3">
			                                <div class="form-group">
			                                    <label>검색조건</label>
			                                    <select class="js-example-placeholder-single js-states form-control">
			                                    	<option selected="selected">전체</option>
			  										<option>챌린지명으로 검색하기</option>
			  										<option>내용으로 검색하기</option>
			  										<option>챌린지명+내용으로 검색하기</option>
			  										<option>카테고리로 검색하기</option>
			  										<option>태그로 검색하기</option>
												</select>
			                                </div>
			                            </div>
                                         <input type="search" class="form-control form-control-lg" style="margin-top : 25px;" placeholder="Type your keywords here" value="검색어를 입력해주세요">
                                         <div class="input-group-append">
                                             <button type="button" class="btn btn-lg btn-default btn-sm" th:onclick="|location.href='@{#}'|" style="height : 49px;margin-top : 25px;">
                                                 <i class="fa fa-search"></i>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
             </section>
            </div>
       </div>
       <!-- /검색-->
         
         
         
         <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
					<ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; <b>나의 챌린지 전체보기</b>
				</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
                     <tr>
		                      <th>번호</th>
								<th>챌린지명</th>
								<th>카테고리</th>
								<th>공개범위</th>
								<th>태그</th>
								<th>참가인원</th>
								<th>베팅금액</th>
								<th>챌린지 기간</th>
								<th>진행율</th>
		                     	<th>상태</th>
		                     	<th>상세보기</th>
		                    </tr>
                  </thead>
                  <tbody>
                   	<tr>
							<td>1.</td>
							<td>1일 1깃허브</td>
							<td>기술스택</td>
							<td>공개</td>
							<td>#깃허브 #잔디 #경력 #개발</td>
							<td>3명</td>
							<td>10,000원</td>
							<td>
								2021년 4월 22일~2021년 5월 6일
							</td>
							<td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-primary" style="width: 50%"></div>
							   </div>
							   <small>
									50% Complete
								</small>
							</td>
							<td><span class="badge bg-primary">개설</span></td>
		                      <td>
			                    <a th:href="@{/myChallengeInfo}">
										<button type="button" class="btn btn-default btn-xs"  id="progressingDetailPlan"  >
											<i class="fas fa-folder">
											</i>
											챌린지 정보
										</button>
								</a>
							</td>
						</tr>
						<tr>
							<td>1.</td>
							<td>1일 1깃허브</td>
							<td>기술스택</td>
							<td>공개</td>
							<td>#깃허브 #잔디 #경력 #개발</td>
							<td>3명</td>
							<td>10,000원</td>
							<td>
								2021년 4월 22일~2021년 5월 6일
							</td>
							<td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-primary" style="width: 50%"></div>
							   </div>
							   <small>
									50% Complete
								</small>
							</td>
							<td><span class="badge bg-warning">참여중</span></td>
		                      <td>
			                    <a th:href="@{/myChallengeInfo}">
										<button type="button" class="btn btn-default btn-xs"  id="progressingDetailPlan"  >
											<i class="fas fa-folder">
											</i>
											챌린지 정보
										</button>
								</a>
							</td>
						</tr>
						<tr>
							<td>1.</td>
							<td>1일 1깃허브</td>
							<td>기술스택</td>
							<td>공개</td>
							<td>#깃허브 #잔디 #경력 #개발</td>
							<td>3명</td>
							<td>10,000원</td>
							<td>
								2021년 4월 22일~2021년 5월 6일
							</td>
							<td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-primary" style="width: 50%"></div>
							   </div>
							   <small>
									50% Complete
								</small>
							</td>
							<td><span class="badge bg-danger">완료</span></td>
		                     <td>
			                    <a th:href="@{/myChallengeInfo}">
										<button type="button" class="btn btn-default btn-xs"  id="progressingDetailPlan"  >
											<i class="fas fa-folder">
											</i>
											챌린지 정보
										</button>
								</a>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 코치 list 페이지번호  -->
			<div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
		</div>
		</div>
		</div>
	</th:block>
	
	
	<th:block layout:fragment="pageJavascript">
	
	</th:block>
</html>

