<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/challengeUserDefault}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}"></title>
	<div class="col-sm-6">
		<h1 class="m-0">!나의 참여 챌린지</h1>
	</div><!-- /.col -->
	<div class="col-sm-12">
		<ol class="breadcrumb float-sm-right">
			<div class="card-body table-responsive pad">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<a th:href="@{/mainChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'mainChallenge'}"> 챌린지 메인
					</a>
					<a th:href="@{/challengeExploration}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeExploration'}"> 챌린지 탐색하기
					</a>
					<a th:href="@{/challengeInsert}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeInsert'}"> 챌린지 개설하기
					</a>
					<a th:href="@{/challengeCertification}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'challengeCertification'}"> 챌린지 인증하기
					</a>
					<a th:href="@{/myChallenge}" class="btn btn-outline-info">
						<input type="radio" name="options" id="option_a1" autocomplete="off" th:checked="${radioCheck == 'myChallengeParticipationList'}"> 나의 챌린지
					</a>
				</div>
			</div>
		</ol>
	</div>
</th:block>



	<th:block layout:fragment="container">
		
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">챌린지 현황</h3>
             <div class="card-tools">
             </div>           </div>
           <div class="card-body">
            		<div class="btn-group" id="myChallengeStatus">
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallenge}'|" style="color: white;">3<br>전체</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeParticipationList}'|" style="color: white;">1<br>참여중</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeCompleteList}'|" style="color: white;">1<br>완료</button>
                        <button type="button" class="btn btn-info" th:onclick="|location.href='@{/myChallengeInsertList}'|" style="color: white;">1<br>개설</button>
                    </div>
           </div>
           <!-- /.card-body -->

         </div>
         <!-- /.card -->
         
        <div th:replace="/fragments/challengeSearchForm/myChallengeCommonSearchForm :: myChallengeCommonSearchForm"></div>

         
         <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
					<ion-icon size="small" name="list-outline"></ion-icon>
					&emsp; <b>참여중 나의 챌린지 목록</b>
				</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">
                  <thead>
                     <tr>
		                      <th>번호</th>
								<th>챌린지명</th>
								<th>카테고리</th>
								<th>공개범위</th>
								<th>태그</th>
								<th>참가인원</th>
								<th>베팅금액</th>
								<th>챌린지 기간</th>
								<th>진행율</th>
		                     	<th>상세보기</th>
		                    </tr>
                  </thead>
                  <tbody>
						<tr>
							<td>1.</td>
							<td>1일 1깃허브</td>
							<td>기술스택</td>
							<td>공개</td>
							<td>#깃허브 #잔디 #경력 #개발</td>
							<td>3명</td>
							<td>10,000원</td>
							<td>
								2021년 4월 22일~2021년 5월 6일
							</td>
							<td>
							   <div class="progress progress-sm">
							     <div class="progress-bar progress-bar bg-primary" style="width: 50%"></div>
							   </div>
							   <small>
									50% Complete
								</small>
							</td>
		                     <td>
		                      <a th:href="@{/myChallengeInfo}">
										<button type="button" class="btn btn-default btn-xs"  id="progressingDetailPlan"  >
											<i class="fas fa-folder">
											</i>
											챌린지 정보
										</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- 코치 list 페이지번호  -->
			<div class="card-footer clearfix">
		                <ul class="pagination pagination-sm m-0 float-right">
		                  <li class="page-item"><a class="page-link" href="#">«</a></li>
		                  <li class="page-item"><a class="page-link" href="#">1</a></li>
		                  <li class="page-item"><a class="page-link" href="#">2</a></li>
		                  <li class="page-item"><a class="page-link" href="#">3</a></li>
		                  <li class="page-item"><a class="page-link" href="#">4</a></li>
		                  <li class="page-item"><a class="page-link" href="#">5</a></li>
		                  <li class="page-item"><a class="page-link" href="#">»</a></li>
		                </ul>
			   </div>	
		</div>
		</div>
		</div>
	</th:block>
	
	
	<th:block layout:fragment="pageJavascript">
	
	</th:block>
</html>

