<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<script src="js.app/index.js"></script>
	<div class="col-sm-6">
		<h1 class="m-0">학력 실천 계획 관리🌟</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a th:href="@{/totalPlan}">통합계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/Plan}">계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/detailPlan}">상세계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/actionPlan}">실천계획</a></li>
		</ol>
	</div><!-- /.col -->
	</th:block>
<th:block layout:fragment="container">
</head>
<body>
	<header>
 	</header>
 			
      <!-- Main content -->
              <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">학력 실천 등록</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                 <label for="actionEducationalHistoryTitle">학력 실천 제목</label>
                <input type="text" id="actionEducationalHistoryTitle" class="form-control" placeholder="제목을 입력하세요.">
              </div>
              <div class="form-group">
                 <label for="actionEducationalHistoryAuthor">학력 실천 작성자</label>
                <input type="text" id="actionEducationalHistoryAuthor" class="form-control" placeholder="작성자를 입력하세요.">
              </div>
              <div class="form-group">
                <label for="actionEducationalHistoryContent">학력 실천 내용</label>
                <textarea id="actionEducationalHistoryContent" class="form-control" rows="4" placeholder="내용을 입력하세요."></textarea>
              </div>
              <div class="form-group">
                    <label for="actionEducationalHistoryStartDate">학력 실천 시작일</label>
                    <input type="date" class="form-control" id="actionEducationalHistoryStartDate" name="actionEducationalHistoryStartDate">
                  </div>
                <div class="form-group">
                    <label for="actionEducationalHistoryEndDate">학력 실천 종료일</label>
                    <input type="date" class="form-control" id="actionEducationalHistoryEndDate" name="actionEducationalHistoryEndDate">
                  </div>    
              <div class="form-group">
                <label for="actionEducationalHistoryStatus">학력 실천 상태</label>
                <select id="actionEducationalHistoryStatus" class="form-control custom-select">
                  <option selected disabled>상태를 선택하세요.</option>
                  <option>진행중</option>
                  <option>중단</option>
                  <option>완료</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">학력 계획 상세</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="detailPlanEducationalHistoryContent">학력 계획 상세 내용</label>
                <textarea id="detailPlanEducationalHistoryContent" class="form-control" rows="4" placeholder="상세 내용 불러오기."></textarea>
              </div>
              <div class="form-group">
                    <label for="detailPlanEducationalHistoryStartDate">학력 계획 상세 시작일</label>
                    <input type="date" class="form-control" id="detailPlanEducationalHistoryStartDate" name="detailPlanEducationalHistoryStartDate">
                  </div>
             <div class="form-group">
                    <label for="detailPlanEducationalHistoryEndDate">학력 계획 상세 종료일</label>
                    <input type="date" class="form-control" id="detailPlanEducationalHistoryEndDate" name="detailPlanEducationalHistoryEndDate">
                  </div>   
            <div class="form-group">
                <label for="detailPlanEducationalHistoryStatus">학력 계획 상세 상태</label>
                <select id="detailPlanEducationalHistoryStatus" class="form-control custom-select" name="detailPlanEducationalHistoryEndDate">
                  <option selected disabled>상태를 선택하세요.</option>
                  <option>진행중</option>
                  <option>중단</option>
                  <option>완료</option>
                </select>
              </div>
           <div class="form-group">
                    <label for="detailPlanEducationalHistoryCreateDate">학력 계획 상세 작성일자</label>
                    <input type="date" class="form-control" id="detailPlanEducationalHistoryCreateDate" name="detailPlanEducationalHistoryCreateDate">
                  </div>        
              <div class="form-group">
                <label for="detailPlanEducationalHistorydegree">학력 계획 상세 차수</label>
                <input type="number" id="detailPlanEducationalHistorydegree" class="form-control" placeholder="차수를 선택하세요.">
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="/" class="btn btn-secondary">취소</a>
          <input type="submit" value="등록" class="btn btn-primary float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->
            

</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>
