<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">main title</title>
	<script src="js.app/index.js"></script>
	<div class="col-sm-6">
		<h1 class="m-0">실천 계획 관리🌟</h1>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a th:href="@{/totalPlan}">통합계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/Plan}">계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/detailPlan}">상세계획</a></li>
			<li class="breadcrumb-item"><a th:href="@{/actionPlan}">실천계획</a></li>
		</ol>
	</div><!-- /.col -->
	</th:block>
<th:block layout:fragment="container">
</head>
<body>
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">실천계획</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                  <tr style="text-align: center;">
                      <th style="width: 5%">
                          	순번
                      </th>
                      <th style="width: 20%">
                          	실천 계획명
                      </th>
                      <th style="width: 19%">
                          	실천 계획 내용
                      </th>
                      <th>
                           	시작일
                      </th>
                      <th>
                           	종료일자
                      </th>
                      <th style="width: 10%">
                           	진행율
                      </th>
                      <th style="width: 8%" class="text-center">
                          	상태
                      </th>
                      <th style="width: 3">
                      		차수
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr style="text-align: center;">
                     <td>
                          1
                      </td>
                      <td>
                     <a>컴퓨터공학 전공해서 취업하자</a>
                     <br>
                      	<small>
                              Created 05.24.2021
                          </small>
                      </td>
                      <td>
                      			랩실에서 하루도 빠짐없이 공부하기
                      </td>
                      <td>
            			2021.06.01
            				</td>
            		<td>
            			2021.06.30
            				</td>
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                              </div>
                          </div>
                          <small>
                              77% Complete
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">완료</span>
                      </td>
                       <td>
            				1차
            				</td>
								<td>
								<a class="btn btn-default btn-sm" a th:href="@{actionEducationalHistory}">
								<i class="fas fa-folder">
								</i>
								실천상세계획보기
							</a>
							</td>
								<td>
								<a class="btn btn-default btn-sm" a th:href="@{actionEducationalHistory}">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							</td>
								<td>
								<a class="btn btn-default btn-sm" a th:href="@{/}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
							</td>
                  <tr style="text-align: center;">
                     <td>
                          2
                      </td>
                     <td>
                     <a>인터넷응용보안공학과 전공성적 all A</a>
                     <br>
                      	<small>
                              Created 05.24.2021
                          </small>
                      </td>
                      <td>
                      			<a>중간, 기말고사 2주전부터 전공시험 공부하기</a>
                      			<br>
                      </td>
                      <td>
            			2021.06.01
            				</td>
            		<td>
            			2021.06.30
            				</td>
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                              </div>
                          </div>
                          <small>
                              50% Complete
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-primary">진행중</span>
                      </td>
                       <td>
            				1차
            				</td>
            				<td>
								<a class="btn btn-default btn-sm" href="/deleteTotalPlan">
								<i class="fas fa-folder">
								</i>
								실천상세계획보기
							</a>
							</td>
								<td>
								<a class="btn btn-default btn-sm" href="/deleteTotalPlan">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							</td>
								<td>
								<a class="btn btn-default btn-sm" a th:href="@{/}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
							</td>
                  </tr>
                  </tbody>
              <tbody>
                  <tr style="text-align: center;">
                     <td>
                          3
                      </td>
                      <td>
                     <a>졸업학점 채우기</a>
                     <br>
                      	<small>
                              Created 05.24.2021
                          </small>
                      </td>
                      <td>
                      			한 학기 최대 수강학점 수강하기
                      </td>
                      <td>
            			2021.06.01
            				</td>
            		<td>
            			2021.06.30
            				</td>
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                              </div>
                          </div>
                          <small>
                              77% Complete
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">완료</span>
                      </td>
                       <td>
            				1차
            				</td>
            				<td>
								<a class="btn btn-default btn-sm" href="/deleteTotalPlan">
								<i class="fas fa-folder">
								</i>
								실천상세계획보기
							</a>
							</td>
								<td>
								<a class="btn btn-default btn-sm" href="/deleteTotalPlan">
								<i class="fas fa-pencil-alt">
								</i>
								수정
							</a>
							</td>
								<td>
								<a class="btn btn-default btn-sm" a th:href="@{/}">
								<i class="fas fa-trash">
								</i>
								삭제
							</a>
							</td>
                  </tr>
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->
            

</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>
